/* @fileOverview Dashboard CSS */
@import "../foundation/variables";
@import "../includes/eucavariables";

$dashboard-panel-bottom-margin: 1.25rem;
$dashboard-panel-tile-height: 200px;
$dashboard-panel-padding: 4px;
$notifications-log-height: 436px;

#maincontent {
    background: #eaedee url(../../img/main-bgfill.png) repeat left top;
    padding-top: 1.5rem;
}

.large-3.columns .tile {
    margin-bottom: 10px;
}

.large-6.columns .row {
    margin-bottom: $dashboard-panel-bottom-margin;
}

.panel {
    position: relative;
    padding: $dashboard-panel-padding;
    border: none;
    background-color: white;
    font-size: 0.825rem;
}

.panel .tile {
    position: relative;
    height: $dashboard-panel-tile-height;
}


.panel .tile .icon {
    position: absolute;
    top: 20%; left: 20%;
    display: inline-block;
    width: 120px; height: 120px;
    border-radius: 100px;
    text-align: center;
    background: lighten($euca-extralightgrey, 2%);
    color: lighten($euca-lightgreen, 20%);
    font-size: 5rem;
}

.panel .tile .icon em {
    font-size: 4rem;
    position: absolute;
    bottom: 15%; left: 0; right: 0;
    text-align: center;
    color: $euca-darkgreen;
}

.panel .tile .footer {
    position: absolute;
    height: 30px;
    left: 0; right: 0; bottom: 0;
}

.panel .tile .footer .button {
    display: block;
    border: none;
}

#instances #running.tile .icon {
    top: 15%;
}

#instances #running.tile .icon em {
    font-size: 5rem;
}

#instances #stopped.tile .icon {
    color: lightpink;
}

#instances #stopped.tile .icon em {
    color: indianred;
}

#instances.panel .tile {
    border-bottom: 2px solid $euca-lightgrey;
    margin-bottom: 28px;
}

#instances.panel .tile:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

#elastic-ips.panel {
    margin-bottom: $dashboard-panel-bottom-margin;
    max-height: 208px;
}

#elastic-ips-panel .tile {
    height: $dashboard-panel-tile-height - 20px;
}

#notifications-log {
    height: $notifications-log-height;
    overflow: scroll-y;
}




// --- Media queries
// --------------------
//

/* Small screen */
@media screen and (max-width: $topbar-breakpoint) {
    .large-3.columns {
        padding-left: $dashboard-panel-padding;
        padding-right: $dashboard-panel-padding;
    }
}
