/* @fileOverview Dashboard CSS */
@import "../includes/eucavariables";

$dashboard-panel-tile-height: 200px;
$dashboard-panel-padding: 4px;
$dashboard-panel-border-width: 4px;
$dashboard-panel-border-color: $euca-lightgrey;
$dashboard-panel-icon-size: 80px;


#maincontent {
    padding-top: 1rem;
    background: #eef7e3;
    #pagetitle {
        h3 {
            font-weight: bold;
            margin-top: 0;
            display: inline-block;
        }
        #zone-selector {
            display: inline-block;
            margin-left: 1rem;
        }
    }
}

.panel {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    box-sizing: border-box;
    position: relative;
    font-size: 0.825rem;
    .tile {
        background-color: white;
        position: relative;
        height: $dashboard-panel-tile-height;
        padding: 4px 8px;
        .subheader {
            font-size: 1rem;
            font-weight: 500;
            color: #333;
            margin: 0 0 0 0;
        }
        .icon {  // Font icons
            position: absolute;
            top: 20%; left: 50%; margin-left: -($dashboard-panel-icon-size/2);
            display: inline-block;
            width: $dashboard-panel-icon-size; height: $dashboard-panel-icon-size;
            border-radius: 100px;
            text-align: center;
            background: $euca-darkblue;
            color: white;
            font-size: 3rem;
            em {  // Item counts
                font-size: 1.5rem;
                position: absolute;
                bottom: -50%; left: 0; right: 0;
                text-align: center;
                color: black;
                font-style: normal;
            }
        }
        .footer {
            position: absolute;
            height: 30px;
            left: 1rem; right: 1rem; bottom: 8px;
            text-align: center;
            a {
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }
            .button {
                display: inline-block;
                font-weight: bold;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        a:hover .icon {
            background-color: lighten($euca-darkblue, 20%);
        }
    }
}



// --- Media queries
// --------------------
//


/* Small screen */
@media screen and (max-width: 480px) {

}
