// @fileOverview IAM Policy Wizard styles

// Import common Foundation variables
@import "../includes/eucavariables";


// Select/create policy choices
.tabs-content {
    background-color: white;
    p {
        line-height: 1.3rem;
    }
    .small-10.columns {
        padding-left: 0;
    }
    .content {
        margin-top: 1rem;
        .choice {
            border-bottom: 1px solid $euca-lightgrey;
            margin-bottom: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            &:last-child {
                border-bottom: none;
            }
            .expando {
                i { margin-right: 8px; }
                i.fi-minus { margin-right: 7px; }
                a:hover { border-bottom: none; }
            }
            p.has-expando {
                margin-left: 24px;
            }
            .fileupload {
                margin-left: 2rem;
            }
            input[type=file] {
                display: inline-block;
                width: 90%;
                margin-left: 8px;
            }
        }
    }
}


// Policy preview
#policy-preview {
    background-color: white;
    padding: 1rem;
    margin-top: 40px;
    input[type=text], textarea {
        background-color: white;
    }
    h6.title {
        font-weight: bold;
        color: $euca-darkblue;
        margin-bottom: 1rem;
    }
}

// Policy generator styles
#policy-generator {
    .table {
        border-color: $euca-lightgrey;
        border-left: none;
        border-right: none;
        width: 100%;
        tr {
            &.namespace {
                border-top: 1px solid $euca-lightgrey;
                td {
                    font-size: 1rem;
                }
            }
        }
        th {
            &.allow, &.deny {
                text-transform: uppercase;
                width: 40px;
            }
        }
        td {
            font-size: 0.9rem;
            line-height: 1rem;
            &.allow, &.deny {
                text-align: center
            }
            .button {
                margin-bottom: 0;
            }
            input[type=text] {
                display: inline-block;
                width: 70%;
                height: auto;
                line-height: 1rem;
                padding: 4px 8px;
                margin-bottom: 8px;
            }
            label {
                margin-bottom: 2px;
            }
            i.tick {
                color: $euca-lightgrey;
                font-size: 1.2rem;
                &.fi-check.selected {
                    color: $euca-green;
                }
                &.fi-x.selected {
                    color: red;
                }
            }
        }
    }
}

#create-iam-policy-btn {
    margin-top: 1rem;
}


// CodeMirror styles
.CodeMirror {
    border: 1px solid $euca-lightgrey;
    min-height: 24rem;
}