/* @fileOverview Images landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";


// Tile/grid view
.tile {
    .header a {
        padding-right: 4px;
    }
    .label.has-tip {
        background: white;
        color: $euca-darkblue;
        font-weight: bold;
        border-bottom: 1px solid $euca-darkgrey;
    }
    .footer .action {
        display: block;
        position: absolute;
        left: 0; right: 0; bottom: 0;
        line-height: 1.5rem;
        text-align: center;
        background-color: $euca-green;
        color: white;
        &:hover {
            background-color: darken($euca-green, 10%);
        }
    }
}


// Table view
.table {
    td {
        .label {
            padding: 4px 6px;
            &.i386 { background-color: $euca-grey; }
            &.x86_64 { background-color: $euca-notificationblue; }
            &.ebs { background-color: $euca-darkgreen; }
            &.instance-store { background-color: darken($euca-grey, 15%); }
        }
        .emi-name {
            display: inline-block;
            width: 12rem;
            word-break: break-all;
        }
    }
}

// Adjustment for Images landing page not having an "Add Image" button.
.row.sort-search {
    margin-top: 20px;
}