/* @fileOverview Images landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";

.tile .label.has-tip {
    background: white;
    color: $euca-darkblue;
    font-weight: bold;
    border-bottom: 1px solid $euca-darkgrey;
}

.tile .footer .action {
    display: block;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    line-height: 1.5rem;
    text-align: center;
    background-color: $euca-lightgreen;
    color: white;
}

.row.sort-search {
    margin-top: 20px;
}