/* @fileOverview Instances landing page CSS */

$instance-box-row-height: 24px;
$instance-box-border-color: #999;

.instance-box {
    position: relative;
    display: inline-block;
    width: 200px; height: 200px;
    border: 3px solid $instance-box-border-color;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: $instance-box-row-height;
}

.instance-box .name {
    position: relative;
    padding: 4px 30px 4px 4px;
    border-bottom: 1px solid $instance-box-border-color;
    height: $instance-box-row-height;
}

.instance-box .name strong {
    font-weight: normal;
}

.instance-box .name .button.dropdown {
    position: absolute;
    width: 30px; height: $instance-box-row-height;
    top: 0; right: 0;
    font-size: 1rem;
    padding: 0 0 0 0;
    border: 1px solid $instance-box-border-color;
    border-top: none;
    border-right: none;
}

.instance-box .name .button.dropdown::before {
    border: none;
}

.instance-box .status {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    height: $instance-box-row-height;
    padding: 4px;
    color: white;
}

.instance-box .status.running { background-color: green; }
.instance-box .status.pending { background-color: lightgreen; }
.instance-box .status.stopped { background-color: red; }
.instance-box .status.stopping { background-color: lightpink; }
.instance-box .status.terminated { background-color: gray; }
.instance-box .status.terminating { background-color: lightgray; }


