/* @fileOverview single Instance page CSS */

@import "../includes/eucavariables";

// Import landing page styles for tile view display on instance volumes page
@import "../includes/landingpage";

// Status colors
$instance-status-color-running: darken($euca-green, 10%);
$instance-status-color-pending: $euca-grey;
$instance-status-color-stopped: darken(red, 20%);
$instance-status-color-stopping: lighten(red, 20%);
$instance-status-color-terminated: $euca-darkgrey;
$instance-status-color-terminating: lightgrey;

$volume-status-color-attached: $euca-green;
$volume-status-color-attaching: lighten($euca-green, 10%);
$volume-status-color-detaching: $euca-grey;


.row .status.running { background-color: $instance-status-color-running; }
.row .status.pending { background-color: $instance-status-color-pending; }
.row .status.stopped { background-color: $instance-status-color-stopped; }
.row .status.stopping { background-color: $instance-status-color-stopping; }
.row .status.terminated { background-color: $instance-status-color-terminated; }
.row .status.terminating { background-color: $instance-status-color-terminating; }


// Forms
select { width: 50%; }

form .row.controls-wrapper {
    margin-bottom: 0;
}

#instance_type {
    width: 100%;
}

// Misc
.dots {
    margin-left: 1rem;
}

// Hide "?" help icon in breadcrumbs
#breadcrumbs .icon-block { display: none; }

#change-instance-state {
    display: inline-block;
    margin-left: 1rem;
}

#current-status {
    position: relative; top: 2px;
}


// Instance volumes page
.tile {
    @include panel-tile-mixin;
    .footer {
        &.attached { background-color: $volume-status-color-attached; }
        &.attaching { background-color: $volume-status-color-attaching; }
        &.detaching { background-color: $volume-status-color-detaching; }
    }
}

#attach-volume-modal {
    [data-abide] .inline .error small.error {
        display: block !important;
        margin-bottom: 0;
    }
    #device {
        width: 10rem;
    }
}


/* -----------------------------------------
   Media Queries
----------------------------------------- */

/* Small screen */
@media screen and (max-width: 480px) {
    select { width: 80%; }
}
