/* @fileOverview Instances landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";


// Status colors
$instance-status-color-running: $euca-green;
$instance-status-color-pending: lighten($euca-lightgreen, 20%);
$instance-status-color-stopped: darken(red, 20%);
$instance-status-color-stopping: lighten(red, 30%);
$instance-status-color-terminated: darken($euca-grey, 10%);
$instance-status-color-terminating: lightgrey;


.tile .status.running { background-color: $instance-status-color-running; }
.tile .status.pending { background-color: $instance-status-color-pending; }
.tile .status.stopped { background-color: $instance-status-color-stopped; }
.tile .status.stopping { background-color: $instance-status-color-stopping; }
.tile .status.terminated { background-color: $instance-status-color-terminated; }
.tile .status.shuttingdown { background-color: $instance-status-color-terminating; }



