// Import common Foundation variables
@import "../includes/eucavariables";

// Import common wizard styles
@import "../includes/wizard";


/* @section Launch Instance page styles */

#launch-instance-form {
    #number {
        width: 3rem;
    }
}

#bdmapping-editor {
    .storage-label {
        text-align: left;
    }
    .table {
        th {
            font-size: 0.825rem;
        }
    }
}

