/* @fileOverview Instances landing page CSS */
@import "../includes/landingpage";


// Status colors
$instance-status-color-running: green;
$instance-status-color-pending: lightgreen;
$instance-status-color-stopped: red;
$instance-status-color-stopping: lightpink;
$instance-status-color-terminated: gray;
$instance-status-color-terminating: lightgrey;


.tile.instance .status.running { background-color: $instance-status-color-running; }
.tile.instance .status.pending { background-color: $instance-status-color-pending; }
.tile.instance .status.stopped { background-color: $instance-status-color-stopped; }
.tile.instance .status.stopping { background-color: $instance-status-color-stopping; }
.tile.instance .status.terminated { background-color: $instance-status-color-terminated; }
.tile.instance .status.terminating { background-color: $instance-status-color-terminating; }


#maincontent .large-10.columns {
    padding-left: 0;
    padding-right: 0;
}

