/* @fileOverview single Instance page CSS */

@import "../foundation/variables";
@import "../includes/eucavariables";

// Import landing page styles for tile view display on instance volumes page
@import "../includes/landingpage";

// Status colors
$instance-status-color-running: darken($euca-green, 10%);
$instance-status-color-pending: $euca-grey;
$instance-status-color-stopped: darken(red, 20%);
$instance-status-color-stopping: lighten(red, 20%);
$instance-status-color-terminated: $euca-darkgrey;
$instance-status-color-terminating: lightgrey;

$volume-status-color-attached: $euca-green;
$volume-status-color-attaching: lighten($euca-green, 10%);
$volume-status-color-detaching: $euca-grey;


.row .status.running { color: $instance-status-color-running; }
.row .status.pending { color: $instance-status-color-pending; }
.row .status.stopped { color: $instance-status-color-stopped; }
.row .status.stopping { color: $instance-status-color-stopping; }
.row .status.terminated { color: $instance-status-color-terminated; }
.row .status.terminating { color: $instance-status-color-terminating; }


// Forms
select { width: 50%; }

form .row.controls-wrapper {
    margin-bottom: 0;
}

// Misc
.dots {
    margin-left: 1rem;
}

#change-instance-state {
    display: inline-block;
    margin-left: 1rem;
}

#instance-status-label {
    position: relative; top: 0;
}

#current-status {
    position: relative; top: 2px;
}

#instance-subnav {
    position: relative;
    top: -1.5rem;
    left: 1rem;
    margin-bottom: -1rem;
}


// Instance volumes page
.tile {
    background-color: white;
    border: 1px solid $euca-lightgrey;
    width: 180px; height: 140px;
    .header .button.dropdown {
        height: 30px;
        color: black;
    }
    .footer {
        &.attached { background-color: $volume-status-color-attached; }
        &.attaching { background-color: $volume-status-color-attaching; }
        &.detaching { background-color: $volume-status-color-detaching; }
    }
}

#attach-volume {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    a {
        display: block;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        &:hover {
            background-color: lighten($euca-lightgreen, 30%);
        }
    }
    .plus {
        font-size: 5rem;
        margin-bottom: 0.5rem;
    }
}

#attach-volume-modal {
    [data-abide] .inline .error small.error {
        display: block !important;
        margin-bottom: 0;
    }
    #device {
        width: 10rem;
    }
}


/* -----------------------------------------
   Media Queries
----------------------------------------- */

/* Small screen */
@media screen and (max-width: 480px) {
    select { width: 80%; }
}
