/* @fileOverview Instances landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";


// Status colors
$instance-status-color-running: $euca-green;
$instance-status-color-pending: darken($euca-extralightgreen, 20%);
$instance-status-color-stopped: $euca-orange;
$instance-status-color-stopping: lighten($euca-orange, 15%);
$instance-status-color-terminated: $euca-grey;
$instance-status-color-terminating: lightgrey;


// Tile/table view
.status.running { background-color: $instance-status-color-running; }
.status.pending { background-color: $instance-status-color-pending; }
.status.stopped { background-color: $instance-status-color-stopped; }
.status.stopping { background-color: $instance-status-color-stopping; }
.status.terminated { background-color: $instance-status-color-terminated; }
.status.shuttingdown { background-color: $instance-status-color-terminating; }



// Table view
.table {
    th, td {
        padding: 4px 7px;
    }
    .label {
        margin: 0 0 0 0;
    }
}

#terminate-instances-btn {
    margin-left: 1rem;
    border: none;
}

.connect-center {
    text-align: center;
}

