// Import common Foundation variables
@import "../includes/eucavariables";

// Import common wizard styles
@import "../includes/wizard";


/* @section Launch Config Wizard styles */

#launch-config-form {
    input.name {
        width: 100px;
        margin-right: 8px;
        margin-bottom: 4px;
        padding: 4px;
    }
    #instance_type {
        option {
            font-size: 0.825rem;
        }
    }
    #image-id-input {
        width: 10rem;
        display: inline;
    }
}


