/* @fileOverview Login page CSS */
@import "../includes/eucavariables";

$euca-login-panel-header-height: 36px;


#login-panel {
    background-color: white;
    border-radius: 8px;
}

#login-panel {
    position: relative;
    padding-top: $euca-login-panel-header-height + 44px;
    box-shadow: 0 3px 6px $euca-grey;
}

#login-panel .header {
    position: absolute;
    top: 20px; left: -8px; right: -8px;
    height: $euca-login-panel-header-height;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 65, 94, 0.7);
    padding: 8px 0 0 20px;
    color: $euca-darkblue;
    background-color: $euca-extralightblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

#login-panel label {
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    top: 8px; left: 16px;
}

#login-panel input {
    background-color: $euca-extralightgrey;
}

#login-panel h6 {
    font-family: $euca-header-font;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

#login-panel.hide-aws {
    max-width: 480px;
    margin: 0 auto;
}

#euca-login-button.button {
    background-color: $euca-green;
    border-color: darken($euca-green, 20%);
}

#aws-login-button.button {
    background-color: $aws-orange;
    border-color: darken($aws-orange, 20%);
}


// --- Media queries
// --------------------
//

/* Medium/large screen */
@media screen and (min-width: $topbar-breakpoint) {
    #login-panel-wrapper { margin-top: 4rem; }
    #login-panel h6 { padding-left: 1rem; }
}

/* Small screen */
@media screen and (max-width: $topbar-breakpoint) {
    #login-panel-wrapper {
        margin-top: 1rem;
    }
    #login-panel {
        border-radius: 0;
        box-shadow: none;
        padding-top: $euca-login-panel-header-height + 10px;
    }
    #login-panel .header {
        border-radius: 0;
        box-shadow: none;
        top: 0; left: 0; right: 0;
    }
}
