/* @fileOverview Login page CSS */
@import "../includes/eucavariables";

#notifications-wrapper {
    margin-top: 2rem;
}

#login-wrapper {
    position: relative;
    margin-top: 3rem;
    background-color: $euca-extralightgrey;
    padding: 10px;
    box-shadow: 0 3px 6px $euca-grey;
    label {
        font-weight: bold;
        white-space: nowrap;
        vertical-align: middle;
        position: relative;
        top: 0px; left: 0px; bottom: 10px;
    }
    input {
        background-color: $euca-extralightgrey;
    }
    .hide-aws {
        max-width: 480px;
        margin: 0 auto;
    }
    .tabs {
        a {
            padding: 16px 32px;
            font-weight: bold;
        }
        #euca-tab a {
            color: $euca-darkgreen;
        }
        #aws-tab a {
            color: darkorange;
        }
    }
    .tabs-content {
        padding: 1rem;
        padding-bottom: 2rem;
        background-color: white;
    }
}


#euca-login-button.button {
    background-color: $euca-green;
    border-color: darken($euca-green, 20%);
    margin-top: 10px;
    margin-bottom: 10px;
}

#aws-login-button.button {
    background-color: $aws-orange;
    border-color: darken($aws-orange, 20%);
    margin-top: 10px;
    margin-bottom: 10px;
}


// --- Media queries
// --------------------
//

/* Medium/large screen */
@media screen and (min-width: $topbar-breakpoint) {
    #login-panel-wrapper { margin-top: 4rem; }
    #login-panel h6 { padding-left: 1rem; }
}

/* Small screen */
@media screen and (max-width: $topbar-breakpoint) {
    #login-panel-wrapper {
        margin-top: 1rem;
    }
    #login-panel {
        border-radius: 0;
        box-shadow: none;
        padding: 10px;
    }
    #login-panel .header {
        border-radius: 0;
        box-shadow: none;
        top: 0; left: 0; right: 0;
    }
}
