/* @fileOverview Login page CSS */
@import "../includes/eucavariables";

#login-panel {
    background-color: white;
    border-radius: 8px;
}

#login-panel {
    position: relative;
    padding: 10px;
    box-shadow: 0 3px 6px $euca-grey;
}

#eucalyptus {
    width: 500px;
    height: 280px;
    padding: 0;
}

#aws {
    width: 500px;
    height: 280px;
    padding: 0;
}

#login-panel label {
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    top: 8px; left: 16px;
}

#login-panel input {
    background-color: $euca-extralightgrey;
}

#login-panel h6 {
    font-family: $euca-header-font;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

#login-panel.hide-aws {
    max-width: 480px;
    margin: 0 auto;
}

#euca-login-button.button {
    background-color: $euca-green;
    border-color: darken($euca-green, 20%);
    margin-top: 10px;
    margin-bottom: 10px;
}

#aws-login-button.button {
    background-color: $aws-orange;
    border-color: darken($aws-orange, 20%);
    margin-top: 10px;
    margin-bottom: 10px;
}


// --- Media queries
// --------------------
//

/* Medium/large screen */
@media screen and (min-width: $topbar-breakpoint) {
    #login-panel-wrapper { margin-top: 4rem; }
    #login-panel h6 { padding-left: 1rem; }
}

/* Small screen */
@media screen and (max-width: $topbar-breakpoint) {
    #login-panel-wrapper {
        margin-top: 1rem;
    }
    #login-panel {
        border-radius: 0;
        box-shadow: none;
        padding: 10px;
    }
    #login-panel .header {
        border-radius: 0;
        box-shadow: none;
        top: 0; left: 0; right: 0;
    }
}
