/* @fileOverview Scaling Group detail page CSS */

input[type="number"] {
    width: 3rem;
}

#health_check_period {
    width: 4rem;
}

#launch_config, #health_check_type {
    max-width: 10rem;
}

#controls_min_size, #controls_desired_capacity, #controls_max_size {
    display: inline-block; margin-left: 1rem;
}

#controls_max_size {
    position: relative;
    right: 2rem;
}

[data-abide] #capacity-section .error {
    small.error {
        position: absolute;
        width: 15rem;
        left: 8px; bottom: -1.5rem;
    }
}