/* @fileOverview Scaling Groups landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";


// Status colors
$status-color-healthy: $euca-green;
$status-color-unhealthy: darkred;


// Tile view
.tile .status.healthy { background-color: $status-color-healthy; }
.tile .status.unhealthy { background-color: $status-color-unhealthy; }

// Table view
.fi-check { color: $euca-darkgreen; }
.fi-alert { color: $status-color-unhealthy; }

