/* @fileOverview Scaling Group detail page CSS */

input[type="number"] {
    width: 3rem;
}

#health_check_period, #default_cooldown {
    width: 4rem;
}

#launch_config, #health_check_type {
    max-width: 10rem;
}

#controls_min_size, #controls_desired_capacity, #controls_max_size {
    display: inline-block; margin-left: 1rem;
}

#controls_max_size {
    margin-left: -1rem;
}

[data-abide] #capacity-section .error {
    small.error {
        position: absolute;
        width: 15rem;
        left: 8px; bottom: -1.5rem;
    }
}

// Avoid flash of unstyled content for multi-select widgets
// Note: Chosen selector will allow widgets to display
#availability_zones, #termination_policies {
    visibility: hidden;
}


#contentwrap {
    table.table {
        width: 100%;
        thead th {
            text-transform: uppercase;
        }
    }
}