/* @fileOverview Snapshots landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";


// Status colors
$snapshot-status-color-pending: lighten($euca-lightgreen, 20%);
$snapshot-status-color-completed: $euca-darkgreen;
$snapshot-status-color-failed: darken(red, 20%);


.tile .status.pending { background-color: $snapshot-status-color-pending; }
.tile .status.completed { background-color: $snapshot-status-color-completed; }
.tile .status.failed { background-color: $snapshot-status-color-failed; }

