/* @fileOverview User detail page CSS */
@import "../includes/eucavariables";

// Import landing page styles for tile view display on User page
@import "../includes/landingpage";

// User status choices are: creating, available, in-use, deleting, deleted, error

// Status colors
$keys-status-color-active: $euca-darkblue;
$keys-status-color-inactive: $euca-grey;


// ***********
// User page

// User status
.status { background-color: transparent; }
.status.Inactive { background-color: $keys-status-color-inactive; }
.status.Active { background-color: $keys-status-color-active; }

.reveal-modal {
    #device {
        width: 10rem;
    }
}

// Hide "?" help icon in breadcrumbs
#breadcrumbs .icon-block { display: none; }

.or-circle {
    font-size: 1.0rem;
    position: absolute;
    top: 30%; right: -22px;
    width: 35px; height: 35px;
    padding-top: 4px;
    background-color: #fff;
    border: 4px solid #eee;
    border-radius: 30px;
    text-align: center;
}

.gen-password {
    position: relative;
    padding-right: 20px;
    border-right: 4px solid #eee;
}

.set-password {
    position: relative;
    padding-left: 35px;
}

.CodeMirror {
    border: 1px solid $euca-lightgrey;
    min-height: 400px;
}

// *********************
// User snapshots page
.tile {
    @include panel-tile-mixin;
}


