/* @fileOverview Volumes landing page CSS */
@import "../includes/eucavariables";

// Import landing page styles for tile view display on Volume snapshots page
@import "../includes/landingpage";

// Volume status choices are: creating, available, in-use, deleting, deleted, error

// Status colors
$volume-status-color-creating: lighten($euca-green, 10%);
$volume-status-color-available: $euca-green;
$volume-status-color-deleted: $euca-grey;
$volume-status-color-error: darkred;
$volume-status-color-attached: darkorange;


// Volume status
.status.creating { color: $volume-status-color-creating; }
.status.available { color: $volume-status-color-available; }
.status.inuse { color: $volume-status-color-attached; }


// Volume snapshots page
.tile {
    background-color: white;
    border: 1px solid $euca-lightgrey;
    width: 180px; height: 140px;
    .header .button.dropdown {
        height: 30px;
        color: black;
    }
}

.status.pending { background-color: lighten($euca-green, 10%); }
.status.completed { background-color: $euca-green; }

