/* @fileOverview Volume detail page CSS */
@import "../includes/eucavariables";

// Import landing page styles for tile view display on Volume snapshots page
@import "../includes/landingpage";

// Volume status choices are: creating, available, in-use, deleting, deleted, error

// Status colors
$volume-status-color-creating: lighten($euca-green, 10%);
$volume-status-color-available: $euca-green;
$volume-status-color-deleted: $euca-grey;
$volume-status-color-error: darkred;
$volume-status-color-attached: darkorange;


// ***********
// Volume page

// Volume status
.status { background-color: transparent; }
.status.creating { background-color: $volume-status-color-creating; }
.status.available { background-color: $volume-status-color-available; }
.status.in-use { background-color: $volume-status-color-attached; }

.reveal-modal {
    #device {
        width: 10rem;
    }
}


// *********************
// Volume snapshots page
.tile {
    @include panel-tile-mixin;
}

.status.pending { background-color: lighten($euca-green, 10%); }
.status.completed { background-color: $euca-green; }

