@charset "UTF-8";

/* @fileOverview Koala application-wide Sass CSS styles */

// Copyright 2013-2015 Hewlett Packard Enterprise Development LP
//
// Redistribution and use of this software in source and binary forms,
// with or without modification, are permitted provided that the following
// conditions are met:
//
// Redistributions of source code must retain the above copyright notice,
// this list of conditions and the following disclaimer.
//
// Redistributions in binary form must reproduce the above copyright
// notice, this list of conditions and the following disclaimer in the
// documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
// "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
// LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
// A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
// OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
// SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
// LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
// DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
// THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

/* Sass Imports */
// Normalize/reset CSS styles
@import "includes/normalize";

// This includes all of the foundation global elements that are needed to work with any of the other files.
// Note: foundation/settings imports includes/eucavariables
@import "includes/eucavariables";

// Behold, here are all the Foundation 5 components.
@import
//  "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
//  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
//  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  "foundation/components/inline-lists",
//  "foundation/components/joyride",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/magellan",
//  "foundation/components/orbit",
//  "foundation/components/pagination",
  "foundation/components/panels",
//  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/reveal",
//  "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/tables",
  "foundation/components/tabs",
//  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/offcanvas",
  "foundation/components/visibility";


/* =========================================================== */
/* Eucalyptus Management Console main styles */


/* -----------------------------------------
   Fonts
----------------------------------------- */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato/Lato-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato/Lato-Bold.woff) format('woff');
}


/* -----------------------------------------
   Master Layout
----------------------------------------- */
html {
    background-color: white;
}

body {
    position: relative;
    color: #333;
    min-height: 100%;
    font-family: $euca-text-font-family;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $euca-header-font-family;
    color: $hp-gray-65;
}

.panel {
    h1, h2, h3, h4, h5, h6 {
        color: $hp-gray-65;
    }

}

a {
    color: $hp-accessible-blue;
}

/* -----------------------------------------
   Header
----------------------------------------- */

// Logo bar (top-most bar)
#logobar-wrapper {
    border-bottom: 1px solid $hp-gray-20;
}
#logobar {
    padding: 6px 0 0 0;
    margin-top: 8px;
    background-color: #fff;
    color: #333;
    a {
        font-size: 0.9rem;
        color: #333;
    }
    section {
        position: relative;
        line-height: 1rem;
        display: inline-block;
        float: right;
        margin-top: 4px;
        .icon {
            font-size: 1.5rem;
        }
    }
    .dropdown {
        display: inline-block;
        margin-left: 1.3rem;
        color: $hp-accessible-blue;
        .icon {
            display: inline-block;
        }
    }
    .f-dropdown {
        box-shadow: 0 0 1px 1px $hp-gray-20;
        width: auto;
        min-width: 8rem;
        &.open {
            width: auto !important;
        }
    }
    .fi-list {
        margin-left: 8px;
        position: relative;
        top: -10px;
    }
    .product-name {
        font-size: 1.4rem;
        position: relative;
        top: -8px;
        padding-left: 0.5rem;
    }
    #selected-region {
        position: relative;
        display: inline-block;
        padding-left: 24px;
        background: transparent url(../img/aws_favicon.png) no-repeat left 0;
    }
    #region-dropdown {
        min-width: 12rem;
        li[data-selected] {
            display: none;
        }
    }
    #offcanvas-icon {
        left: -1000px;
        display: none;
        margin-right: 12px;
        i {
            font-size: 1.8rem;
        }
    }
    #user-dropdown-section {
        position: relative;
        left: -10px;
    }
}


// Breadcrumbs
$breadcrumb-background-color: $euca-extralightgreen;
$breadcrumb-border-color: darken($breadcrumb-background-color, 20%);
#breadcrumbs {
    position: relative;
    overflow: hidden;
    margin-bottom: 0.7rem;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 1px;
    color: $euca-darkgrey;
    letter-spacing: 1px;
    font-weight: normal;
    li {
        margin-top: 0.3rem;
        font-size: 0.9rem;
        &.current a {
            color: #444;
        }
    }
    .icon-block{
        display: none;
        position: absolute;
        top: 0; bottom: 0; right: 0;
        vertical-align: middle;
        padding-top: 8px;
    }
    .help-icon {
        position: relative;
        padding: 8px 16px;
        border-left: 1px solid $breadcrumb-border-color;
        font-weight: bold;
        text-align: center;
    }
    .breadcrumbs > ::before {
        position: relative;
        top: -1px;
        font-size: 0.7rem;
    }
}

// Subnav styles
.sub-nav {
    position: relative;
    top: -1.5rem;
    left: 1rem;
    margin-bottom: -1rem;
    dd {
        a {
            font-weight: bold;
            margin-right: 0.5rem;
            &:hover {
                color: $hp-accessible-blue;
                text-decoration: underline;
            }
        }
        &.active a:hover {
            color: white;
            text-decoration: none;
            background-color: $hp-accessible-blue;
        }
    }
}


/* -----------------------------------------
   Main Content
----------------------------------------- */
#maincontent {
    background: $hp-gray-5;
    position: relative;
    padding-bottom: 3rem;
}

#contentwrap {
    position: relative;
    padding-bottom: 3rem;
    min-height: 30rem;
}

@media screen and (min-width: $topbar-breakpoint) {
    #login-panel { margin-bottom: 5rem; }
    #maincontent { min-height: 65rem; }
}


/* -----------------------------------------
   Misc
----------------------------------------- */
#pagetitle, .pagetitle {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-bottom: 1rem;
    &.landingpage {
        margin-left: 0;
        position: absolute;
        top: 0; left: 1rem;
    }
    em {
        font-style: normal;
        font-weight: 700;
        font-family: Lato, Helvetica, Arial, sans-serif;
        color: $euca-darkgrey;
    }
}

.subsection-label {
    color: $hp-gray-65;
    margin-bottom: 6px;
}

.upper {
    text-transform: uppercase;
}

hr {
    border: 1px solid $hp-gray-20;
    border-width: 1px 0 0;
}

a.has-tip {
    border-bottom: none !important;
}

.tooltip {
    font-weight: normal;
    font-size: 0.825rem;
    font-family: Lato, Geneva, Helvetica, sans-serif;
    max-width: 260px;
}

.breakword {
    word-wrap: break-word;
}

i.fi-plus.circle {
    border: 2px solid black;
    border-radius: 100px;
    padding: 0 2px;
    font-size: 0.7rem;
}

i.fi-minus-circle {
    font-size: 1.4rem;
    &:hover {
        color: darkred;
    }
}

a.circle {
    color: black;
    display: inline-block;
}

.down-caret {
    position: relative;
    top: -1px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-top: 6px solid $hp-accessible-blue;
    border-left: 6px solid transparent;
    content: '';
}

.up-caret {
    position: relative;
    top: -1px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $hp-accessible-blue;
    border-left: 6px solid transparent;
    content: '';
}

#notifications {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
    font-weight: bold;
    .marked { position: relative; }
    .alert-box {
        position: fixed;
        padding: 0 0;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999999;
        width: 100%;
        color: black;
        background-color: white;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.15);
        &.success {
            border: 2px solid $hp-green;
            .icon {
                background-color: $hp-green;
                span:before {
                    content: "\2713"
                }
            }
        }
        &.warning {
            border: 2px solid $hp-gold;
            .icon {
                background-color: $hp-gold;
                span:before {
                    content: "\26A0"
                }
            }
        }
        &.info{
            border: 2px solid $hp-accessible-blue;
            .icon {
                background-color: $hp-accessible-blue;
                span:before {
                    content: "\24D8"
                }
            }
        }
        &.alert {
            border: 2px solid darkred;
            .icon {
                background-color: darkred;
                span:before {
                    content: "!"
                }
            }
        }
        .icon {
            width: 50px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            text-align: center;
            span {
                color: white;
                font-size: 30px;
                transform: translateX(50%) translateY(50%);
            }
        }
        .message {
            padding: 0.875rem 2rem 0.875rem 4.5rem;
        }
        .close {
            opacity: 1.0;
        }
        .close:hover {
            font-weight: bold;
       }
    }
}

@media screen and (min-width: $euca-extrasmall-breakpoint) {
    #notifications {
        .alert-box {
            top: 10px;
            width: 75%;
        }
    }
}

@media screen and (min-width: 768px) {
    #notifications {
        .alert-box {
            top: 10px;
            width: 50%;
        }
    }
}

@media screen and (min-width: $topbar-breakpoint) {
    #notifications {
        .alert-box {
            top: 10px;
            width: 33%;
        }
    }
}

textarea.console-output {
    width: 100%;
    min-height: 30rem;
    background-color: black;
    color: white;
    font-family: Courier, "courier new", monospace;
    font-weight: bold;
}

textarea.policy-area {
    width: 100%;
    min-height: 30rem;
    font-family: Courier, "courier new", monospace;
    font-weight: bold;
}

.policy-row-item {
    vertical-align: middle;
    padding: 0.25rem;
}

.helptext-icon {
    color: $euca-grey;
    font-size: 1.2rem;
}

.expando {
    i {
        color: $hp-accessible-blue;
        &.helptext-icon {
            color: $hp-gray-65;
        }
    }
    .title {
        font-size: 1.1rem;
        a {
            color: $hp-gray-65;
            &:hover {
                color: $hp-accessible-blue;
                border-bottom: 1px solid $hp-accessible-blue;
            }
        }
    }
}

// Action icons such as the three vertical dots
.action-icon {
    display: inline-block;
    font-size: 1.4rem;
    color: $hp-gray-65;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    &:hover {
        cursor: pointer;
        color: $hp-accessible-blue;
    }
}

.flex-space {
    @include flexbox-mixin;
    .flex-column-0 {
        @include flexgrow-mixin(0);
    }
    .flex-column-1 {
        @include flexgrow-mixin(1);
    }
}

/* -----------------------------------------
   Tag editor
----------------------------------------- */
#tag-editor {
    small {
        font-size: 0.825rem;
    }
    @include item-list;
    .propagates {
        color: #777;
        font-size: 0.7em;
    }
    .add-label {
        margin-bottom: 6px;
        color: $hp-gray-65;
    }
    #add-tag-btn {
        margin-bottom: 0;
    }
    #propagate-wrapper {
        white-space: nowrap;
    }
}

/* -----------------------------------------
   Block device mapping (BDM) editor
----------------------------------------- */

#bdmapping-editor {
    .bdmapping-table {
        width: 100%;
    }
    th {
        padding-left: 9px;
    }
    .storage-label {
        text-align: left;
    }
    #new-blockdevice-entry {
        label {
            text-align: left;
        }
    }
    #new-blockdevice-entry {
        .chosen-single {
            line-height: 34px;
            min-height: 37px;
        }
    }
    input.number {
        width: 2rem;
    }
    .delete-on-terminate {
        text-align: center;
        span.hide-for-small {
            display: inline !important;
        }
    }
}

@media screen and (max-width: 40.063rem) {
    #bdmapping-editor {
        .delete-on-terminate {
            span.hide-for-small {
                display: none !important;
            }
        }
    }
}


/* -----------------------------------------
   Help content
----------------------------------------- */
.right-off-canvas-menu {
    background-color: white;
    padding: 10px;
}

// Padding for help expando if on a page with tabs
.help-padding {
    display: block;
    height: 2.5rem;
}


.help-content {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    h1 { font-size: 1.2rem; }
    h2 { font-size: 1.1rem; }
    h3, h4 { font-size: 1rem; }
    .p, .section {
        line-height: 1.4rem;
    }
    .topictitle1 {
        margin-top: 1rem;
    }
    p {
        margin-bottom: 0.5rem;
    }
    ol ul {
        list-style-position: inside;
        li {
            text-indent: -1rem;
            margin-left: 1rem;
            p {
                text-indent: 0;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
            }
        }
    }
    i {
        text-indent: 0;
        &.fi-minus-circle {
            font-size: 1.2rem;
            &:hover {
                color: black;
            }
        }
    }
    table.table {
        width: 100%;
        tr td {
            line-height: 1.1rem;
        }
    }
}


/* -----------------------------------------
   Forms
----------------------------------------- */

form {
    label {
        color: $euca-grey;
        font-weight: bold;
        cursor: default;
        &.inline {
            display: inline-block;
        }
    }
    input {
        border-color: $hp-gray-20;
        background-color: $hp-gray-5;
        &[type=text],
        &[type=password],
        &[type=number] {
            background-color: $hp-gray-5;
        }
        &[type=file] {
            background-color: transparent;
        }
        &[type=password] {
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 1rem;
            color: black;
        }
    }
    select, textarea {
        background-color: $hp-gray-5;
    }
    .req {
        color: darkred;
    }
    .row {
        .inline-label {
            line-height: 2rem;
        }
        input {
            &[type='text'], &[type='password'] {
                margin: 0 0 0 0;
            }
            &[type='number'] {
                width: 3rem;
            }
        }
    }
    .columns input {
        max-width: 100%;
    }
    a.remove.circle {
        position: relative;
        left: 8px; top: -2px;
    }
    .cancel-link {
        margin-left: 2rem;
        color: $euca-grey;
        &:hover {
            color: $hp-hover-blue;
        }
    }
    .controls_csrf_token {
        display: none;
    }
    .server-validation span.error {
        display: block !important;
        background-color: white;
        color: darkred;
        padding-left: 0;
    }
    &[data-abide] .error small.error {
        background-color: white;
        font-style: normal;
        color: darkred;
        &.inline {
            display: inline-block !important;
        }
    }
    .error .chosen-container .chosen-single {
        border-color: darkred;
        background: $euca-validation-input-bgcolor;
    }
}

.row.controls-wrapper {
    margin-bottom: 0.5rem;
    label {
        padding-top: 4px;
        font-weight: bold;
        text-align: right;
        line-height: 1rem;
        select, input, .chosen-container {
            text-align: left;
        }
        &.nowrap {
            white-space: nowrap;
        }
        &.stack-label {
            margin-bottom: 4px;
            white-space: nowrap;
        }
    }
    label.reverse {
        display: inline-block;
        text-align: left;
        position: relative;
        left: -1rem;
    }
    .helptext-icon.reverse {
        position: relative;
        left: 1.5rem;
    }
    .reverse {
        .error {
            white-space: nowrap;
        }
    }
    .checkbox-row {
        margin-left: 1rem;
    }
    .field {
        input {
            display: inline-block;
            margin-bottom: 0.3rem;
        }
        select {
            font-family: $euca-text-font-family;
            margin-bottom: 0.3rem;
            margin-top: 0.3rem;
            padding-top: 6px;
            padding-bottom: 6px;
        }
        textarea {
            margin-top: 0.3rem;
        }
    }
    &.readonly {
        margin-top: 0;
        margin-bottom: 0;
        label {
            position: relative;
            right: -15px;
        }
        .value {
            padding-bottom: 6px;
        }
    }
    &.inline {
        margin-bottom: 4px;
        label {
            right: -6px;
        }
    }
    &.stacked {
        .field {
            select, textarea {
                margin-top: 0;
            }
        }
    }
}

form .controls-wrapper > [class*='small-'] label {
    font-weight: bold;
    padding-top: 0.3rem;
    &.right {
        position: relative;
        right: -1rem;
    }
}

[data-abide] .controls-wrapper .error, [data-abide] .controls-wrapper.error {
    label {
        color: $euca-grey;
    }
    input, select {
        border: 1px solid darkred;
        background-color: $euca-validation-input-bgcolor;
    }
    small.error {
        @include validation-error-mixin;
        &.inline {
            display: inline-block;
            margin-left: 1rem;
        }
    }
}

[data-abide] small.error {
        @include validation-error-mixin;
}

textarea.hidden {
    display: none;
    &.debug {
        display: block;
    }
}

/* -----------------------------------------
   Chosen widget
----------------------------------------- */
.chosen-container {
    &.chosen-container-multi {
        background: none;
        background-color: $hp-gray-5 !important;
        .chosen-choices  {
            background: none;
            background-color: $hp-gray-5 !important;
            border: 1px solid $euca-lightgrey;
            li {
                &.search-field  {
                    input[type=text] {
                        height: 34px;
                        padding-left: 10px;
                    }
                    .default {
                        color: #999;
                    }
                }
                &.search-choice {
                    background-image: none;
                    background-color: #d1d3d4;
                    border: none;
                    font-size: 0.9rem;
                    padding: 4px 20px 4px 8px;
                    color: #555;
                    .search-choice-close {
                        top: 8px;
                    }
                    span {
                        line-height: 20px;
                    }
                }
            }
        }
    }
    &.chosen-container-single {
        .chosen-single {
            background-image: none;
            background-color: $hp-gray-5 !important;
            border-radius: 0;
            height: 2rem;
            line-height: 2rem;
            font-size: 0.875rem;
            b {
                position: relative;
                top: 4px;
            }
        }
    }
    .chosen-drop .chosen-results {
        font-size: 0.875rem;
    }
}


/* -----------------------------------------
   Panels and modals
----------------------------------------- */
.panel {
    background-color: white;
    border: 1px solid $hp-gray-20;
    position: relative;
    h6 {
        font-weight: bold;
        color: $hp-gray-65;
    }
    .tabs-content {
        border: none;
    }
    &.no-title {
        margin-top: 0;
    }
    &.has-actions {
        position: relative;
        padding-top: 60px !important;
        h6.title {
            position: absolute;
            top: 0; left: 0; right: 0;
            line-height: 2rem;
            padding-left: 8px;
            background-color: $hp-gray-65;
            color: white;
            font-weight: normal;
            @include ellipsis-overflow;
        }
        .label.status {
            margin-bottom: 8px;
        }
        .actions-menu {
            position: absolute;
            top: 10px; right: 10px;
            .button.dropdown {
                padding: 12px 38px 12px 22px;
                a {
                    color: white;
                }
            }
            .f-dropdown {
                box-shadow: 0 0 1px 1px $hp-gray-20;
                min-width: 12rem;
                width: auto;
            }
        }
    }
}

.reveal-modal-bg {
    z-index: 9999990;
}

.reveal-modal {
    z-index: 9999995;
    [data-tooltip] {
        z-index: 99999999;
    }
    h3 {
        font-weight: bold;
        &#about-cloud:hover {
            color: $hp-hover-blue;
        }
        &.pagetitle {
            margin-left: 0;
        }
    }
    form .row.controls-wrapper {
        margin-bottom: 1rem;
    }
    .tabs-content {
        border: none;
    }
    .button.expand {
        margin-bottom: 0;
        &:focus {
            box-shadow: 0 0 3px 3px #7bb0e0;
        }
    }
    .top-margin {
        margin-top: 0.7rem;
    }
    .center {
        text-align: center;
    }
    .close-reveal-modal {
        &:hover {
            color: $hp-accessible-blue;
        }
    }
}

/* -----------------------------------------
   Tables
----------------------------------------- */
table.table {
    @include table-styles-mixin;
    tr td {
        vertical-align: top;
    }
    td.breakall {
        word-break: break-all !important;
    }
    &.smart-table {
        th[st-sort] {
            padding-right: 14px;
            &:hover {
                cursor: pointer;
            }
        }
        .st-sort-ascent, .st-sort-descent {
            padding-right: 0 !important;
        }
        .st-sort-ascent:after {
            content: '\25B2';
        }
        .st-sort-descent:after {
            content: '\25BC';
        }
    }
}


/* -----------------------------------------
   Footer
----------------------------------------- */
footer {
    border-top: 1px solid $hp-gray-20;
    padding: 15px 0 3rem 1rem;
    .copyright {
        font-size: 0.9em;
    }
}


/* -----------------------------------------
   Buttons
----------------------------------------- */
.button {
    background-color: $hp-accessible-blue;
    border-color: $hp-hover-blue;
    a {
        color: white;
    }
    &.secondary {
        background-color: $white;
        border-color: $hp-gray-65;
            &:hover {
                background-color: white;
                border-color: $hp-hover-blue;
                color: $hp-hover-blue;
            } 
        color: $hp-gray-65;
    }
    &.disabled, &[disabled] {
        background-color: white;
        border-color: $hp-gray-40;
            &:hover {
                background-color: $white;
                border-color: $hp-gray-40;
                color: $hp-gray-40;
            }
        color: $hp-gray-40;           
    }
    &:hover {
        background-color: $hp-hover-blue;
    }
    &:focus {
        background-color: $hp-hover-blue;
    }
}

/* -----------------------------------------
   Button groups
   (Foundation's button groups seem broken)
----------------------------------------- */
$btn-group-radius: 10px;
.btn-group {
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        a {
            display: inline-block;
            padding: 0.2rem 1.5rem 0.3rem 1.5rem;
            border-collapse: collapse;
            margin: 0;
            border: 1px solid $hp-gray-20;
            font-weight: bold;
            color: $hp-gray-65;
            &:hover {
                color: $hp-accessible-blue;
            }
            &.active {
                color: white;
                background-color: $hp-accessible-blue;
            }
            &:first-child {
                border-top-left-radius: $btn-group-radius;
                border-bottom-left-radius: $btn-group-radius;
            }
            &:last-child {
                border-top-right-radius: $btn-group-radius;
                border-bottom-right-radius: $btn-group-radius;
                border-left: none;
                position: relative;
                left: -4px;
            }
        }
    }
}



/* -----------------------------------------
   Tabs (on detail pages)
   Note: Wizard tabs are at _wizards.scss
----------------------------------------- */
.tabs {
    @include standard-tabs-mixin;
}

.tabs-content {
    border: 1px solid $hp-gray-20;
    background-color: white;
    .panel {
        border: none;
    }

}

.tabs-content > .content {
    &.large-centered, &.medium-centered {
        float: none;
    }
    padding: 1rem;
}


/* -----------------------------------------
   Progress bars
----------------------------------------- */
@-webkit-keyframes move {
    0% { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}
@keyframes move {
    0% { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}

.progress > .meter:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    z-index: 1;
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    animation: move 2s linear infinite;
    overflow: hidden;
}

/* -----------------------------------------
   Foundation fixes
----------------------------------------- */
// Prevent dropdown menus from displaying when viewport height approaches 10k px.
.f-dropdown {
    left: -99999px;
    z-index: 9999997;
}

// Add a show-for-xsmall class to display items only when max-width is 480px
.show-for-xsmall {
    display: none !important;
}
.hide-for-xsmall {
    display: inline !important;
}



/* -----------------------------------------
   Media Queries
----------------------------------------- */

/* Extra small screen (< 481px) */
@media screen and (max-width: $euca-extrasmall-breakpoint) {
    .show-for-xsmall {
        display: inline-block !important;
    }
    .hide-for-xsmall {
        display: none !important;
    }
    #logobar {
        .dropdown {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        #selected-region.dropdown {
            width: 8rem;
            position: relative;
            top: -8px;
        }
        #user-dropdown-section .dropdown {
            position: relative;
            width: 4rem;
            margin-right: 1rem;
            padding-right: 12px;
            .aws.down-caret {
                position: absolute;
                top: 8px; right: 0;
            }
        }
        .product-name {
            display: none;
        }
        #offcanvas-icon {
            left: 0px;
            display: inline-block !important;
            margin-right: 12px;
            i {
                padding-right: 0.5rem;
            }
        }
    }
    .left-nav {
        display: none;
    }
    .inner-wrap {
        padding-left: 0 !important;
    }
}

div.left-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999999 !important;
    background-color: white;
    overflow: hidden;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: $hp-gray-20;
}

// Off-canvas Nav adjustments
div.left-off-canvas-menu {
    z-index: 999999 !important;
    background-color: white;
    border: 0 solid $hp-gray-20;
    border-right-width: 1px;
}

.off-canvas-wrap {
    min-height: 100%;
}

$expanded-nav-width: 225px;

.left-nav {
    width: $expanded-nav-width !important;
    overflow-y: scroll !important;
    transition: width 0.3s;
}

.inner-wrap {
    padding-left: 50px;
}

.nav-collapsed.left-nav {
    width: 50px !important;
    overflow-y: hidden !important;
    label {
        visibility: hidden;
    }
    hr {
        width: 7.5%;
    }
}

#hp-logo {
    position: relative;
    margin-top: 0.5rem;
    margin-right: 0.8rem;
    margin-left: 0.5rem;
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../img/hp-logo-36x36.png) no-repeat;
}

ul.resources-nav {
    width: $expanded-nav-width*2;
    list-style-type: none;
    line-height: 3.0rem;
    margin-left: 0;
    left: 0;
    label {
        padding-left: 0.5rem;
        background-color: white;
        color: $hp-gray-65;
        padding-top: 0.5rem;
        border-top: 0;
    }
    hr {
        margin: 0 0.5rem 0 0.5rem;
        width: 42.5%;
    }
    li {
        a {
            background-color: transparent;
            color: $hp-gray-65;
            padding: 0.5rem 8rem 1.0rem 2.6rem;
            line-height: 1.5rem;
            border-bottom: 0;
            position: static;
        }
        &:hover {
            background-color: $hp-gray-5;
            color: $hp-hover-blue;
        }
        span {
            padding-left: 0.5rem;
            white-space: nowrap;
            display: inline-block;
            vertical-align: middle;
        }
        span.active {
            color: $hp-hover-blue;
        }
        i.icon {
            position: absolute;
            left: 0.5rem;
            margin-top: 0.5rem;
            height: 2rem;
            width: 2rem;
        }
        i.icon.accounts { background-image: url(../img/nav/Accounts.svg); }
        i.icon.accounts.active { background-image: url(../img/nav/Accounts_Active_40x40.svg); }
        i.icon.buckets { background-image: url(../img/nav/Bucket.svg); }
        i.icon.buckets.active { background-image: url(../img/nav/Bucket_Active.svg); }
        i.icon.dashboard { background-image: url(../img/nav/Dashboard.svg); }
        i.icon.dashboard.active { background-image: url(../img/nav/Dashboard_Active.svg); }
        i.icon.ipaddresses { background-image: url(../img/nav/Elastic-IP.svg); }
        i.icon.ipaddresses.active { background-image: url(../img/nav/Elastic-IP_Active.svg); }
        i.icon.groups { background-image: url(../img/nav/Groups.svg); }
        i.icon.groups.active { background-image: url(../img/nav/Groups_Active.svg); }
        i.icon.images { background-image: url(../img/nav/Images.svg); }
        i.icon.images.active { background-image: url(../img/nav/Images_Active.svg); }
        i.icon.instances { background-image: url(../img/nav/Instances.svg); }
        i.icon.instances.active { background-image: url(../img/nav/Instances_Active.svg); }
        i.icon.keypairs { background-image: url(../img/nav/Key-Pairs.svg); }
        i.icon.keypairs.active { background-image: url(../img/nav/Key-Pairs_Active.svg); }
        i.icon.launchconfigs { background-image: url(../img/nav/Launch-configs.svg); }
        i.icon.launchconfigs.active { background-image: url(../img/nav/Launch-configs_Active.svg); }
        i.icon.elbs { background-image: url(../img/nav/Load-Balance.svg); }
        i.icon.elbs.active { background-image: url(../img/nav/Load-Balance_Active.svg); }
        i.icon.roles { background-image: url(../img/nav/Roles.svg); }
        i.icon.roles.active { background-image: url(../img/nav/Roles_Active.svg); }
        i.icon.scalinggroups { background-image: url(../img/nav/Auto-Scaling-Groups.svg); }
        i.icon.scalinggroups.active { background-image: url(../img/nav/Auto-Scaling-Groups_Active.svg); }
        i.icon.securitygroups { background-image: url(../img/nav/Security.svg); }
        i.icon.securitygroups.active { background-image: url(../img/nav/Security_Active.svg); }
        i.icon.snapshots { background-image: url(../img/nav/Snapshots.svg); }
        i.icon.snapshots.active { background-image: url(../img/nav/Snapshots_Active.svg); }
        i.icon.stacks { background-image: url(../img/nav/stacks.svg); }
        i.icon.stacks.active { background-image: url(../img/nav/stacks_Active.svg); }
        i.icon.users { background-image: url(../img/nav/Users.svg); }
        i.icon.users.active { background-image: url(../img/nav/Users_Active.svg); }
        i.icon.instance-types { background-image: url(../img/nav/VM-Types.svg); }
        i.icon.instance-types.active { background-image: url(../img/nav/VM-Types_Active.svg); }
        i.icon.volumes { background-image: url(../img/nav/Volumes.svg); }
        i.icon.volumes.active { background-image: url(../img/nav/Volumes_Active.svg); }
    }
}

/* IE 10+ specific adjustments */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    ul.resources-nav {
        hr {
            margin-left: -15rem;
        }
        li {
            a {
                i.icon {
                    height: 2.2rem;
                }
            }
        }
    }
    .nav-collapsed.left-nav {
        hr {
            margin-left: -24.5rem;
        }
    }
}

ul.bullet-list {
    list-style-type: none;
    li:before {
        font-family: 'FontAwesome';
        font-size: 0.9rem;
        content: '\f138';
        margin: 0 5px 0 -15px;
        color: $hp-accessible-blue;
    }
}

.columns.subheading {
    padding-left: 0.125rem;
}

/* Responsive tweaks for landing page title */
@media screen and (max-width: $row-width) {
    #pagetitle.landingpage {
        top: -0.5rem;
    }
    #landing-page-filters {
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
}

/* Other Small screen tweaks */
@media screen and (max-width: $topbar-breakpoint) {
    .columns.datagrid {
        padding-left: 1rem;
    }
    .sub-nav {
        top: 0;
        left: 0;
        margin-top: -28px;
        margin-left: 4px;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: $topbar-breakpoint) {
    // Ensure span.hide-for-small are display: inline (Foundation sets them as display: inherit
    span.hide-for-small {
        display: inline !important;
    }
}


/* -----------------------------------------
   Debug
----------------------------------------- */
#pDebugToolbarHandle { top: 120px !important; }


