/* Sass Imports */

// Normalize/reset CSS styles
@import "includes/normalize";

// This includes all of the foundation global elements that are needed to work with any of the other files.
// Note: foundation/variables imports includes/eucavariables
@import "foundation/variables";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  // "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  // "foundation/components/orbit",
  "foundation/components/reveal",
  // "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  // "foundation/components/breadcrumbs",
  "foundation/components/custom-forms",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  // "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/dropdown";

/* =========================================================== */
/* Eucalyptus Management Console main styles */


/* -----------------------------------------
   Master Layout
----------------------------------------- */
html {
    background-color: #444;
    border-top: 10px solid $euca-darkblue;
}

body {
    position: relative;
    color: #333;
    background: #eaedee url(../img/main-bgfill.png) repeat left top;
    min-height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* -----------------------------------------
   Header
----------------------------------------- */

// Logo bar (top-most bar)
#logobar {
    height: 44px;
    padding: 5px 0 10px 15px;
    background-color: #fff;
    color: #333;
    &.signedout {
        box-shadow: 0 1px 1px 1px $euca-lightgrey;
    }
}

#logobar a {
    font-size: 0.9rem;
    color: #333;
}

#logobar #logo {
    display: inline-block;
    width: 199px; height: 22px;
    background: url(../img/eucalogo-199x22.png) no-repeat;
}

#logobar section {
    line-height: 1rem;
    display: inline-block;
    float: right;
    margin-top: 4px;
}

#logobar section .button {
    top: 0;
    border: 0;
    background-color: transparent;
    font-weight: normal;
}

#logobar section .icon {
    font-size: 1.5rem;
}

#region-dropdown li[data-selected] {
    display: none;  // Hide selected region
}


// Nav bar styles
nav.top-bar a {
    text-transform: uppercase;
}

nav.top-bar .dropdown li a {
    line-height: 1.5rem;
}

// Page title
#pagetitle.header {
    margin-top: 0;
    margin-bottom: 2rem;
    padding-left: 14px;
    padding-top: 10px;
    color: $euca-darkgrey;
    background-color: $euca-extralightblue;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 1.3rem;
    border-bottom: 1px solid darken($euca-extralightblue, 30%);
}


/* -----------------------------------------
   Main Content
----------------------------------------- */
#maincontent {
    position: relative;
}

#contentwrap {
    position: relative;
    background-color: white;
    padding-bottom: 3rem;
}

@media screen and (min-width: $topbar-breakpoint) {
    #login-panel { margin-bottom: 5rem; }
    #maincontent { min-height: 480px; }
}


/* -----------------------------------------
   Misc
----------------------------------------- */
.dots {
    display: inline-block;
    width: 32px; height: 10px;
    background-image: url(/static/img/dots32.gif)
}

a.has-tip {
    border-bottom: none !important;
}

.tooltip {
    font-weight: normal;
    font-size: 0.825rem;
    font-family: Verdana, Geneva, Helvetica, sans-serif;
}

#notifications {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
    .alert-box {
        background-color: $euca-notificationblue;
        &.success {
            background-color: $euca-notificationblue;
            border-color: $euca-extralightblue;
        }
        &.warning {
            color: #333;
            background-color: lightyellow;
            border-color: gray;
        }
    }
}

#tag-editor {
    .row.inline.new input { background-color: lighten($euca-lightgreen, 40%); }
    .tagentry {
        &.controls-wrapper.existing { margin-bottom: 0.5rem; }
        .new { color: $euca-green; }
    }
}

#pagetitle .back-arrow {
    display: inline-block;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 0.8rem;
    border-right: 1px solid darken($euca-extralightblue, 30%);
    margin-right: 0.8rem;
}

/* -----------------------------------------
   Help content
----------------------------------------- */
.help-content {
    font-size: 0.9rem;
    ol {
        list-style-position: inside;
        li {
            text-indent: -1rem;
            margin-left: 1rem;
            p, .note {
                text-indent: 0;
            }
        }
    }
}


/* -----------------------------------------
   Forms
----------------------------------------- */
form .row input {
    margin: 0 0 0 0;
}

form .row.controls-wrapper {
    margin-bottom: 1rem;
}

form .server-validation span.error {
    display: block !important;
}

form .controls_csrf_token {
    display: none;
}

form .inline label {
    padding-top: 0.4rem;
    font-weight: bold;
    text-align: right;
}

form .row.inline.readonly {
    margin-bottom: 0.2rem;
    label {
        position: relative;
        right: -0.8rem;
        top: -0.4rem;
    }
}

form .inline.controls-wrapper > [class*='small-'] label {
    font-weight: bold;
    padding-top: 0.3rem;
    position: relative;
    right: -1rem;
}

form .inline .field {
    input {
        display: inline-block;
    }
}

form label {
    cursor: default;
}

form label .req {
    color: darkred;
}

form .columns input {
    max-width: 100%;
}

[data-abide] .inline .error small.error {
    display: inline !important;
    background-color: transparent;
    color: darkred;
}

.panel.has-title {
    position: relative;
    padding-top: 60px;
}

.panel h6.title {
    position: absolute;
    top: 0; left: 0; right: 0;
    line-height: 2rem;
    padding-left: 8px;
    background-color: $euca-extralightblue;
    border-top: 2px solid $euca-darkblue;
    border-bottom: 1px solid $euca-lightgrey;
    font-weight: normal;
}

form .cancel-link {
    margin-left: 2rem;
}

i.fi-plus.circle {
    border: 2px solid black;
    border-radius: 100px;
    padding: 0 2px;
    font-size: 0.7rem;
}

textarea.hidden {
    display: none;
    &.debug {
        display: block;
    }
}

i.fi-minus-circle {
    font-size: 1.4rem;
    &:hover {
        color: darkred;
    }
}

a.button.secondary.delete:hover {
    color: white;
    background-color: darkred ;
}

a.circle {
    color: black;
    display: inline-block;
}


/* -----------------------------------------
   Footer
----------------------------------------- */
footer {
    width: 100%;
    height: $euca-footer-height;
    padding: 15px;
    background-color: rgb(51, 51, 51);
}

.copyright {
    font-size: 0.8em;
}


/* -----------------------------------------
   Foundation fixes
----------------------------------------- */
// Prevent dropdown menus from displaying when viewport height approaches 10k px.
.f-dropdown {
    left: -99999px;
}

// Add a show-for-xsmall class to display items only when max-width is 480px
.show-for-xsmall {
    display: none !important;
}
.hide-for-xsmall {
    display: inline !important;
}


/* -----------------------------------------
   Media Queries
----------------------------------------- */

/* Extra small screen (< 481px) */
@media screen and (max-width: $euca-extrasmall-breakpoint) {
    .show-for-xsmall {
        display: inline-block !important;
    }
    .hide-for-xsmall {
        display: none !important;
    }
    #logobar section .button {
        margin-top: -6px;
    }
}

/* Small screen */
// TODO: logobar dropdown menus are displaying behind the nav bar on small screens
@media screen and (max-width: $topbar-breakpoint) {
    .columns.datagrid {
        padding-left: 1rem;
    }
    #pagetitle.header {
        margin-bottom: 0.5rem;
        padding-bottom: 6px;
    }
}


@media screen and (min-width: $topbar-breakpoint) {
    // Ensure span.hide-for-small are display: inline (Foundation sets them as display: inherit
    span.hide-for-small {
        display: inline !important;
    }
}

/* -----------------------------------------
   Debug
----------------------------------------- */
#pDebugToolbarHandle { top: 120px !important; }


