@charset "UTF-8";

/* @fileOverview Koala application-wide Sass CSS styles */

/* Sass Imports */
// Normalize/reset CSS styles
@import "includes/normalize";

// This includes all of the foundation global elements that are needed to work with any of the other files.
// Note: foundation/settings imports includes/eucavariables
@import "foundation/settings";


// Behold, here are all the Foundation 5 components.
@import
  "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  "foundation/components/inline-lists",
//  "foundation/components/joyride",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/magellan",
//  "foundation/components/orbit",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/reveal",
  "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/tables",
  "foundation/components/tabs",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/offcanvas",
  "foundation/components/visibility";


/* =========================================================== */
/* Eucalyptus Management Console main styles */


/* -----------------------------------------
   Master Layout
----------------------------------------- */
html {
    background-color: #444;
    border-top: 10px solid $euca-darkblue;
}

body {
    position: relative;
    color: #333;
    background: #eaedee url(../img/main-bgfill.png) repeat left top;
    min-height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* -----------------------------------------
   Header
----------------------------------------- */

// Logo bar (top-most bar)
#logobar {
    height: 44px;
    padding: 5px 0 10px 15px;
    background-color: #fff;
    color: #333;
    &.signedout {
        box-shadow: 0 1px 1px 1px $euca-lightgrey;
    }
}

#logobar a {
    font-size: 0.9rem;
    color: #333;
}

#logobar #logo {
    display: inline-block;
    width: 199px; height: 22px;
    background: url(../img/eucalogo-199x22.png) no-repeat;
}

#logobar section {
    line-height: 1rem;
    display: inline-block;
    float: right;
    margin-top: 4px;
}

#logobar section .button {
    top: 0;
    border: 0;
    background-color: transparent;
    font-weight: normal;
}

#logobar section .icon {
    font-size: 1.5rem;
}

#region-dropdown li[data-selected] {
    display: none;  // Hide selected region
}


// Nav bar styles
#navbar {
    a {
        text-transform: uppercase;
        font-size: 0.9rem;
    }
    .dropdown li a {
        line-height: 1.2rem;
    }
}


// Page title
#pagetitle {
    position: relative;
    &.header {
        margin-top: 0;
        margin-bottom: 2.5rem;
        padding-left: 14px;
        padding-top: 10px;
        color: $euca-darkgrey;
        background-color: $euca-extralightblue;
        letter-spacing: 1px;
        font-weight: normal;
        font-size: 1.3rem;
        border-bottom: 1px solid darken($euca-extralightblue, 30%);
    }
    .help-icon {
        display: inline-block;
        position: absolute;
        top: 0; bottom: 0; right: 0;
        padding: 8px 16px;
        text-align: center;
        vertical-align: middle;
        border-left: 1px solid darken($euca-extralightblue, 30%);
        font-weight: bold;
    }
}


/* -----------------------------------------
   Main Content
----------------------------------------- */
#maincontent {
    position: relative;
}

#contentwrap {
    position: relative;
    background-color: white;
    padding-bottom: 3rem;
    min-height: 30rem;
}

@media screen and (min-width: $topbar-breakpoint) {
    #login-panel { margin-bottom: 5rem; }
    #maincontent { min-height: 480px; }
}


/* -----------------------------------------
   Misc
----------------------------------------- */
ul.breadcrumbs {
    margin-bottom: 0;
}

.dots {
    display: inline-block;
    width: 32px; height: 10px;
    background-image: url(/static/img/dots32.gif)
}

a.has-tip {
    border-bottom: none !important;
}

.tooltip {
    font-weight: normal;
    font-size: 0.825rem;
    font-family: Verdana, Geneva, Helvetica, sans-serif;
    max-width: 260px;
}

.sub-nav {
    position: relative;
    top: -1.5rem;
    left: 1rem;
    margin-bottom: -1rem;
    dd {
        a {
            font-weight: bold;
            margin-right: 0.5rem;
            &:hover {
                color: $euca-green;
                text-decoration: underline;
            }
        }
        &.active a:hover {
            color: white;
            text-decoration: none;
            background-color: $euca-green;
        }
    }
}

i.fi-plus.circle {
    border: 2px solid black;
    border-radius: 100px;
    padding: 0 2px;
    font-size: 0.7rem;
}


i.fi-minus-circle {
    font-size: 1.4rem;
    &:hover {
        color: darkred;
    }
}

a.button.secondary.delete:hover {
    color: white;
    background-color: darkred;
}

a.circle {
    color: black;
    display: inline-block;
}

.down-caret {
    position: relative;
    top: -1px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-top: 6px solid $euca-green;
    border-left: 6px solid transparent;
    content: '';
}

#notifications {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
    font-weight: bold;
    .alert-box {
        background-color: $euca-notificationblue;
        &.success {
            background-color: $euca-notificationblue;
            border-color: $euca-extralightblue;
        }
        &.warning {
            color: #333;
            background-color: lightyellow;
            border-color: gray;
        }
        &.alert {
            background-color: darkred;
        }
    }
}

#tag-editor {
    #add-tag-btn {
        margin-bottom: 0;
    }
    .tagentry {
        .new { color: $euca-green; }
    }
    small {
        font-size: 0.825rem;
    }
}

#pagetitle {
    .back-arrow {
        display: inline-block;
        font-family: Verdana, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        padding-right: 0.8rem;
        border-right: 1px solid darken($euca-extralightblue, 30%);
        margin-right: 0.8rem;
    }
}

textarea.console-output {
    width: 660px;
    height: 400px;
    margin: 10px;
}

/* -----------------------------------------
   Help content
----------------------------------------- */
.help-content {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    p {
        margin-bottom: 0.5rem;
    }
    ol {
        list-style-position: inside;
        li {
            text-indent: -1rem;
            margin-left: 1rem;
            p {
                text-indent: 0;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
            }
        }
    }
    i {
        text-indent: 0;
        &.fi-minus-circle {
            font-size: 1.2rem;
            &:hover {
                color: black;
            }
        }
    }
    table.table {
        width: 100%;
        tr td {
            line-height: 1.1rem;
        }
    }
}


/* -----------------------------------------
   Forms
----------------------------------------- */


form {
    label {
        cursor: default;
        .req {
            color: darkred;
        }
    }
    .row {
      .inline-label {
        line-height: 2rem;
      }
      input {
          &[type='text'], &[type='password'] {
              margin: 0 0 0 0;
              height: $euca-input-field-height;
              line-height: $euca-input-field-height;
          }
      }
    }
    .columns input {
        max-width: 100%;
    }
    a.remove.circle {
        position: relative;
        left: 8px; top: -2px;
    }
    .cancel-link {
        margin-left: 2rem;
    }
    .controls_csrf_token {
        display: none;
    }
    .server-validation span.error {
        display: block !important;
    }
    .chosen-drop .chosen-results {
        font-size: 0.825rem;
    }
    .error .chosen-container .chosen-single {
        border-color: darkred;
        background: $euca-validation-input-bgcolor;
    }
    .chosen-container-multi .chosen-choices li.search-field input[type=text] {
        height: auto;
    }
}

form .row.controls-wrapper {
    margin-bottom: 0.5rem;
    label {
        padding-top: 4px;
        font-weight: bold;
        text-align: right;
        line-height: 1rem;
        select, input, .chosen-container {
            text-align: left;
        }
    }
    .field {
        input {
            display: inline-block;
            margin-bottom: 0.3rem;
        }
        select {
            margin-bottom: 0.3rem;
        }
    }
    &.readonly {
        margin-top: 0;
        margin-bottom: 0;
        label {
            padding-top: 0;
            position: relative;
            right: -12px;
        }
    }
    &.inline {
        margin-bottom: 4px;
        label {
            right: -6px;
        }
    }
}


form .controls-wrapper > [class*='small-'] label {
    font-weight: bold;
    padding-top: 0.3rem;
    position: relative;
    right: -1rem;
}

[data-abide] .controls-wrapper .error {
    input, select {
        border: 1px solid darkred;
        background-color: $euca-validation-input-bgcolor;
    }
    small.error {
        margin-bottom: 6px;
        background-color: transparent;
        color: $euca-validation-error-color;
        font-weight: bold;
        padding-left: 0;
        font-style: normal;
        padding-bottom: 4px;
    }
}

textarea.hidden {
    display: none;
    &.debug {
        display: block;
    }
}


// Help text icon for inline help on form fields
.helptext-icon {
    display: inline-block;
    margin-left: 5px;
    width: 20px; height: 20px;
    border-radius: 32px;
    border: 1px solid $euca-grey;
    background-color: $euca-lightgrey;
    color: white;
    text-align: center;
    padding-top: 3px;
    font-size: 0.825rem;
}


/* -----------------------------------------
   Panels and modals
----------------------------------------- */
.panel{
    &.has-title {
        position: relative;
        padding-top: 60px;
        border: none;
        h6.title {
            position: absolute;
            top: 0; left: 0; right: 0;
            line-height: 2rem;
            padding-left: 8px;
            background-color: $euca-darkblue;
            color: white;
            font-weight: normal;
            @include ellipsis-overflow;
        }
    }
    &.other-actions {
        background-color: white;
        padding-top: 0px;
    }
}


.reveal-modal {
    h3 {
        font-weight: bold;
    }
    form .row.controls-wrapper {
        margin-bottom: 1rem;
    }
}

/* -----------------------------------------
   Tables
----------------------------------------- */
table.table {
    tr td {
        vertical-align: top;
    }
}


/* -----------------------------------------
   Footer
----------------------------------------- */
footer {
    width: 100%;
    height: $euca-footer-height;
    padding: 15px;
    background-color: rgb(51, 51, 51);
}

.copyright {
    font-size: 0.8em;
}


/* -----------------------------------------
   Buttons
----------------------------------------- */
.button {
    &.secondary {
        border: 1px solid lighten($euca-grey, 10%);
    }
}


/* -----------------------------------------
   Foundation fixes
----------------------------------------- */
// Prevent dropdown menus from displaying when viewport height approaches 10k px.
.f-dropdown {
    left: -99999px;
}

// Add a show-for-xsmall class to display items only when max-width is 480px
.show-for-xsmall {
    display: none !important;
}
.hide-for-xsmall {
    display: inline !important;
}


/* -----------------------------------------
   Media Queries
----------------------------------------- */

/* Extra small screen (< 481px) */
@media screen and (max-width: $euca-extrasmall-breakpoint) {
    .show-for-xsmall {
        display: inline-block !important;
    }
    .hide-for-xsmall {
        display: none !important;
    }
    #logobar section .button {
        margin-top: -6px;
    }
}

/* Small screen */
// TODO: logobar dropdown menus are displaying behind the nav bar on small screens
@media screen and (max-width: $topbar-breakpoint) {
    .columns.datagrid {
        padding-left: 1rem;
    }
    .sub-nav {
        top: 0;
        left: 0;
        margin-top: -28px;
        margin-left: 4px;
        margin-bottom: 1.5rem;
    }
}


@media screen and (min-width: $topbar-breakpoint) {
    // Ensure span.hide-for-small are display: inline (Foundation sets them as display: inherit
    span.hide-for-small {
        display: inline !important;
    }
}

/* -----------------------------------------
   Debug
----------------------------------------- */
#pDebugToolbarHandle { top: 120px !important; }


