@charset "UTF-8";

/* @fileOverview Koala application-wide Sass CSS styles */

/* Sass Imports */
// Normalize/reset CSS styles
@import "includes/normalize";

// This includes all of the foundation global elements that are needed to work with any of the other files.
// Note: foundation/settings imports includes/eucavariables
@import "foundation/settings";


// Behold, here are all the Foundation 5 components.
@import
//  "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
//  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
//  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/grid",
  "foundation/components/inline-lists",
//  "foundation/components/joyride",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/magellan",
//  "foundation/components/orbit",
//  "foundation/components/pagination",
  "foundation/components/panels",
//  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/reveal",
//  "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/tables",
  "foundation/components/tabs",
//  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/offcanvas",
  "foundation/components/visibility";


/* =========================================================== */
/* Eucalyptus Management Console main styles */


/* -----------------------------------------
   Master Layout
----------------------------------------- */
html {
    background-color: white;
}

body {
    position: relative;
    color: #333;
    min-height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y: scroll;
}


/* -----------------------------------------
   Header
----------------------------------------- */

// Logo bar (top-most bar)
#logobar {
    height: 44px;
    padding: 5px 0 10px 15px;
    margin-top: 20px;
    background-color: #fff;
    color: #333;
    a {
        font-size: 0.9rem;
        color: #333;
    }
    section {
        position: relative;
        line-height: 1rem;
        display: inline-block;
        float: right;
        margin-top: 4px;
        .icon {
            font-size: 1.5rem;
        }
    }
    .dropdown {
        display: inline-block;
        margin-left: 2rem;
        color: $euca-green;
        .icon {
            display: inline-block;
        }
    }
    .f-dropdown {
        width: auto;
        min-width: 8rem;
        &.open {
            width: auto !important;
        }
    }
    #logo {
        display: inline-block;
        width: 199px; height: 22px;
        background: url(../img/eucalogo-199x22.png) no-repeat;
    }
    #region-dropdown {
        min-width: 12rem;
    }
    #offcanvas-icon {
        display: none;
        margin-right: 12px;
        i {
            font-size: 1.8rem;
        }
    }
}

#region-dropdown li[data-selected] {
    display: none;  // Hide selected region
}

// Nav bar styles
#navbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    a {
        text-transform: uppercase;
        font-size: 0.9rem;
    }
    .dropdown {
        box-shadow: 0px 0px 1px 1px lighten($euca-orange, 10%);
        li {
            a {
                text-transform: none;
                &:hover {
                    background-color: #eee;
                }
            }
        }
    }
}

// Breadcrumbs
$breadcrumb-background-color: $euca-extralightgreen;
$breadcrumb-border-color: darken($breadcrumb-background-color, 20%);
#breadcrumbs {
    position: relative;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 1px;
    color: $euca-darkgrey;
    background-color: $breadcrumb-background-color;
    letter-spacing: 1px;
    font-weight: normal;
    li {
        font-size: 0.9rem;
        &.current a {
            color: #444;
        }
    }
    .icon-block{
        display: none;
        position: absolute;
        top: 0; bottom: 0; right: 0;
        vertical-align: middle;
        padding-top: 8px;
    }
    .help-icon {
        position: relative;
        padding: 8px 16px;
        border-left: 1px solid $breadcrumb-border-color;
        font-weight: bold;
        text-align: center;
    }
    .breadcrumbs > ::before {
        position: relative;
        top: -2px;
        font-size: 0.7rem;
    }
}

// Subnav styles
.sub-nav {
    position: relative;
    top: -1.5rem;
    left: 1rem;
    margin-bottom: -1rem;
    dd {
        a {
            font-weight: bold;
            margin-right: 0.5rem;
            &:hover {
                color: $euca-green;
                text-decoration: underline;
            }
        }
        &.active a:hover {
            color: white;
            text-decoration: none;
            background-color: $euca-green;
        }
    }
}


/* -----------------------------------------
   Main Content
----------------------------------------- */
#maincontent {
    background: $euca-extralightgreen;
    position: relative;
    padding-bottom: 3rem;
}

#contentwrap {
    position: relative;
    padding-bottom: 3rem;
    min-height: 30rem;
}

@media screen and (min-width: $topbar-breakpoint) {
    #login-panel { margin-bottom: 5rem; }
    #maincontent { min-height: 480px; }
}


/* -----------------------------------------
   Misc
----------------------------------------- */

.dots {
    display: inline-block;
    width: 32px; height: 10px;
    background-image: url(/static/img/dots32.gif)
}

a.has-tip {
    border-bottom: none !important;
}

.tooltip {
    font-weight: normal;
    font-size: 0.825rem;
    font-family: Verdana, Geneva, Helvetica, sans-serif;
    max-width: 260px;
}

.breakword {
    word-wrap: break-word;
}


i.fi-plus.circle {
    border: 2px solid black;
    border-radius: 100px;
    padding: 0 2px;
    font-size: 0.7rem;
}


i.fi-minus-circle {
    font-size: 1.4rem;
    &:hover {
        color: darkred;
    }
}


a.circle {
    color: black;
    display: inline-block;
}

.down-caret {
    position: relative;
    top: -1px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-top: 6px solid $euca-green;
    border-left: 6px solid transparent;
    content: '';
}

.up-caret {
    position: relative;
    top: -1px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $euca-green;
    border-left: 6px solid transparent;
    content: '';
}

#notifications {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
    font-weight: bold;
    .alert-box {
        background-color: $euca-notificationblue;
        &.success {
            background-color: $euca-notificationblue;
            border-color: $euca-extralightblue;
        }
        &.warning {
            color: #333;
            background-color: lightyellow;
            border-color: gray;
        }
        &.alert {
            background-color: darkred;
        }
        .close {
            color: white;
            opacity: 1.0; 
        }
        .close:hover {
            font-weight: bold;
       }
    }
}

textarea.console-output {
    width: 100%;
    min-height: 30rem;
    background-color: black;
    color: white;
    font-family: Courier, "courier new", monospace;
    font-weight: bold;
}

textarea.policy-area {
    width: 100%;
    min-height: 30rem;
    font-family: Courier, "courier new", monospace;
    font-weight: bold;
}

.expando {
    .title {
        a {
            color: #333;
            &:hover {
                color: $euca-green;
                border-bottom: 1px solid $euca-green;
            }
        }
    }
}


/* -----------------------------------------
   Tag editor
----------------------------------------- */
#tag-editor {
    small {
        font-size: 0.825rem;
    }
    .items {
        margin-bottom: 6px;
        .tagentry {
            color: #333;
            background-color: $euca-lightgrey;
            margin-right: 8px;
            a {
                color: white;
            }
            .propagates {
                color: #777;
                font-size: 0.7em;
            }
        }
    }
    .add-label {
        margin-bottom: 6px;
    }
    #add-tag-btn {
        margin-bottom: 0;
    }
}



/* -----------------------------------------
   Help content
----------------------------------------- */
.right-off-canvas-menu {
    background-color: white;
    padding: 10px;
}

.help-content {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    p {
        margin-bottom: 0.5rem;
    }
    ol {
        list-style-position: inside;
        li {
            text-indent: -1rem;
            margin-left: 1rem;
            p {
                text-indent: 0;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
            }
        }
    }
    i {
        text-indent: 0;
        &.fi-minus-circle {
            font-size: 1.2rem;
            &:hover {
                color: black;
            }
        }
    }
    table.table {
        width: 100%;
        tr td {
            line-height: 1.1rem;
        }
    }
}


/* -----------------------------------------
   Forms
----------------------------------------- */

form {
    label {
        cursor: default;
        .req {
            color: darkred;
        }
    }
    input {
        background-color: $euca-extralightgreen;
        &[type=text],
        &[type=password],
        &[type=number] {
            background-color: $euca-extralightgreen;
        }
        &[type=file] {
            background-color: transparent;
        }
    }
    select, textarea {
        background-color: $euca-extralightgreen;
    }
    .row {
        .inline-label {
            line-height: 2rem;
        }
        input {
            &[type='text'], &[type='password'] {
                margin: 0 0 0 0;
                height: $euca-input-field-height;
                line-height: $euca-input-field-height;
            }
            &[type='number'] {
                width: 3rem;
            }
        }
    }
    .columns input {
        max-width: 100%;
    }
    a.remove.circle {
        position: relative;
        left: 8px; top: -2px;
    }
    .cancel-link {
        margin-left: 2rem;
    }
    .controls_csrf_token {
        display: none;
    }
    .server-validation span.error {
        display: block !important;
    }
    .error .chosen-container .chosen-single {
        border-color: darkred;
        background: $euca-validation-input-bgcolor;
    }
}

.row.controls-wrapper {
    margin-bottom: 0.5rem;
    label {
        padding-top: 4px;
        font-weight: bold;
        text-align: right;
        line-height: 1rem;
        select, input, .chosen-container {
            text-align: left;
        }
    }
    label.reverse {
        text-align: left;
    }
    div.reverse {
        input {
            float: right;
        }
    }
    .field {
        input {
            display: inline-block;
            margin-bottom: 0.3rem;
        }
        select {
            margin-bottom: 0.3rem;
            margin-top: 0.3rem;
        }
        textarea {
            margin-top: 0.3rem;
        }
    }
    &.readonly {
        margin-top: 0;
        margin-bottom: 0;
        label {
            padding-top: 0;
            position: relative;
            right: -12px;
        }
    }
    &.inline {
        margin-bottom: 4px;
        label {
            right: -6px;
        }
    }
}

form .controls-wrapper > [class*='small-'] label {
    font-weight: bold;
    padding-top: 0.3rem;
    position: relative;
    right: -1rem;
}

[data-abide] .controls-wrapper .error {
    input, select {
        border: 1px solid darkred;
        background-color: $euca-validation-input-bgcolor;
    }
    small.error {
        margin-bottom: 6px;
        background-color: transparent;
        color: $euca-validation-error-color;
        font-weight: bold;
        padding-left: 0;
        font-style: normal;
        padding-bottom: 4px;
    }
}

textarea.hidden {
    display: none;
    &.debug {
        display: block;
    }
}

// Help text icon for inline help on form fields
.helptext-icon {
    display: inline-block;
    margin-left: 5px;
    width: 20px; height: 20px;
    border-radius: 32px;
    border: 1px solid $euca-grey;
    background-color: $euca-lightgrey;
    color: white;
    text-align: center;
    padding-top: 3px;
    font-size: 0.825rem;
}


/* -----------------------------------------
   Chosen widget
----------------------------------------- */
.chosen-container {
    &.chosen-container-multi {
        background: none;
        background-color: $euca-extralightgreen !important;
        .chosen-choices  {
            background: none;
            background-color: $euca-extralightgreen !important;
            li {
                &.search-field  {
                    input[type=text] {
                        height: auto;
                    }
                    .default {
                        color: #999;
                    }
                }
                &.search-choice {
                    background-image: none;
                    background-color: #d1d3d4;
                    border: none;
                    font-size: 0.9rem;
                    padding: 4px 20px 4px 8px;
                    color: #555;
                    .search-choice-close {
                        top: 5px;
                    }
                }
            }
        }
    }
    &.chosen-container-single {
        .chosen-single {
            background-image: none;
            background-color: $euca-extralightgreen !important;
            border-radius: 0;
            height: 2rem;
            line-height: 2rem;
            font-size: 0.875rem;
            b {
                position: relative;
                top: 4px;
            }
        }
    }
    .chosen-drop .chosen-results {
        font-size: 0.875rem;
    }
}


/* -----------------------------------------
   Panels and modals
----------------------------------------- */
.panel {
    background-color: white;
    border: 0;
    position: relative;
    h6 {
        font-weight: bold;
        color: $euca-darkblue;
    }
    &.has-actions {
        position: relative;
        padding-top: 50px;
        h6.title {
            position: absolute;
            top: 0; left: 0; right: 0;
            line-height: 2rem;
            padding-left: 8px;
            background-color: $euca-darkblue;
            color: white;
            font-weight: normal;
            @include ellipsis-overflow;
        }
        .label.status {
            margin-bottom: 8px;
        }
        .actions-menu {
            @include button-shadow-mixin;
            position: absolute;
            top: 10px; right: 10px;
            .secondary.button.dropdown {
                background-color: $euca-orange;
                border: none;
                margin-bottom: 0;
                &::before {
                    border-color: white transparent transparent transparent;
                }
            }
            .f-dropdown {
                box-shadow: 0px 0px 1px 1px lighten($euca-orange, 10%);
                min-width: 12rem;
                width: auto;
            }
        }
    }
}

.reveal-modal-bg {
    z-index: 9999998;
}

.reveal-modal {
    z-index: 9999999;
    h3 {
        font-weight: bold;
    }
    form .row.controls-wrapper {
        margin-bottom: 1rem;
    }
}

/* -----------------------------------------
   Tables
----------------------------------------- */
table.table {
    tr td {
        vertical-align: top;
    }
}


/* -----------------------------------------
   Footer
----------------------------------------- */
footer {
    padding: 15px 0 3rem 1rem;
    .copyright {
        font-size: 0.9em;
    }
}


/* -----------------------------------------
   Buttons
----------------------------------------- */
.button {
    @include button-shadow-mixin;
    background-color: $euca-orange;
    &.secondary {
        background-color: $euca-grey;
        color: white;
    }
    &:hover {
        background-color: darken($euca-orange, 10%);
    }
}

/* -----------------------------------------
   Tabs
----------------------------------------- */
.tabs {
    dd {
        &:first-child a {
            box-shadow: none;
        }
        a {
            box-shadow: inset 6px 0px 4px 0px rgba(50, 50, 50, 0.2);
            padding: 10px 32px 6px 24px;
            font-weight: bold;
        }
        &.active a {
            box-shadow: none;
        }
    }
}


/* -----------------------------------------
   Foundation fixes
----------------------------------------- */
// Prevent dropdown menus from displaying when viewport height approaches 10k px.
.f-dropdown {
    left: -99999px;
    z-index: 9999999;
}

// Add a show-for-xsmall class to display items only when max-width is 480px
.show-for-xsmall {
    display: none !important;
}
.hide-for-xsmall {
    display: inline !important;
}



/* -----------------------------------------
   Media Queries
----------------------------------------- */

/* Extra small screen (< 481px) */
@media screen and (max-width: $euca-extrasmall-breakpoint) {
    .show-for-xsmall {
        display: inline-block !important;
    }
    .hide-for-xsmall {
        display: none !important;
    }
}

@media screen and (max-width: 640px) {
    #logo {
        width: 20px !important;
    }
}

// Nav bar adjustments
@media screen and (max-width: $topbar-breakpoint) {
    #logobar {
        border-bottom: 1px solid black;
        margin-top: 8px;
        .dropdown {
            position: relative;
            top: 4px;
        }
        #offcanvas-icon {
            display: inline-block !important;
            margin-right: 12px;
        }
        #user-dropdown-section {
            position: relative;
            left: -10px;
        }
    }
    #navbar {
        display: none;
    }
}

/* Other Small screen tweaks */
@media screen and (max-width: $topbar-breakpoint) {
    .columns.datagrid {
        padding-left: 1rem;
    }
    .sub-nav {
        top: 0;
        left: 0;
        margin-top: -28px;
        margin-left: 4px;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: $topbar-breakpoint) {
    // Ensure span.hide-for-small are display: inline (Foundation sets them as display: inherit
    span.hide-for-small {
        display: inline !important;
    }
}


/* -----------------------------------------
   Debug
----------------------------------------- */
#pDebugToolbarHandle { top: 120px !important; }


