/* Sass Imports */

// Normalize/reset CSS styles
@import "includes/normalize";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  // "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  // "foundation/components/orbit",
  "foundation/components/reveal",
  // "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  // "foundation/components/breadcrumbs",
  "foundation/components/custom-forms",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  // "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/dropdown";

/* =========================================================== */
/* Eucalyptus Management Console main styles */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Fonts
:: Variables
:: Master Layout
:: Header
:: Footer
:: Debug

*/


/* -----------------------------------------
   Fonts
----------------------------------------- */


/* -----------------------------------------
   Variables
----------------------------------------- */
$euca-footer-height: 80px;


/* -----------------------------------------
   Master Layout
----------------------------------------- */
html {
    background-color: #444;
    border-top: 10px solid #00415e;
    padding-bottom: $euca-footer-height;
}

html, body {
    height: 100%;
}

body {
    background-color: #fff;
    min-height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-content {
    min-height: 10rem;
}

/* -----------------------------------------
   Header
----------------------------------------- */
#logobar {
    height: 44px;
    padding: 5px 0 10px 15px;
    background-color: #fff;
    color: #333;
}

#logobar a {
    font-size: 0.9rem;
    color: #333;
}

#logobar a:focus {
    box-shadow: 0;
}

#logobar #logo {
    display: inline-block;
    width: 199px; height: 22px;
    background: url(../img/eucalogo-199x22.png) no-repeat;
}

#logobar section {
    display: inline-block;
    float: right;
}

#logobar section .button {
    top: 0;
    border: 0;
    background-color: transparent;
    font-weight: normal;
}



/* -----------------------------------------
   Footer
----------------------------------------- */
footer {
    width: 100%;
    height: $euca-footer-height;
    padding: 15px;
    background-color: rgb(51, 51, 51);
    position: absolute;
    bottom: -$euca-footer-height;
    left: 0; right: 0;
}

.copyright {
    font-size: 0.8em;
}


/* -----------------------------------------
   Debug
----------------------------------------- */
#pDebugToolbarHandle { top: 100px !important; }


