/* Sass Imports */

// Normalize/reset CSS styles
@import "includes/normalize";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  // "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  // "foundation/components/orbit",
  "foundation/components/reveal",
  // "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  // "foundation/components/breadcrumbs",
  "foundation/components/custom-forms",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  // "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/dropdown";

/* =========================================================== */
/* Eucalyptus Management Console main styles */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Master Layout
:: Header
:: Main Content
:: Forms
:: Footer
:: Debug

*/


/* -----------------------------------------
   Master Layout
----------------------------------------- */
html {
    background-color: #444;
    border-top: 10px solid $euca-darkblue;
}

body {
    color: #333;
    background-color: #fff;
    min-height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* -----------------------------------------
   Header
----------------------------------------- */
#logobar {
    height: 44px;
    padding: 5px 0 10px 15px;
    background-color: #fff;
    color: #333;
}

#logobar a {
    font-size: 0.9rem;
    color: #333;
}

#logobar a:focus {
    box-shadow: 0;
}

#logobar #logo {
    display: inline-block;
    width: 199px; height: 22px;
    background: url(../img/eucalogo-199x22.png) no-repeat;
}

#logobar section {
    display: inline-block;
    float: right;
}

#logobar section .button {
    top: 0;
    border: 0;
    background-color: transparent;
    font-weight: normal;
}

#logobar #user-dropdown {
    z-index: 999999;
}

nav.top-bar {
    box-shadow: 0 2px 2px 0 $euca-grey;
}

nav.top-bar a {
    text-transform: uppercase;
}

nav.top-bar .dropdown li a {
    line-height: 1.5rem;
}


/* -----------------------------------------
   Main Content
----------------------------------------- */
#maincontent {
    padding: 1rem;
}

@media screen and (min-width: $topbar-breakpoint) {
    #login-panel { margin-bottom: 5rem; }
    #maincontent { min-height: 480px; }
}


/* -----------------------------------------
   Forms
----------------------------------------- */
form .row input {
    margin: 0 0 0 0;
}

form .row.field-wrapper {
    margin-bottom: 1rem;
}

form .server-validation span.error {
    display: block !important;
}


/* -----------------------------------------
   Footer
----------------------------------------- */
footer {
    width: 100%;
    height: $euca-footer-height;
    padding: 15px;
    background-color: rgb(51, 51, 51);
}

.copyright {
    font-size: 0.8em;
}


/* -----------------------------------------
   Debug
----------------------------------------- */
#pDebugToolbarHandle { top: 100px !important; }


