@charset "UTF-8";
/* @fileOverview Image picker widget Sass CSS styles */
#image-picker .table .icon { width: 80px; height: 80px; }
#image-picker .table .name a { line-height: 1rem; font-size: 1.1rem; }
#image-picker .table .label { padding: 3px 4px; }
#image-picker .table .label.i386 { background-color: #6a6a6a; }
#image-picker .table .label.x86_64 { background-color: #40a8c6; }
