/* ----------------------------------------- Item list
----------------------------------------- */
/* ----------------------------------------- Item list
----------------------------------------- */
#delete-alarm-modal p { margin: 0 0 7px; }
#delete-alarm-modal .header { color: #444; text-transform: uppercase; font-size: 16px; font-weight: bold; }
#delete-alarm-modal .header .columns { padding: 0; }
#delete-alarm-modal .alarm-dimensions { margin: 0 0 20px; }
#delete-alarm-modal .alarm-dimensions .columns { padding: 0; }
#delete-alarm-modal .row.control { margin: 0 0 15px; }

#manage-resource-alarms .label.status.alert { background-color: darkred; }

.status.ALARM { background-color: darkred; }

.status.INSUFFICIENT_DATA { background-color: #666666; }

.status.OK { background-color: green; }

.status { margin: 0 0.25rem 0 0.25rem; position: relative; bottom: 2px; }

.top-state { position: relative; bottom: 1px; }

.alarm-listing { margin-top: 0.5rem; }
.alarm-listing a[href] { text-decoration: underline; }
.alarm-listing a[href]:hover { color: #666666; border-bottom: 1px solid #666666; }

i.delete-icon { color: #666666 !important; }
i.delete-icon:hover { color: darkred !important; }

span.capital { text-transform: capitalize; }
