/* @fileOverview Bucket details page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
#bucket-section-title { position: relative; top: -1rem; }

#cors-config-textarea { height: 5rem; }

#existing-cors-config-wrapper { line-height: 2rem; }
#existing-cors-config-wrapper .icon { margin-right: 0.5rem; }
#existing-cors-config-wrapper .icon .fi-pencil { position: relative; bottom: 2px; }
