/* @fileOverview Bucket item (folder/object) details page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
#friendly_name { width: 50%; }

.fa-lock, .fa-unlock { margin-right: 3px; color: #007dba; }

.fa-lock { color: #e6a818; }

#shared-url-modal textarea { height: 8rem; }
