/* @fileOverview Bucket item (folder/object) details page CSS */
/* ----------------------------------------- Item list
----------------------------------------- */
#friendly_name { width: 50%; }

.fa-lock, .fa-unlock { margin-right: 3px; color: #000000; }

#shared-url-modal textarea { height: 8rem; }
