/* @fileOverview Bucket details page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
#bucket-section-title { position: relative; top: -1rem; }

#cors-configuration-modal textarea { height: 10rem; }

#sample-link-wrapper { text-align: right; }

#existing-cors-config-wrapper .icon { margin-right: 0.5rem; position: relative; top: 2px; }
#existing-cors-config-wrapper .icon.edit { font-size: 1.1rem; }
#existing-cors-config-wrapper .icon.remove { top: 3px; }
