/* @fileOverview Dashboard CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
#maincontent { padding-top: 1rem; background: #eef7e3; }
#maincontent #pagetitle { margin-bottom: 0.5rem; margin-left: 0; margin-top: 1rem; }
#maincontent #pagetitle h3 { font-weight: bold; margin-top: 0; display: inline-block; }
#maincontent #pagetitle #zone-selector { display: inline-block; margin-left: 1rem; }

.panel { background-color: transparent; border: none; margin-bottom: 0; box-sizing: border-box; position: relative; font-size: 0.825rem; }
.panel .tile { background-color: white; position: relative; height: 240px; padding: 4px 8px; }
.panel .tile .subheader { font-size: 1rem; font-weight: 500; margin: 0 0 0 0; }
.panel .tile .icon { position: absolute; top: 20%; left: 50%; margin-left: -50px; display: inline-block; width: 100px; height: 100px; text-align: center; color: white; font-size: 3rem; }
.panel .tile .icon em { font-size: 1.3rem; font-weight: bold; position: absolute; bottom: -40%; left: 0; right: 0; text-align: center; color: black; font-style: normal; }
.panel .tile .footer { position: absolute; height: 30px; left: 1rem; right: 1rem; bottom: 8px; text-align: center; }
.panel .tile .footer a { font-weight: bold; }
.panel .tile .footer a:hover { text-decoration: underline; }
.panel .tile .footer .button { display: inline-block; font-weight: bold; }
.panel .tile .footer .button:hover { text-decoration: none; }
.panel .tile .dropdown.button.tiny { z-index: 99999; background: none; box-shadow: none; position: absolute; width: 30px; height: 24px; top: 0; right: 0; color: #8cc63e; font-size: 1.1rem; padding: 0 0 0 0; border-top: none; border-right: none; }
.panel .tile .dropdown.button.tiny:hover { color: #8cc63e; }
.panel .tile .dropdown.button.tiny::before { border: none; }
.panel .tile .dropdown.button.tiny .fi-widget { position: relative; top: 4px; background-image: url(../../img/svg/gear.svg); display: inline-block; width: 20px; height: 20px; }
.panel .tile .dropdown.button.tiny .fi-widget::before { content: " "; }
.panel .tile .f-dropdown { border-color: #8dc640; box-shadow: 2px 2px 5px #6a737b; }
.panel .tile .f-dropdown.open { top: 34px; min-width: 10rem; padding-top: 0; }
.panel .tile.add { text-align: center; text-transform: uppercase; position: relative; }
.panel .tile.add a { display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.panel .tile.add a:hover { background-color: #d3e9b6; }
.panel .tile.add .plus { font-size: 5rem; margin-bottom: 0.5rem; }

#instances-running .icon { background-image: url(../../img/svg/icon_running_instances.svg); }

#instances-stopped .icon { background-image: url(../../img/svg/icon_stopped_instances.svg); }

#scaling-groups .icon { background-image: url(../../img/svg/icon_instances_scaling_groups.svg); }

#elastic-ips .icon { background-image: url(../../img/svg/icon_elastic_IP.svg); }

#volumes .icon { background-image: url(../../img/svg/icon_volumes.svg); }

#snapshots .icon { background-image: url(../../img/svg/icon_snapshot.svg); }

#buckets .icon { background-image: url(../../img/svg/icon_buckets.svg); }

#security-groups .icon { background-image: url(../../img/svg/icon_security_groups.svg); }

#key-pairs .icon { background-image: url(../../img/svg/icon_key-pair.svg); }

#accounts .icon { background-image: url(../../img/svg/icon_IAM_accounts.svg); }

#users .icon { background-image: url(../../img/svg/icon_IAM_users.svg); }

#groups .icon { background-image: url(../../img/svg/IAM_group.svg); }

#roles .icon { background-image: url(../../img/svg/icon_IAM_roles.svg); }

#service-unknown { margin-top: 13px; }

#health .statusrow { font-size: 11pt; text-align: left; color: #6a737b; margin-top: 10px; line-height: 1.4rem; }
#health .statusrow .status { position: relative; left: 8px; }
#health .statusrow i.service-up { color: #03405f; font-size: 16pt; text-align: left; }
#health .statusrow i.service-down { color: red; font-size: 16pt; text-align: left; }
