/* @fileOverview Dashboard CSS */
/* ----------------------------------------- Item list
----------------------------------------- */
#logobar .product-name { padding-left: 0; }
#logobar #user-dropdown-section { left: 0; }

#maincontent { padding-top: 1rem; }
#maincontent #pagetitle { margin-bottom: 0.5rem; margin-left: 0; margin-top: 1rem; }
#maincontent #pagetitle h3 { font-family: "PT Sans", Verdana, Geneva, Lucida, sans-serif; font-size: 24px; margin-top: 0; display: inline-block; }
#maincontent #pagetitle #zone-selector { display: inline-block; margin-left: 1rem; font-family: "Lato", Helvetica, Arial, sans-serif; font-size: 16px; }
#maincontent #pagetitle #zone-selector:hover { text-decoration: underline; }
#maincontent #pagetitle #reset-dash { margin-top: 1.25rem; font-family: "Lato", Helvetica, Arial, sans-serif; font-size: 16px; display: inline-block; float: right; }
#maincontent #pagetitle #reset-dash:hover { text-decoration: underline; }

.panel { background-color: transparent; border: none; margin-bottom: 0; box-sizing: border-box; position: relative; font-size: 16px; }
.panel .tile { background-color: white; position: relative; height: 240px; padding: 4px 8px; }
.panel .tile .subheader { font-family: "Lato", Helvetica, Arial, sans-serif; font-size: 16px; color: #000000; margin: 0 0 0 0; }
.panel .tile i.fa-bell { color: white !important; }
.panel .tile i.dash-no-alarms { color: #000000 !important; }
.panel .tile i.dash-alarms { color: darkred !important; }
.panel .tile .icon { position: absolute; top: 20%; left: 50%; margin-left: -50px; display: inline-block; width: 100px; height: 100px; text-align: center; color: white; font-size: 3rem; }
.panel .tile .icon em { font-size: 24px; position: absolute; bottom: -40%; left: 0; right: 0; text-align: center; color: #000000; font-family: "PT Sans", Verdana, Geneva, Lucida, sans-serif; font-style: normal; }
.panel .tile .icon em:hover { color: #666666; }
.panel .tile .icon em i { color: black; }
.panel .tile .footer { position: absolute; height: 30px; left: 1rem; right: 1rem; bottom: 8px; text-align: center; }
.panel .tile .footer a { font-size: 16px; }
.panel .tile .footer a:hover { text-decoration: underline; }
.panel .tile .footer .button { display: inline-block; }
.panel .tile .footer .button:hover { text-decoration: none; }
.panel .tile .dropdown.button.tiny { z-index: 99998; background: none; box-shadow: none; position: absolute; width: 30px; height: 24px; top: 0; right: 0; color: #000000; font-size: 1.1rem; padding: 0 0 0 0; border: none; }
.panel .tile .dropdown.button.tiny:hover { color: #666666; outline: none; }
.panel .tile .dropdown.button.tiny::before, .panel .tile .dropdown.button.tiny::after { border: none; }
.panel .tile .f-dropdown { border-color: #d9d9d9; box-shadow: 2px 2px 5px #d9d9d9; }
.panel .tile .f-dropdown.open { top: 34px; min-width: 10rem; padding-top: 0; }
.panel .tile.add { text-align: center; text-transform: uppercase; position: relative; }
.panel .tile.add a { display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.panel .tile.add a:hover { background-color: #d9d9d9; text-decoration: none; }
.panel .tile.add .plus { font-size: 5rem; margin-bottom: 0.5rem; }

li#alarms .tile .content { padding-top: 0.8rem; width: 100%; text-align: center; }

.euca-dash-size { font-size: 3.65em; }

#instances-running .icon { background-image: url(../../img/svg/icon_running_instances.svg); }

#instances-stopped .icon { background-image: url(../../img/svg/icon_stopped_instances.svg); }

#scaling-groups .icon { background-image: url(../../img/svg/icon_instances_scaling_groups.svg); }

#stacks .icon { background-image: url(../../img/svg/icon_cloud_formation.svg); }

#elastic-ips .icon { background-image: url(../../img/svg/icon_elastic_IP.svg); }

#volumes .icon { background-image: url(../../img/svg/icon_volumes.svg); }

#snapshots .icon { background-image: url(../../img/svg/icon_snapshot.svg); }

#buckets .icon { background-image: url(../../img/svg/icon_buckets.svg); }

#security-groups .icon { background-image: url(../../img/svg/icon_security_groups.svg); }

#key-pairs .icon { background-image: url(../../img/svg/icon_key-pair.svg); }

#load-balancers .icon { background-image: url(../../img/svg/icon_load_balancing.svg); }

#accounts .icon { background-image: url(../../img/svg/icon_IAM_accounts.svg); }

#users .icon { background-image: url(../../img/svg/icon_IAM_users.svg); }

#groups .icon { background-image: url(../../img/svg/IAM_group.svg); }

#roles .icon { background-image: url(../../img/svg/icon_IAM_roles.svg); }

#service-unknown { margin-top: 13px; }

#instances-running .footer .button { position: relative; bottom: 8px; }

#health .statusrow { font-size: 10pt; text-align: left; color: #666666; margin-top: 10px; line-height: 1.2rem; }
#health .statusrow .status { position: relative; left: 8px; }
#health .statusrow i.service-up { color: green; font-size: 16pt; text-align: left; }
#health .statusrow i.service-down { color: darkred; font-size: 16pt; text-align: left; }
#health .statusrow i.service-denied { color: #666666; font-size: 16pt; text-align: left; }
