/* @fileOverview Dashboard CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
#maincontent { padding-top: 1rem; background: #eef7e3; }
#maincontent #pagetitle { margin-bottom: 0.5rem; margin-left: 0; margin-top: 1rem; }
#maincontent #pagetitle h3 { font-weight: bold; margin-top: 0; display: inline-block; }
#maincontent #pagetitle #zone-selector { display: inline-block; margin-left: 1rem; }

.panel { background-color: transparent; border: none; margin-bottom: 0; box-sizing: border-box; position: relative; font-size: 0.825rem; }
.panel .tile { background-color: white; position: relative; height: 240px; padding: 4px 8px; }
.panel .tile .subheader { font-size: 1rem; font-weight: 500; margin: 0 0 0 0; }
.panel .tile .icon { position: absolute; top: 20%; left: 50%; margin-left: -50px; display: inline-block; width: 100px; height: 100px; text-align: center; color: white; font-size: 3rem; }
.panel .tile .icon em { font-size: 1.3rem; font-weight: bold; position: absolute; bottom: -40%; left: 0; right: 0; text-align: center; color: black; font-style: normal; }
.panel .tile .footer { position: absolute; height: 30px; left: 1rem; right: 1rem; bottom: 8px; text-align: center; }
.panel .tile .footer a { font-weight: bold; }
.panel .tile .footer a:hover { text-decoration: underline; }
.panel .tile .footer .button { display: inline-block; font-weight: bold; }
.panel .tile .footer .button:hover { text-decoration: none; }

#instances-running .icon { background-image: url(../../img/svg/icon_running_instances.svg); }

#instances-stopped .icon { background-image: url(../../img/svg/icon_stopped_instances.svg); }

#scaling-groups .icon { background-image: url(../../img/svg/icon_instances_scaling_groups.svg); }

#elastic-ips .icon { background-image: url(../../img/svg/icon_elastic_IP.svg); }

#volumes .icon { background-image: url(../../img/svg/icon_volumes.svg); }

#snapshots .icon { background-image: url(../../img/svg/icon_snapshot.svg); }

#security-groups .icon { background-image: url(../../img/svg/icon_security_groups.svg); }

#key-pairs .icon { background-image: url(../../img/svg/icon_key-pair.svg); }

#users .icon { background-image: url(../../img/svg/icon_IAM_users.svg); }

#groups .icon { background-image: url(../../img/svg/IAM_group.svg); }

#roles .icon { background-image: url(../../img/svg/icon_IAM_roles.png); }

/* Small screen */
#service-up i { color: #03405f; font-size: 16pt; text-align: left; }

#service-down i { color: red; font-size: 16pt; text-align: left; }

#status { font-size: 11pt; text-align: left; font-style: normal; font-weight: normal; color: #6a737b; margin-top: 9px; margin-bottom: 0; }
