/* @fileOverview single Load Balancer page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
#elb-view-form dd a { font-size: 0.85rem; }
#elb-view-form dd span { font-size: 0.85rem; }
#elb-view-form input.text-input { width: 300px; }
#elb-view-form input.timeout-field { width: 60px; }
#elb-view-form input[type="number"] { width: 100px; }
#elb-view-form select.ip-protocol { width: 100px; }
#elb-view-form select.ping-delay { width: 120px; }
#elb-view-form select.ping-threshold { width: 100px; }
#elb-view-form .stack-label { margin-bottom: 0.5rem; }
#elb-view-form .section-label { margin-top: 1.5rem; margin-bottom: 1rem; color: #03405f; }
#elb-view-form .sub-section-label { color: black; }
#elb-view-form .helptext-icon { color: #6a737b; font-size: 1.3rem; }
#elb-view-form .section-label-with-helptext-icon { margin-bottom: 0.5rem; }
#elb-view-form .checkbox-with-helptext-icon label { margin-right: 0rem; }
#elb-view-form .cancel-link { margin-right: 1.5rem; }
#elb-view-form #elb-listener-security-field { margin-bottom: 1.5rem; }

table.elb-listener-table { width: 100%; }
table.elb-listener-table tr.top-header { border-bottom: 0px; }
table.elb-listener-table th.vertical-border-header { border-collapse: collapse; border-right-width: 1px; border-right-style: solid; border-right-color: #ddd; }
table.elb-listener-table th.center { text-align: center; }

table.instance-selector-table { width: 100%; }
