/* ----------------------------------------- Item list
----------------------------------------- */
/* ----------------------------------------- Item list
----------------------------------------- */
/* @section Wizard styles */
.wizard { position: relative; background-color: transparent; }
.wizard.has-title { position: relative; padding-top: 42px; }
.wizard.has-title h6.title { position: absolute; text-transform: uppercase; letter-spacing: 1px; top: 0; left: 0; right: 0; line-height: 2.5rem; padding-left: 12px; background-color: #000000; color: white; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.wizard .row.controls-wrapper.readonly { margin-bottom: 0.5rem; }
.wizard .tabs dd { padding-right: 1rem; padding-left: 0; }
.wizard .tabs dd a { color: #666666; font-family: "PT Sans", Verdana, Geneva, Lucida, sans-serif; text-transform: uppercase; background-color: transparent; box-shadow: none; white-space: nowrap; padding: 8px 0 6px 0; }
.wizard .tabs dd a:hover { color: #666666; border-bottom: 2px solid #666666; }
.wizard .tabs dd a .cir { background-color: #666666; }
.wizard .tabs dd.active a { color: #000000; font-family: "PT Sans", Verdana, Geneva, Lucida, sans-serif; background-color: transparent; border-bottom: 2px solid #000000; }
.wizard .tabs dd.active .cir { background-color: #000000; }
.wizard .tabs dd.disabled { color: #d9d9d9; font-family: "PT Sans", Verdana, Geneva, Lucida, sans-serif; text-transform: uppercase; padding: 8px 1rem; }
.wizard .tabs dd.disabled .cir { margin-right: 8px; background-color: #d9d9d9; }
.wizard .tabs dd .cir { position: relative; top: -2px; font-size: 0.825rem; display: inline-block; border-radius: 60px; width: 20px; height: 20px; padding: 0 0 0 0; text-align: center; vertical-align: middle; background-color: #d9d9d9; color: white; margin-right: 4px; }
.wizard .tabs-content { min-height: 400px; margin: 0 0 0 0; padding: 1rem; background-color: white; }
.wizard .tabs-content div.large-3.small-4.columns { padding-left: 0; }
.wizard .tabs-content .content { width: 100%; }
.wizard .tabs-content .content .description { color: #666666; }
.wizard .tabs-content .content .rule-description-label { color: #666666; }
.wizard .fi-alert { color: darkred; }
.wizard .chosen-container-multi .chosen-choices li.search-field input.default { color: #d9d9d9; font-size: 16px; font-family: "Lato", Helvetica, Arial, sans-serif; margin-left: 3px; }
.wizard select { font-family: inherit; }

.summary { background-color: white; position: relative; top: 2px; padding: 8px; padding-bottom: 2rem; margin-bottom: 1rem; }
.summary label { position: relative; right: -1rem; color: #666666; margin-top: 4px; cursor: default; }
.summary .value { word-break: break-all; line-height: 1rem; color: #000000; }
.summary .value.breakword { word-break: normal; word-wrap: break-word; }
.summary .row { margin-bottom: 5px; }
.summary .title { font-weight: bold; color: #000000; border-bottom: 1px solid #d9d9d9; margin-top: 7px; margin-bottom: 0.25rem; }
.summary .section { padding: 0.5rem 0; border-bottom: 1px solid #d9d9d9; }
.summary .section:last-child { border-bottom: none; }
.summary #tag-preview { word-break: break-all; }

.rules-display .rules-title { word-break: break-all; }
.rules-display .rules-title .normal-word-break { word-break: normal; }

/* ----------------------------------------- Media Queries
----------------------------------------- */
/* Extra small screen (< 481px) */
@media screen and (max-width: 560px) { dl.tabs a b { display: none; } }
/* @section Elastic Load Balancer Wizard styles */
#elb-form input.text-input { width: 300px; }
#elb-form input[type="number"] { width: 100px; }
#elb-form select.ip-protocol { width: 100px; }
#elb-form select.ping-delay { width: 120px; }
#elb-form select.ping-threshold { width: 100px; }
#elb-form table { margin-left: auto; margin-right: auto; }
#elb-form table.table { width: 100%; }
#elb-form .section-label { margin-top: 1.5rem; margin-bottom: 1rem; }
#elb-form .section-label-with-helptext-icon { margin-bottom: 0.5rem; }
#elb-form .checkbox-with-helptext-icon label { margin-right: 0; }

.summary .multi-row div { padding-bottom: 0.25rem; }
.summary .row.logging-summary { margin-top: 1rem; }

#access-logs-wrapper { margin-left: 1.5rem; }
#access-logs-wrapper #bucket_name, #access-logs-wrapper #bucket_prefix, #access-logs-wrapper #collection_interval { width: 12rem; }
#access-logs-wrapper p { margin-bottom: 0.5rem; }
#access-logs-wrapper #controls_bucket_name.stacked.controls-wrapper { margin-bottom: 0; }
#access-logs-wrapper #controls_bucket_name.stacked.controls-wrapper small.error { margin-bottom: 0; padding-bottom: 0; }
