/* @fileOverview IAM Group detail view page CSS */
/* ----------------------------------------- Item list
----------------------------------------- */
/* ----------------------------------------- Chosen Widget Modification
----------------------------------------- */
.chosen-container-multi .chosen-choices li.search-choice { display: none; }

/* ----------------------------------------- IAM User Icons
----------------------------------------- */
#users-in-group .item-list { margin-bottom: 6px; }
#users-in-group .item-list .item { color: #666666; font-family: Metric-Regular, Helvetica, Arial, sans-serif; border: 2px solid #d9d9d9; background-color: #fff; margin-right: 8px; }
#users-in-group .item-list .item a { color: #666666; }
#users-in-group .item-list .item a:hover { color: #01a982; text-decoration: none; }

/* ----------------------------------------- Extra Element Padding
----------------------------------------- */
.padded-element { padding: 5px 5px; }

.top-bottom-padding { padding-top: 10px; padding-bottom: 15px; }
