/* ----------------------------------------- Item list
----------------------------------------- */
.tabs { max-height: 2.6rem !important; border-bottom: 1px solid #ccc; }
.tabs dd { position: relative; top: 1px; z-index: 999; padding-right: 2rem; padding-left: 0; }
.tabs dd a { padding: 10px 0 4px 0; color: #666666; background-color: transparent; font-family: Metric-Semibold, Helvetica, Arial, sans-serif; }
.tabs dd a:hover { border-bottom: 2px solid #666666; background-color: transparent; text-decoration: none; }
.tabs dd.active a { color: #000000; font-family: Metric-Semibold, Helvetica, Arial, sans-serif; background-color: transparent; border-bottom: 2px solid #000000; }
.tabs.switcher { display: inline-block; }
.tabs.switcher dd:last-child { padding-right: 0; }

.tabs-content { background-color: white; }
.tabs-content p { line-height: 1.3rem; }
.tabs-content .small-10.columns { padding-left: 0; }
.tabs-content .content { margin-top: 8px; }
.tabs-content .content .choice { border-bottom: 1px solid #d9d9d9; margin-bottom: 1rem; margin-left: 1rem; margin-right: 1rem; }
.tabs-content .content .choice:last-child { border-bottom: none; }
.tabs-content .content .choice .expando i { margin-right: 8px; }
.tabs-content .content .choice .expando i.fi-minus { margin-right: 7px; }
.tabs-content .content .choice .expando a:hover { border-bottom: none; }
.tabs-content .content .choice p.has-expando { margin-left: 24px; }
.tabs-content .content .choice .fileupload { margin-left: 2rem; }
.tabs-content .content .choice input[type=file] { display: inline-block; width: 90%; margin-left: 8px; }

#policy-preview { background-color: white; padding: 1rem; margin-top: 40px; }
#policy-preview input[type=text], #policy-preview textarea { background-color: white; }

@media only screen and (min-width: 64.063em) and (min-height: 52rem) { #policy-preview { position: fixed; min-width: 26rem; } }
#policy-generator { border-color: #d9d9d9; border-left: none; border-right: none; width: 100%; }
#policy-generator tr.namespace { border-top: 1px solid #d9d9d9; background-color: white; }
#policy-generator tr.namespace td { font-size: 1rem; }
#policy-generator th.allow, #policy-generator th.deny { text-transform: uppercase; font-size: 18px; width: 40px; }
#policy-generator td { font-size: 16px; line-height: 1rem; }
#policy-generator td.allow, #policy-generator td.deny { text-align: center; }
#policy-generator td h6 { margin-bottom: 4px; }
#policy-generator td .resource-wrapper { vertical-align: top; margin-bottom: 1rem; }
#policy-generator td .resource-wrapper input[type=text] { display: inline-block; width: 50%; }
#policy-generator td .resource-wrapper input[type=text].arn { width: 100%; }
#policy-generator td .resource-wrapper input[type=text].hide { display: none; }
#policy-generator td .conditions-wrapper { margin-bottom: 1rem; }
#policy-generator td .conditions-wrapper select { margin-bottom: 4px; }
#policy-generator td .conditions-wrapper input[type=text] { width: 100%; }
#policy-generator td .conditions-wrapper .button { margin-top: 10px; }
#policy-generator td .button { margin-bottom: 0; }
#policy-generator td input[type=text] { display: inline-block; width: 70%; height: auto; line-height: 1rem; padding: 8px 8px; margin-bottom: 8px; }
#policy-generator td .advanced-button { float: right; }
#policy-generator td .advanced .remove { position: relative; top: 3px; margin-right: 0.2rem; }
#policy-generator td .advanced select.resource-type { display: inline-block; width: 44%; padding: 7px 2px 7px 4px; position: relative; top: 1px; }
#policy-generator td .advanced .chosen-container.chosen-container-single .chosen-choices { line-height: 1rem; }
#policy-generator td .advanced .chosen-search input[type=text] { width: 100%; }
#policy-generator td label { margin-bottom: 2px; margin-top: 6px; }
#policy-generator td i.tick { color: #d9d9d9; font-size: 1.2rem; }
#policy-generator td i.tick.fi-check.selected { color: green; }
#policy-generator td i.tick.fi-x.selected { color: darkred; }

#create-iam-policy-btn { margin-top: 1rem; }

#hand-edited-warning { color: darkred; margin-top: -0.5rem; }

.CodeMirror { border: 1px solid #d9d9d9; min-height: 24rem; }
