/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* @section Wizard styles */
.wizard { position: relative; background-color: transparent; }
.wizard.has-title { position: relative; padding-top: 42px; }
.wizard.has-title h6.title { position: absolute; text-transform: uppercase; letter-spacing: 1px; top: 0; left: 0; right: 0; line-height: 2.5rem; padding-left: 12px; background-color: #03405f; color: white; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.wizard .row.controls-wrapper.readonly { margin-bottom: 0.5rem; }
.wizard .tabs dd.active a { background-color: white; }
.wizard .tabs dd.active a:hover { background-color: white; }
.wizard .tabs dd.disabled { padding: 8px 1rem; background-color: #e6e7e8; }
.wizard .tabs dd a { box-shadow: none; white-space: nowrap; padding: 8px 1rem; }
.wizard .tabs dd .cir { position: relative; top: -2px; font-size: 0.825rem; display: inline-block; border-radius: 60px; width: 20px; height: 20px; padding: 0 0 0 0; text-align: center; vertical-align: middle; background-color: #03405f; color: white; }
.wizard .tabs-content { min-height: 400px; margin: 0 0 0 0; padding: 1rem; background-color: white; }
.wizard .tabs-content .content { width: 100%; }
.wizard .tabs-content .content .description { font-weight: bold; color: #03405f; }

.summary { background-color: white; position: relative; top: 2px; padding: 8px; padding-bottom: 2rem; margin-bottom: 1rem; }
.summary label { position: relative; right: -1rem; color: #6a737b; font-weight: bold; margin-bottom: 2px; margin-top: 4px; }
.summary .value { word-break: break-all; }
.summary .row { margin-bottom: 5px; }
.summary .title { font-weight: bold; border-bottom: 1px solid #03405f; margin-top: 7px; margin-bottom: 1rem; }
.summary .section { padding: 0.5rem 0; border-bottom: 1px solid #cccccc; }
.summary .section:last-child { border-bottom: none; }
.summary #tag-preview { word-break: break-all; }

#bdmapping-editor .storage-label { text-align: left; }
#bdmapping-editor .table { width: 100%; }
#bdmapping-editor .table th { font-size: 0.825rem; background-color: #8cc63e; text-transform: uppercase; }
#bdmapping-editor .table td { line-height: 1rem; padding: 4px 8px; vertical-align: middle; }
#bdmapping-editor #new-blockdevice-entry label { text-align: left; }
#bdmapping-editor input.number { width: 2rem; }

/* ----------------------------------------- Media Queries
----------------------------------------- */
/* Extra small screen (< 481px) */
@media screen and (max-width: 560px) { dl.tabs a b { display: none; } }
/* @section Launch Instance page styles */
#launch-instance-form input.name { width: 100px; margin-right: 8px; margin-bottom: 4px; padding: 4px; }
#launch-instance-form #number { width: 3rem; }
#launch-instance-form #instance_type option { font-size: 0.825rem; }
#launch-instance-form #image-id-input { width: 10rem; display: inline; }
#launch-instance-form #controls_userdata_file { position: relative; top: -0.5rem; }
#launch-instance-form #controls_userdata_file #userdata_file { width: 80%; display: inline-block; }
#launch-instance-form #create-keypair-link, #launch-instance-form #create-securitygroup-link { position: relative; top: -6px; margin-bottom: 10px; }
#launch-instance-form .rules-title { margin-bottom: 3px; }

#create-keypair-modal #keypair-material { height: 16rem; color: white; background-color: black; font-weight: bold; font-family: Courier, "courier New", monospace, sans-serif; }
