/* @fileOverview Launch more like this instance page styles */
/* ----------------------------------------- Item list
----------------------------------------- */
form input.name { width: 50%; margin-right: 6px; }

#userdatalabel { right: 0px; }

#controls_userdata_file { position: relative; top: -0.5rem; }
#controls_userdata_file #userdata_file { width: 80%; display: inline-block; }

#controls_monitoring_enabled .helptext-icon, #controls_termination_protection .helptext-icon { position: relative; left: -1rem; color: #666666; }

.userdatalabel { right: 0 !important; }

#bdmapping-editor .storage-label { display: none; }

@media screen and (min-width: 1020px) { #controls_ramdisk_id div label { width: 145px; left: 8px; } }
/* Small screen */
@media screen and (max-width: 480px) { select, #name { width: 80%; } }
