/* @fileOverview Internet Gateway details page CSS */
/* ----------------------------------------- Item list
----------------------------------------- */
.status.attached { background-color: #000000; }

.status.available { background-color: green; }

#name { width: 40%; }

@media only screen and (max-width: 40em) { #name { width: 100%; } }
