/* @fileOverview Login page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
#notifications-wrapper { padding-top: 2rem; }

#ssl-warning .fi-alert { color: darkred; }
#ssl-warning p { line-height: 1.2rem; margin-top: 0.25rem; }

#maincontent { min-height: 24rem; }

#login-wrapper { position: relative; padding: 10px; }
#login-wrapper label { font-weight: bold; color: #444; white-space: nowrap; }
#login-wrapper input { background-color: #e6e7e8; height: 2.25rem; }
#login-wrapper .hide-aws { max-width: 480px; margin: 0 auto; }
#login-wrapper .tabs { max-height: 2.6rem !important; }
#login-wrapper .tabs dd { position: relative; top: 1px; z-index: 999; }
#login-wrapper .tabs dd a { padding: 10px 32px 6px 24px; color: #5a5a5a; background-color: transparent; font-weight: bold; }
#login-wrapper .tabs dd a:hover { color: #007dba; background-color: transparent; }
#login-wrapper .tabs dd.active a { color: #007dba; background-color: white; border: 1px solid #cccccc; border-bottom-color: white; padding: 9px 31px 5px 23px; }
#login-wrapper .tabs-content { padding: 1rem; background-color: white; border: 1px solid #cccccc; }
#login-wrapper .tabs-content .content { width: 95%; margin: 0 auto; }
#login-wrapper .button { display: block; width: 100%; margin-top: 12px; margin-bottom: 12px; background-color: #007dba; }
#login-wrapper #euca-tab.active, #login-wrapper #aws-tab.active { background-color: white; }

#password, #secret_key { font-family: Arial, Helvetica, sans-serif !important; font-size: 1rem; color: black; }

.no-js #javascript-warning { display: block; }

.js #javascript-warning { display: none; }

/* Medium/large screen */
@media screen and (min-width: 1020px) { #login-panel-wrapper { margin-top: 4rem; }
  #login-panel h6 { padding-left: 1rem; } }
/* Small screen */
@media screen and (max-width: 1020px) { #login-panel-wrapper { margin-top: 1rem; }
  #login-panel { border-radius: 0; box-shadow: none; padding: 10px; }
  #login-panel .header { border-radius: 0; box-shadow: none; top: 0; left: 0; right: 0; } }
