/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
.account-details label { font-weight: bold; padding-top: 0.1rem; color: #6a737b; }

form[name="eucaChangePassword"] .error { display: none; margin-bottom: 6px; background-color: transparent; color: darkred; font-style: normal; font-weight: bold; padding: 0 0 4px 0; }
form[name="eucaChangePassword"].ng-invalid.ng-invalid-nomatch .error.passwords-match { display: none !important; }
form[name="eucaChangePassword"].ng-invalid.ng-invalid-nomatch .error.password-different { display: block; }
form[name="eucaChangePassword"].ng-invalid.ng-invalid-match .error.passwords-match { display: block; }
form[name="eucaChangePassword"].ng-invalid.ng-invalid-pattern .error.passwords-match { display: none !important; }
form[name="eucaChangePassword"].ng-invalid.ng-invalid-pattern .error.bad-pattern { display: block; }
form[name="eucaChangePassword"].ng-invalid.ng-invalid-pattern .strength { display: none; }

.password-strength span.strength { width: 100%; display: inline-block; }
.password-strength.password-none span.strength { display: none; }
.password-strength.password-weak span.strength { color: darkred; border-top: 4px solid darkred; }
.password-strength.password-weak span.strength:after { content: "weak"; }
.password-strength.password-medium span.strength { color: #e6a818; border-top: 4px solid #e6a818; }
.password-strength.password-medium span.strength:after { content: "medium"; }
.password-strength.password-strong span.strength { color: #468400; border-top: 4px solid #468400; }
.password-strength.password-strong span.strength:after { content: "strong"; }
