
.account-details label {
    font-weight: bold;
    padding-top: 0.1rem;
    color: #6a737b;
}

.add-label {
    margin-top: 5px;
    margin-bottom: 8px;
}

hr#password-strength {
    border-width: 2px;
    margin: 0 0 0;
}

.password_none { border-color: #ffffff; color: #ffffff; }
.password_0 { border-color: #ff0000; color: #ff0000; }
.password_1 { border-color: #faa33c; color: #faa33c; }
.password_2 { border-color: #faa33c; color: #faa33c; }
.password_3 { border-color: #00ee00; color: #00ee00; }
.password_4 { border-color: #00ee00; color: #00ee00; }
