/* @fileOverview CloudWatch Metrics landing page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
/* @section Landing pages styles */
.columns.datagrid { padding-left: 0; padding-right: 1rem; padding-bottom: 2rem; }
.columns.datagrid.has-smart-table.tableview #sorting-controls { display: none; }

.large-12.columns.datagrid { padding-left: 1rem; }

.clear-link { color: #666666; }
.clear-link:hover { color: #01a982; }

#breadcrumbs .icon-block { display: none; }

#primary-buttons .button { padding: 8px 1rem; }
#primary-buttons .button.more-actions { margin-left: 1rem; padding-right: 3rem; }
#primary-buttons .button.more-actions[disabled] { border: 2px solid #cccccc; }
#primary-buttons .button.more-actions[disabled]:hover { outline: none; }
#primary-buttons .button.more-actions[disabled]:after { border-color: #cccccc transparent transparent transparent; }

#more-actions-dropdown.f-dropdown { border-color: #cccccc; box-shadow: 2px 2px 5px #F0F0F0; }
#more-actions-dropdown.f-dropdown li.disabled { cursor: default; }
#more-actions-dropdown.f-dropdown li.disabled a { color: #cccccc; pointer-events: none; }
#more-actions-dropdown.f-dropdown li.disabled:hover { background-color: #fff; }
#more-actions-dropdown hr { margin-top: 0; margin-bottom: 0; }

#refresh-btn { color: #666666; }
#refresh-btn:hover { color: #01a982; }

.gridwrapper { margin-top: 0.5rem; }
.gridwrapper .dropdown.button.tiny { z-index: 99999; background: none; box-shadow: none; position: absolute; width: 30px; height: 24px; top: 0; right: 0; color: #666666; font-size: 1.1rem; padding: 0 0 0 0; border: none; }
.gridwrapper .dropdown.button.tiny:hover { color: #01a982; outline: none; }
.gridwrapper .dropdown.button.tiny::before, .gridwrapper .dropdown.button.tiny::after { border: none; }
.gridwrapper .f-dropdown { border-color: #cccccc; box-shadow: 2px 2px 5px #F0F0F0; }
.gridwrapper .f-dropdown.open { top: 34px; min-width: 10rem; padding-top: 0; }
.gridwrapper .alert-box.secondary { color: #666666; background-color: white; border: 1px solid #666666; }

.tile { box-shadow: 0 2px 2px 0 #F0F0F0; font-size: 16px; position: relative; display: inline-block; vertical-align: top; width: 202px; height: 220px; max-height: 220px; background-color: white; margin-right: 10px; margin-bottom: 10px; padding-bottom: 24px; word-wrap: break-word; }
.tile.add { text-align: center; text-transform: uppercase; position: relative; }
.tile.add a { display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.tile.add a:hover { background-color: #F0F0F0; text-decoration: none; }
.tile.add .plus { font-size: 5rem; margin-bottom: -1rem; }
.tile .header { position: relative; height: 24px; }
.tile .header a { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; padding: 6px 30px 4px 10px; color: #5a5a5a; font-family: Metric-Semibold, Helvetica, Arial, sans-serif; }
.tile .header a:hover { color: #01a982; }
.tile .header a.has-checkbox { padding-left: 24px; }
.tile .header strong { font-weight: normal; }
.tile .header .item-checkbox { position: absolute; top: 10px; left: 7px; }
.tile .header .f-dropdown a { color: #666666; font-family: Metric-Regular, Helvetica, Arial, sans-serif; text-decoration: none; font-weight: normal; overflow: visible; white-space: normal; text-overflow: inherit; }
.tile .content { padding: 8px; font-family: Metric-Regular, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.1rem; }
.tile .content a { color: #01a982; }
.tile .content a:hover { text-decoration: underline; }
.tile .content div { margin-bottom: 2px; margin-left: 28px; word-break: break-all; }
.tile .content .label { padding: 1px 3px; margin-left: -28px; font-family: Metric-Regular, Helvetica, Arial, sans-serif; font-size: 16px; background-color: #FFFFFF; color: #666666; margin-right: 0.2rem; min-width: 22px; text-align: center; }
.tile .content .label.ellipsis { margin-left: 0; }
.tile .content .fi-alert { color: darkred; }
.tile .content a.alarm-status { padding: 2px 6px; color: white; border-radius: 3px; }
.tile .content a.alarm-status:hover { text-decoration: none; }
.tile .link { text-transform: uppercase; color: #01a982; padding: 1px 3px; margin-bottom: 2px; font-size: 0.9em; }
.tile .footer { position: absolute; bottom: 0; left: 0; right: 0; padding: 5px; color: white; background-color: #666666; text-align: center; line-height: 1.4rem; text-transform: capitalize; }
.tile .footer.has-progress { padding: 0 0 0 0; text-align: left; }
.tile .footer .completed { padding: 4px 0 4px 10px; text-align: center; }
.tile .footer .progress { position: relative; margin: 0 0 0 0; height: 24px; border: none; }
.tile .footer .progress .meter { position: relative; top: -2px; left: -2px; padding: 4px 0 4px 8px; height: 24px; display: inline-block; white-space: nowrap; font-weight: bold; text-align: center; }
.tile .footer .busy { font-size: 0.9rem; width: 0.9rem; height: 0.9rem; margin-left: 0.2rem; }

.gridwrapper .table { border: none; width: 100%; }
.gridwrapper .table thead tr { background-color: white; }
.gridwrapper .table thead tr th { padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 6px; padding-right: 6px; border-bottom: 1px solid #cccccc; vertical-align: top; color: #333333; text-transform: uppercase; }
.gridwrapper .table thead tr th.actions { text-align: right; }
.gridwrapper .table thead tr th.count { text-align: center; }
.gridwrapper .table thead tr th.checkbox-header { width: 1.5rem; }
.gridwrapper .table tr { border-bottom: 1px solid #cccccc; }
.gridwrapper .table tr td.count { text-align: center; }
.gridwrapper .table th { white-space: nowrap; }
.gridwrapper .table tr { position: relative; width: 100%; }
.gridwrapper .table tr input[type="checkbox"] { margin-bottom: 0; }
.gridwrapper .table tr td { position: relative; padding: 8px 4px 8px 6px; vertical-align: top; }
.gridwrapper .table tr td a { color: #01a982; }
.gridwrapper .table tr td a:hover { text-decoration: underline; }
.gridwrapper .table tr td.id { max-width: 120px; }
.gridwrapper .table tr td span.actions { position: relative; float: right; top: -10px; }
.gridwrapper .table tr td.tags { max-width: 20rem; word-break: break-all; }
.gridwrapper .table tr td .f-dropdown a { color: #444; }
.gridwrapper .table tr td .f-dropdown a:hover { text-decoration: none; }
.gridwrapper .table tr td .busy { font-size: 0.9rem; width: 0.9rem; height: 0.9rem; margin-left: 0.2rem; }
.gridwrapper .table tr td a.alarm-status { color: white; }
.gridwrapper .table tr td a.alarm-status:hover { text-decoration: none; }
.gridwrapper .table .dropdown.button.tiny { z-index: 0; top: 8px; right: 20px; padding-left: 10px; padding-right: 24px; }
.gridwrapper .table .dropdown.button.tiny i { font-size: 1.2rem; top: 0; }
.gridwrapper .table .fi-alert { color: darkred; }

.sort-search { font-size: 0.9rem; }
.sort-search form { margin-bottom: 0; position: relative; }
.sort-search form input { background-color: transparent; border-color: #cccccc; }
.sort-search .go { font-size: 1.2rem; position: absolute; top: 8px; right: 10px; color: #999; }

.match-condition { font-size: 16px; margin-bottom: 4px; }

.lp-header { display: -webkit-box; display: -webkit-box-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: wrap; flex-flow: row wrap; -webkit-justify-content: space-between; justify-content: space-between; }
@media screen and (max-width: 600px) { .lp-header { -webkit-flex-flow: column nowrap; flex-flow: column nowrap; align-items: center; } }

.lp-action-buttons { -webkit-box-ordinal-group: 1; -webkit-order: 1; -ms-flex-order: 1; order: 1; -webkit-box-flex: 1 1 60%; -webkit-flex: 1 1 60%; flex: 1 1 60%; }

.lp-sort { -webkit-box-ordinal-group: 2; -webkit-order: 2; -ms-flex-order: 2; order: 2; -webkit-box-flex: 0.3; -webkit-flex: 1 1 30%; flex: 1 1 30%; }

.lp-view-buttons { -webkit-box-ordinal-group: 3; -webkit-order: 3; -ms-flex-order: 3; order: 3; -webkit-box-flex: 0.1; -webkit-flex: 0 0 10%; flex: 0 0 10%; }

.lp-search { -webkit-box-ordinal-group: 1; -webkit-order: 1; -ms-flex-order: 1; order: 1; -webkit-box-flex: 0.9; -webkit-flex: 0 0 90%; flex: 0 0 90%; }

.lp-reload { -webkit-box-ordinal-group: 2; -webkit-order: 2; -ms-flex-order: 2; order: 2; -webkit-box-flex: 0.1; -webkit-flex: 0 0 10%; flex: 0 0 10%; }

.select-all-wrapper { margin-left: 1rem; }

.displayicons { font-size: 2rem; padding-left: 0; }
.displayicons a { float: right; border-bottom: none; color: #5a5a5a; }
.displayicons a:hover { border-bottom: none; color: #01a982; }
.displayicons label { float: right; line-height: 2.5rem; margin-right: 5px; }
.displayicons .selected { background-color: white; color: #01a982; }
.displayicons .selected:hover { color: #01a982; cursor: inherit; }
.displayicons i { display: inline-block; padding: 2px 12px; }

#filters { position: relative; background-color: white; padding: 8px; margin-top: 108px; font-size: 0.8rem; }
#filters form label { font-weight: bold; position: relative; top: 2px; margin-top: 0.5rem; font-size: 0.8rem; }
#filters form input { height: 1.8rem; margin-bottom: 0; font-size: 0.8rem; }
#filters form button { box-shadow: none; }

#sorting-controls { padding-top: 10px; text-align: right; font-size: 14px; }
#sorting-controls .f-dropdown { border-color: #cccccc; box-shadow: 2px 2px 5px #F0F0F0; }
#sorting-controls #sorting-dropdown { text-align: left; }

#results-count { padding-top: 0.25rem; text-align: right; }
#results-count .items-found { vertical-align: baseline; }

.euca-split { border-color: #F0F0F0 !important; width: 2.0rem !important; }

.secondary .euca-split { border-color: #666666 !important; }
.secondary .euca-split:hover { border-color: #01a982 !important; }

.split.button { padding-right: 3.0rem !important; }
.split.button .euca-split:after { border-color: #333333 transparent transparent transparent; }

/* ----------------------------------------- Media Queries
----------------------------------------- */
@media screen and (max-width: 1024px) { #filters { margin-top: 1rem; } }
/* Small screen */
@media screen and (max-width: 1020px) { .columns.datagrid { padding-left: 1rem; } }
/* expando stuff */
.expando-tr-even { background: white !important; }

table.expando tr.even, table.expando tr.alt, table.expando tr:nth-of-type(even) { background: white; }

.expando-tiles li { font-size: 0.875rem; }
.expando-tiles li div:nth-of-type(1) { float: left; }
.expando-tiles li div:nth-of-type(2) { clear: both; }

/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
.actions { background: none !important; }
.actions .item-list { margin: 0 0 15px; }
.actions .item-list .item { color: #333333; background-color: #e6e7e8; margin-right: 8px; padding: 0.25rem 0.5rem; font-size: 0.6875rem; border-radius: 3px; white-space: nowrap; line-height: 1; display: inline-block; }
.actions .item-list .item .remove { margin-left: 5px; color: #FFF; }
.actions select { margin: 0 0 0.5rem 0; }
.actions .cancel { display: inline-block; padding: 0.375rem; }
.actions.ng-valid-action-editor-empty .button, .actions.ng-pristine .button, .actions.ng-invalid .button { background-color: white; border-color: #EDEDED; color: #EDEDED; cursor: default; border-color: #CCEEE6; }
.actions.ng-valid-action-editor-empty .button:hover, .actions.ng-pristine .button:hover, .actions.ng-invalid .button:hover { cursor: default; pointer-events: none; background-color: white; text-decoration: none; border: 2px solid #EDEDED; outline: none; box-shadow: none; color: #EDEDED; }
.actions.ng-valid-action-editor-empty .button:hover, .actions.ng-pristine .button:hover, .actions.ng-invalid .button:hover { border: 2px solid #CCEEE6; }
.actions.ng-valid-action-editor-empty .button:hover, .actions.ng-pristine .button:hover, .actions.ng-invalid .button:hover { box-shadow: none; }
.actions .button.incomplete, .actions .button.empty { background-color: white; border-color: #EDEDED; color: #EDEDED; cursor: default; border-color: #CCEEE6; }
.actions .button.incomplete:hover, .actions .button.empty:hover { cursor: default; pointer-events: none; background-color: white; text-decoration: none; border: 2px solid #EDEDED; outline: none; box-shadow: none; color: #EDEDED; }
.actions .button.incomplete:hover, .actions .button.empty:hover { border: 2px solid #CCEEE6; }
.actions .button.incomplete:hover, .actions .button.empty:hover { box-shadow: none; }

/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
.actions { background: none !important; }
.actions .item-list { margin: 0 0 15px; }
.actions .item-list .item { color: #333333; background-color: #e6e7e8; margin-right: 8px; padding: 0.25rem 0.5rem; font-size: 0.6875rem; border-radius: 3px; white-space: nowrap; line-height: 1; display: inline-block; }
.actions .item-list .item .remove { margin-left: 5px; color: #FFF; }
.actions select { margin: 0 0 0.5rem 0; }
.actions .cancel { display: inline-block; padding: 0.375rem; }
.actions.ng-valid-action-editor-empty .button, .actions.ng-pristine .button, .actions.ng-invalid .button { background-color: white; border-color: #EDEDED; color: #EDEDED; cursor: default; border-color: #CCEEE6; }
.actions.ng-valid-action-editor-empty .button:hover, .actions.ng-pristine .button:hover, .actions.ng-invalid .button:hover { cursor: default; pointer-events: none; background-color: white; text-decoration: none; border: 2px solid #EDEDED; outline: none; box-shadow: none; color: #EDEDED; }
.actions.ng-valid-action-editor-empty .button:hover, .actions.ng-pristine .button:hover, .actions.ng-invalid .button:hover { border: 2px solid #CCEEE6; }
.actions.ng-valid-action-editor-empty .button:hover, .actions.ng-pristine .button:hover, .actions.ng-invalid .button:hover { box-shadow: none; }
.actions .button.incomplete, .actions .button.empty { background-color: white; border-color: #EDEDED; color: #EDEDED; cursor: default; border-color: #CCEEE6; }
.actions .button.incomplete:hover, .actions .button.empty:hover { cursor: default; pointer-events: none; background-color: white; text-decoration: none; border: 2px solid #EDEDED; outline: none; box-shadow: none; color: #EDEDED; }
.actions .button.incomplete:hover, .actions .button.empty:hover { border: 2px solid #CCEEE6; }
.actions .button.incomplete:hover, .actions .button.empty:hover { box-shadow: none; }

/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
@keyframes slidedown { from { opacity: 0; top: -1000px; }
  to { opacity: 1; top: -40px; } }
.modal { display: none; z-index: 10000; }
.modal.tiny .modal-content { width: 30%; }
.modal.small .modal-content { width: 40%; }
.modal.medium .modal-content { width: 60%; }
.modal.large .modal-content { width: 70%; }
.modal.xlarge .modal-content { width: 95%; }
.modal.open { display: block; }
.modal.open .modal-content { animation-name: slidedown; animation-duration: 0.3s; }
.modal .modal-content { top: -40px; opacity: 1; background-color: #FFF; z-index: 100000; position: absolute; width: 60%; max-width: 65rem; margin: 0 auto; left: 0; right: 0; border-radius: 3px; padding: 1.875rem; border: solid 1px #666; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
.modal .modal-content .close-modal { font-size: 2.5rem; line-height: 1; position: absolute; top: 0.635rem; right: 1.375rem; color: #AAA; font-weight: bold; cursor: pointer; }
.modal .modal-content .close-modal:hover { color: #01a982; }
.modal .modal-content button { margin: 0; }
.modal .modal-content input[type="number"] { width: 100%; }
.modal .modal-bg { z-index: 99999; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.45); }

.create-alarm-modal .dimensions ul { list-style: none; margin: 0; padding: 0; }
.create-alarm-modal .ng-invalid .button.submit { background-color: white; border-color: #EDEDED; color: #EDEDED; cursor: default; }
.create-alarm-modal .ng-invalid .button.submit:hover { cursor: default; pointer-events: none; background-color: white; text-decoration: none; border: 2px solid #EDEDED; outline: none; box-shadow: none; color: #EDEDED; }
.create-alarm-modal .unit-label { font-weight: bold; color: #666666; }
.create-alarm-modal input[name=threshold] { margin-bottom: 0; }
.create-alarm-modal .controls-wrapper.dimensions small.error { position: relative; top: -8px; }

table.expando td:nth-of-type(1) { width: 1rem; }

table td input[type="checkbox"] { margin: 0 0 0; }

#graph-area { padding-top: 0.0rem; }

.chart-wrapper { background: #ffffff; border: 1px solid #b3b3b3; }
.chart-wrapper h6 { border: 0 none; }
.chart-wrapper svg { border: 0 none; }

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) { .actions .f-dropdown { margin-left: -120px; }
  .actions .f-dropdown:before { margin-left: 120px; }
  .actions .f-dropdown:after { margin-left: 120px; } }
.split-top { height: 250px; overflow: auto; }

.split-bar { height: 0.9rem; width: 100%; color: grey; background: #ffffff; cursor: row-resize; overflow-y: hidden; }
.split-bar hr { margin: 7px 4px 0px 4px; }
.split-bar .split-grab { position: relative; top: -12px; margin-left: 49%; color: #cccccc; background: #ffffff; transform: scale(2, 1); }

.split-bottom { position: relative; padding-top: 1.0rem; }

.tile .dropdown.button.tiny { top: 5px !important; right: 2px !important; }

#primary-buttons .button.more-actions { margin-left: 0 !important; }

th.metric-action { text-align: right !important; }

.metrics-selected { padding-top: 1.5rem; padding-left: 0.25rem; }

magic-search .f-dropdown { min-width: 15rem; }

.toprow select { margin-bottom: 1px; }

.chart-wrapper .graph-close { float: right; padding: 0.35rem 0.5rem 0 0.5rem; color: #5a5a5a; font-size: 2.1875rem; line-height: 0.5rem; font-weight: bold; cursor: pointer; }
.chart-wrapper .metric-chart-menu { float: right; padding: 0 0.5rem 0 0.5rem; color: #5a5a5a; cursor: pointer; }
.chart-wrapper svg { height: 300px !important; }

.metrics-url-field { width: 100%; }
