/* @fileOverview NAT Gateway details page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
.status.available { background-color: #425563; }

.status.pending { background-color: #6d899e; }

.status.deleting { background-color: #cccccc; }

.status.deleted { background-color: #666666; }

.status.failed { background-color: darkred; }

.warning .fi-alert { color: darkred; }
