/* @fileOverview IAM Roles detail view page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Chosen Widget Modification
----------------------------------------- */
.chosen-container-multi .chosen-choices li.search-choice { display: none; }

/* ----------------------------------------- IAM User Icons
----------------------------------------- */
.iam-user-icon { color: #333; background-color: #cccccc; margin-right: 3px; }
.iam-user-icon a { color: white; margin-left: 2px; }

/* ----------------------------------------- Extra Element Padding
----------------------------------------- */
.padded-element { padding: 5px 5px; }

.top-bottom-padding { padding-top: 10px; padding-bottom: 15px; }

.CodeMirror { border: 1px solid #cccccc; min-height: 400px; }

.ec2-block label { left: 0; }

.cross-acct-block label { left: 0; }
