/* @fileOverview Snapshot detail page CSS */
/* ----------------------------------------- Item list
----------------------------------------- */
.invalid-rule-type { padding-top: 8px; padding-bottom: 14px; }

.invalid-rule-type-label { color: #666666; }

.invalid-rule { padding-bottom: 8px; }

[data-abide] .ipaddress.error small.error { background-color: transparent; color: darkred; font-weight: bold; }
