/* @fileOverview Snapshot detail page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
.progress { display: inline-block; width: 50%; }
.progress .meter { padding-left: 6px; padding-top: 4px; font-size: 0.825rem; font-weight: bold; }

.label.status { text-transform: capitalize; }
.label.status.failed { background-color: #444444; }
