/* @fileOverview Snapshot detail page CSS */
/* ----------------------------------------- Item list
----------------------------------------- */
.progress { display: inline-block; width: 50%; }
.progress .meter { background-color: #00c9ff; padding-left: 6px; padding-top: 4px; }

.label.status { text-transform: capitalize; }
.label.status.failed { background-color: darkred; }
.label.status.completed { background-color: #425563; }
.label.status.pending { background-color: #6d899e; }
