/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
/* @section Wizard styles */
.wizard { position: relative; background-color: transparent; }
.wizard.has-title { position: relative; padding-top: 42px; }
.wizard.has-title h6.title { position: absolute; text-transform: uppercase; letter-spacing: 1px; top: 0; left: 0; right: 0; line-height: 2.5rem; padding-left: 12px; background-color: #01a982; color: white; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.wizard .row.controls-wrapper.readonly { margin-bottom: 0.5rem; }
.wizard .tabs dd { padding-right: 1rem; padding-left: 1rem; }
.wizard .tabs dd a { color: #666666; font-family: Metric-Semibold, Helvetica, Arial, sans-serif; background-color: transparent; box-shadow: none; white-space: nowrap; padding: 8px 0 6px 0; }
.wizard .tabs dd a:hover { color: #666666; border-bottom: 2px solid #666666; }
.wizard .tabs dd a .cir { background-color: #666666; }
.wizard .tabs dd.active a { color: #333333; font-family: Metric-Semibold, Helvetica, Arial, sans-serif; background-color: transparent; border-bottom: 2px solid #333333; }
.wizard .tabs dd.active .cir { background-color: #333333; }
.wizard .tabs dd.disabled { color: #cccccc; font-family: Metric-Semibold, Helvetica, Arial, sans-serif; padding: 8px 1rem; }
.wizard .tabs dd.disabled a { color: #cccccc; margin-top: -8px; }
.wizard .tabs dd.disabled a:hover { border-bottom: none; cursor: default; }
.wizard .tabs dd.disabled .cir { margin-right: 8px; background-color: #cccccc; }
.wizard .tabs dd .cir { position: relative; top: -2px; font-size: 0.825rem; display: inline-block; border-radius: 60px; width: 20px; height: 20px; padding: 0 0 0 0; text-align: center; vertical-align: middle; background-color: #cccccc; color: white; margin-right: 4px; }
.wizard .tabs-content { min-height: 400px; margin: 0 0 0 0; padding: 1rem; background-color: white; }
.wizard .tabs-content div.large-3.small-4.columns { padding-left: 0; }
.wizard .tabs-content .content { width: 100%; }
.wizard .tabs-content .content .description { color: #666666; }
.wizard .tabs-content .content .rule-description-label { color: #666666; }
.wizard .fi-alert { color: darkred; }
.wizard .chosen-container-multi .chosen-choices li.search-field input.default { color: #cccccc; font-size: 16px; font-family: Metric-Regular, Helvetica, Arial, sans-serif; margin-left: 3px; }
.wizard select { font-family: inherit; }

.summary { background-color: white; position: relative; top: 2px; padding: 8px; padding-bottom: 2rem; margin-bottom: 1rem; }
.summary label { position: relative; right: -1rem; color: #666666; margin-top: 4px; cursor: default; }
.summary .value { word-break: break-all; line-height: 1rem; color: #333333; }
.summary .value.breakword { word-break: normal; word-wrap: break-word; }
.summary .row { margin-bottom: 5px; }
.summary .title { font-weight: bold; color: #666666; border-bottom: 1px solid #cccccc; margin-top: 7px; margin-bottom: 0.25rem; }
.summary .section { padding: 0.5rem 0; border-bottom: 1px solid #cccccc; }
.summary .section:last-child { border-bottom: none; }
.summary #tag-preview { word-break: break-all; }

.rules-display .rules-title { word-break: break-all; }
.rules-display .rules-title .normal-word-break { word-break: normal; }

/* ----------------------------------------- Media Queries
----------------------------------------- */
/* Extra small screen (< 481px) */
@media screen and (max-width: 560px) { dl.tabs a b { display: none; } }
/* @section Stack Wizard page styles */
#stack-update-form input.name { width: 100px; margin-right: 8px; margin-bottom: 4px; padding: 4px; }
#stack-update-form #controls_userdata_file { position: relative; top: -0.5rem; }
#stack-update-form #controls_userdata_file #userdata_file { width: 80%; display: inline-block; }

.button { margin: 0; }

.columns.value { padding-left: 1rem; }

.chosen-container { width: 100%; padding-bottom: 0.25rem; }

#template-file { margin-left: 1.5rem; width: 90%; }

#template-url { margin-left: 1.5rem; width: 90%; }

small.error { margin-left: 1.5rem; }

.error label { color: #b3b3b3; }

#inputtype-current { margin-bottom: 0; }

#current-template-div a { margin-left: 1rem; color: #5a5a5a; }
#current-template-div span { margin-left: 1rem; color: #5a5a5a; }
