/* @fileOverview VPC details page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
.state.available { background-color: #425563; }

.state.pending { background-color: #6d899e; }

#name, #route_table { width: 40%; }

@media only screen and (max-width: 40em) { #name, #route_table { width: 100%; } }
