/* @fileOverview Volumes landing page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
/* @section Landing pages styles */
.columns.datagrid { padding-left: 0; padding-right: 1rem; padding-bottom: 2rem; }
.columns.datagrid.has-smart-table.tableview #sorting-controls { display: none; }

.large-12.columns.datagrid { padding-left: 1rem; }

.clear-link { color: #6a737b; }
.clear-link:hover { color: #006699; }

#breadcrumbs .icon-block { display: none; }

#primary-buttons .button { padding: 8px 1rem; }

.gridwrapper { margin-top: 0.5rem; }

#refresh-btn { color: #5a5a5a; }
#refresh-btn:hover { color: #006699; }

.gridwrapper .dropdown.button.tiny { z-index: 99999; background: none; box-shadow: none; position: absolute; width: 30px; height: 24px; top: 0; right: 0; color: #5a5a5a; font-size: 1.1rem; padding: 0 0 0 0; border: none; }
.gridwrapper .dropdown.button.tiny:hover { color: #006699; }
.gridwrapper .dropdown.button.tiny::before, .gridwrapper .dropdown.button.tiny::after { border: none; }
.gridwrapper .f-dropdown { border-color: #cccccc; box-shadow: 2px 2px 5px #6a737b; }
.gridwrapper .f-dropdown.open { top: 34px; min-width: 10rem; padding-top: 0; }

.tile { border: 1px solid #cccccc; font-size: 0.8125rem; position: relative; display: inline-block; vertical-align: top; width: 202px; height: 220px; max-height: 220px; background-color: white; margin-right: 10px; margin-bottom: 10px; padding-bottom: 24px; word-wrap: break-word; }
.tile.add { text-align: center; text-transform: uppercase; position: relative; }
.tile.add a { display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.tile.add a:hover { background-color: #edf9ff; }
.tile.add .plus { font-size: 5rem; margin-bottom: -1rem; }
.tile .header { position: relative; height: 24px; }
.tile .header a { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; padding: 6px 30px 4px 10px; color: #5a5a5a; font-weight: bold; }
.tile .header a:hover { color: #007dba; }
.tile .header strong { font-weight: normal; }
.tile .header .f-dropdown a { color: #444; font-weight: normal; overflow: visible; white-space: normal; text-overflow: inherit; }
.tile .content { padding: 8px; font-size: 0.9em; }
.tile .content a { color: #007dba; }
.tile .content a:hover { text-decoration: underline; }
.tile .content div { margin-bottom: 2px; margin-left: 28px; word-break: break-all; }
.tile .content .label { padding: 1px 3px; margin-left: -28px; background-color: #e6e7e8; color: #555; margin-right: 0.2rem; min-width: 22px; text-align: center; }
.tile .content .label.ellipsis { margin-left: 0; }
.tile .content .fi-alert { color: darkred; }
.tile .link { color: #007dba; text-transform: uppercase; padding: 1px 3px; margin-bottom: 2px; font-size: 0.9em; }
.tile .footer { position: absolute; bottom: 0; left: 0; right: 0; padding: 5px; color: white; background-color: #6a737b; text-align: center; line-height: 1.4rem; text-transform: capitalize; }
.tile .footer.has-progress { padding: 0 0 0 0; text-align: left; }
.tile .footer .completed { padding: 4px 0 4px 10px; text-align: center; }
.tile .footer .progress { position: relative; margin: 0 0 0 0; height: 24px; border: none; }
.tile .footer .progress .meter { position: relative; top: -2px; left: -2px; padding: 4px 0 4px 8px; height: 24px; display: inline-block; white-space: nowrap; font-weight: bold; text-align: center; }
.tile .footer .busy { font-size: 0.9rem; width: 0.9rem; height: 0.9rem; margin-left: 0.2rem; }

.gridwrapper .table { border: none; width: 100%; }
.gridwrapper .table thead tr { background-color: #f2f2f2; }
.gridwrapper .table thead tr th { padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 6px; padding-right: 6px; vertical-align: top; color: #444; text-transform: uppercase; }
.gridwrapper .table thead tr th.actions { text-align: right; }
.gridwrapper .table thead tr th.count { text-align: center; }
.gridwrapper .table tr td.count { text-align: center; }
.gridwrapper .table th { white-space: nowrap; }
.gridwrapper .table tr { position: relative; width: 100%; }
.gridwrapper .table tr td { position: relative; padding: 8px 4px 8px 6px; vertical-align: top; }
.gridwrapper .table tr td a { color: #007dba; }
.gridwrapper .table tr td a:hover { text-decoration: underline; }
.gridwrapper .table tr td.id { max-width: 120px; }
.gridwrapper .table tr td span.actions { position: relative; float: right; top: -10px; }
.gridwrapper .table tr td.tags { max-width: 20rem; word-break: break-all; }
.gridwrapper .table tr td .f-dropdown a { color: #444; }
.gridwrapper .table tr td .f-dropdown a:hover { text-decoration: none; }
.gridwrapper .table .dropdown.button.tiny { z-index: 0; top: 8px; right: 20px; padding-left: 10px; padding-right: 24px; }
.gridwrapper .table .dropdown.button.tiny i { font-size: 1.2rem; top: 0; }
.gridwrapper .table .fi-alert { color: darkred; }

.sort-search { font-size: 0.9rem; }
.sort-search form { margin-bottom: 0; position: relative; }
.sort-search form input { background-color: transparent; border-color: #6a737b; }
.sort-search .go { font-size: 1.2rem; position: absolute; top: 8px; right: 10px; color: #999; }

.match-condition { font-size: 0.8125rem; margin-bottom: 4px; }

.lp-header { display: -webkit-box; display: -webkit-box-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: wrap; flex-flow: row wrap; -webkit-justify-content: space-between; justify-content: space-between; }
@media screen and (max-width: 600px) { .lp-header { -webkit-flex-flow: column nowrap; flex-flow: column nowrap; align-items: center; } }

.lp-action-buttons { -webkit-box-ordinal-group: 1; -webkit-order: 1; -ms-flex-order: 1; order: 1; -webkit-box-flex: 1 1 60%; -webkit-flex: 1 1 60%; flex: 1 1 60%; }

.lp-sort { -webkit-box-ordinal-group: 2; -webkit-order: 2; -ms-flex-order: 2; order: 2; -webkit-box-flex: 0.3; -webkit-flex: 1 1 30%; flex: 1 1 30%; }

.lp-view-buttons { -webkit-box-ordinal-group: 3; -webkit-order: 3; -ms-flex-order: 3; order: 3; -webkit-box-flex: 0.1; -webkit-flex: 0 0 10%; flex: 0 0 10%; }

.lp-search { -webkit-box-ordinal-group: 1; -webkit-order: 1; -ms-flex-order: 1; order: 1; -webkit-box-flex: 0.9; -webkit-flex: 0 0 90%; flex: 0 0 90%; }

.lp-reload { -webkit-box-ordinal-group: 2; -webkit-order: 2; -ms-flex-order: 2; order: 2; -webkit-box-flex: 0.1; -webkit-flex: 0 0 10%; flex: 0 0 10%; }

.displayicons { font-size: 2rem; padding-left: 0; }
.displayicons a { float: right; border-bottom: none; color: #5a5a5a; }
.displayicons a:hover { border-bottom: none; color: #006699; }
.displayicons label { float: right; line-height: 2.5rem; margin-right: 5px; }
.displayicons .selected { background-color: white; color: #007dba; }
.displayicons .selected:hover { color: #007dba; cursor: inherit; }
.displayicons i { display: inline-block; padding: 2px 12px; }

#filters { position: relative; background-color: white; padding: 8px; margin-top: 108px; font-size: 0.8rem; }
#filters form label { font-weight: bold; position: relative; top: 2px; margin-top: 0.5rem; font-size: 0.8rem; }
#filters form input { height: 1.8rem; margin-bottom: 0; font-size: 0.8rem; }
#filters form button { box-shadow: none; }

#sorting-controls { padding-top: 10px; text-align: right; font-size: 14px; }
#sorting-controls .f-dropdown { border-color: #cccccc; box-shadow: 2px 2px 5px #6a737b; }
#sorting-controls #sorting-dropdown { text-align: left; }

#results-count { padding-top: 0.25rem; text-align: right; }
#results-count .items-found { vertical-align: baseline; }

.euca-split { border-color: #e6e7e8 !important; width: 2.0rem !important; }

.secondary .euca-split { border-color: #5a5a5a !important; }
.secondary .euca-split:hover { border-color: #006699 !important; }

.split.button { padding-right: 3.0rem !important; }

/* ----------------------------------------- Media Queries
----------------------------------------- */
@media screen and (max-width: 1024px) { #filters { margin-top: 1rem; } }
/* Small screen */
@media screen and (max-width: 1020px) { .columns.datagrid { padding-left: 1rem; } }
/* expando stuff */
.expando-tr-even { background: #f5f5f5 !important; }

table.expando tr.even, table.expando tr.alt, table.expando tr:nth-of-type(even) { background: white; }

.expando-tiles li { font-size: 0.875rem; }
.expando-tiles li div:nth-of-type(1) { float: left; }
.expando-tiles li div:nth-of-type(2) { clear: both; }

.status.creating { background-color: #c64bc3; }

.status.available { background-color: #822980; }

.status.in-use { background-color: #03405f; }

.status.deleting { background-color: #838d95; }

.status.deleted { background-color: #525960; }

.status.failed { background-color: darkred; }

.status.attaching { background-color: #0683c2; }

.status.attached { background-color: #03405f; }

.status.detached { background-color: #822980; }

.status.detaching { background-color: #c64bc3; }

.table td.instance { white-space: nowrap; }
