/* @fileOverview VPC details page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
.state.available { background-color: #425563; }

.state.pending { background-color: #6d899e; }

.table.subnets { width: 100%; }

#name, #internet_gateway { width: 40%; }

@media only screen and (max-width: 40em) { #name, #internet_gateway { width: 100%; } }
#controls_route_table select { width: 30%; }

#delete-vpc-modal a:hover { text-decoration: underline; }
#delete-vpc-modal .default-vpc-warning { color: red; }
#delete-vpc-modal button.button.warning { background-color: red; }
#delete-vpc-modal button.button.warning:hover { outline-color: red; }
#delete-vpc-modal .resources-list { margin-bottom: 1rem; }
#delete-vpc-modal .resources-list .small-3 { text-align: right; font-weight: bold; }
