
#changepassword-wrapper {
    margin-top: 3rem;
}

#changepassword-panel {
    border: 1px solid #999;
    margin-bottom: 2rem;
}

hr#password-strength { border-width: 2px; margin: 0 0 0;}

.password_0 { border-color: #ff0000; }
.password_1 { border-color: #ff6600; }
.password_2 { border-color: #ffff00; }
.password_3 { border-color: #99ff00; }
.password_4 { border-color: #009900; }
