/* @fileOverview Dashboard CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
#maincontent { padding-top: 1rem; background: #eef7e3; }
#maincontent #pagetitle h3 { font-weight: bold; margin-top: 0; margin-bottom: 8px; display: inline-block; }
#maincontent #pagetitle #zone-selector { display: inline-block; margin-left: 1rem; }

.panel { background-color: transparent; border: none; margin-bottom: 0; box-sizing: border-box; position: relative; font-size: 0.825rem; }
.panel .tile { background-color: white; position: relative; height: 200px; padding: 4px 8px; }
.panel .tile .subheader { font-size: 1rem; font-weight: 500; margin: 0 0 0 0; }
.panel .tile .icon { position: absolute; top: 20%; left: 50%; margin-left: -40px; display: inline-block; width: 80px; height: 80px; border-radius: 100px; text-align: center; background: #00415e; color: white; font-size: 3rem; }
.panel .tile .icon em { font-size: 1.5rem; position: absolute; bottom: -50%; left: 0; right: 0; text-align: center; color: black; font-style: normal; }
.panel .tile .footer { position: absolute; height: 30px; left: 1rem; right: 1rem; bottom: 8px; text-align: center; }
.panel .tile .footer a { font-weight: bold; }
.panel .tile .footer a:hover { text-decoration: underline; }
.panel .tile .footer .button { display: inline-block; font-weight: bold; }
.panel .tile .footer .button:hover { text-decoration: none; }
.panel .tile a:hover .icon { background-color: #0088c4; }

/* Small screen */
