/* @fileOverview Dashboard CSS */
#maincontent { background: #eaedee url(../../img/main-bgfill.png) repeat left top; padding-top: 1.5rem; }

.large-3.columns .tile { margin-bottom: 10px; }

.large-3.columns .subheader { padding-left: 10px; }

.large-6.columns .row { margin-bottom: 1.25rem; }

.panel { position: relative; padding: 4px; border: none; background-color: white; font-size: 0.825rem; }

.panel .tile { position: relative; height: 200px; }

.panel .tile a:hover .icon { background-color: #dfefc9; }

.panel .tile .icon { position: absolute; top: 20%; left: 20%; display: inline-block; width: 120px; height: 120px; border-radius: 100px; text-align: center; background: #f3f3f3; color: #bcdd8f; font-size: 5rem; }

.panel .tile .icon em { font-size: 4rem; position: absolute; bottom: 15%; left: 0; right: 0; text-align: center; color: #468400; }

.panel .tile .footer { position: absolute; height: 30px; left: 0; right: 0; bottom: 0; }

.panel .tile .footer .button { display: block; border: none; }

#instances #running.tile .icon { top: 15%; }

#instances #running.tile .icon em { font-size: 5rem; }

#instances #stopped.tile .icon { color: lightpink; }

#instances #stopped.tile .icon em { color: indianred; }

#instances.panel .tile { border-bottom: 2px solid #cccccc; margin-bottom: 28px; }

#instances.panel .tile:last-child { border-bottom: none; margin-bottom: 0; }

#elastic-ips.panel { margin-bottom: 1.25rem; max-height: 208px; }

#elastic-ips-panel .tile { height: 180px; }

#notifications-log { height: 436px; overflow: scroll-y; }

/* Small screen */
@media screen and (max-width: 768px) { .large-3.columns { padding-left: 4px; padding-right: 4px; }
  .large-3.columns .tile { display: inline-block; min-width: 32%; }
  .large-3.columns #instances .tile { border-bottom: none; } }
@media screen and (max-width: 480px) { .large-3.columns .tile { display: block; } }
