/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* @section Wizard styles */
.wizard { position: relative; background-color: transparent; }
.wizard.has-title { position: relative; padding-top: 42px; }
.wizard.has-title h6.title { position: absolute; text-transform: uppercase; letter-spacing: 1px; top: 0; left: 0; right: 0; line-height: 2.5rem; padding-left: 12px; background-color: #00415e; color: white; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.wizard .row.controls-wrapper.readonly { margin-bottom: 0.5rem; }
.wizard .tabs dd.active a { background-color: white; }
.wizard .tabs dd.active a:hover { background-color: white; }
.wizard .tabs dd.active .cir { background-color: #00415e; color: white; }
.wizard .tabs dd.disabled { padding: 1rem 22px; background-color: #eeeeee; }
.wizard .tabs dd a { box-shadow: none; white-space: nowrap; padding: 1rem 16px; background-color: #d6ecbb; }
.wizard .tabs dd a:hover { background-color: #bee094; }
.wizard .tabs dd .cir { position: relative; top: -2px; font-size: 0.825rem; display: inline-block; border-radius: 60px; width: 20px; height: 20px; padding: 0 0 0 0; text-align: center; vertical-align: middle; background-color: #808285; color: white; }
.wizard .tabs-content { min-height: 400px; margin: 0 0 0 0; padding: 1rem; background-color: white; }
.wizard .tabs-content .content { width: 100%; }
.wizard .tabs-content .content .description { font-weight: bold; color: #00415e; }

.summary { background-color: white; position: relative; top: 2px; padding: 8px; padding-bottom: 2rem; margin-top: 54px; margin-bottom: 1rem; }
.summary label { position: relative; right: -1rem; color: #00415e; font-weight: bold; margin-bottom: 4px; }
.summary .value { word-break: break-all; }
.summary .row { margin-bottom: 5px; }
.summary .title { font-weight: bold; border-bottom: 1px solid #00415e; margin-top: 7px; margin-bottom: 1rem; }
.summary .section { padding: 0.5rem 0; border-bottom: 1px solid #cccccc; }
.summary .section:last-child { border-bottom: none; }
.summary #tag-preview { word-break: break-all; }

#bdmapping-editor .storage-label { text-align: left; }
#bdmapping-editor .table { width: 100%; }
#bdmapping-editor .table th { font-size: 0.825rem; }
#bdmapping-editor .table td { line-height: 1rem; padding: 4px 8px; vertical-align: middle; }
#bdmapping-editor #new-blockdevice-entry label { text-align: left; }
#bdmapping-editor input.number { width: 2rem; }

/* ----------------------------------------- Media Queries
----------------------------------------- */
/* Extra small screen (< 481px) */
@media screen and (max-width: 560px) { dl.tabs a b { display: none; } }
.expando .content { margin-top: 1rem; }
.expando .content .choice { border-bottom: 1px solid #cccccc; margin-bottom: 1rem; margin-left: 1rem; margin-right: 1rem; }
.expando .content .choice p { line-height: 1.3rem; }
.expando .content .choice:last-child { border-bottom: none; }

#policy-preview { background-color: white; padding: 1rem; margin-top: 56px; }
#policy-preview input[type=text], #policy-preview textarea { background-color: white; }
#policy-preview h6.title { font-weight: bold; color: #00415e; margin-bottom: 1rem; }

#policy-generator .table { border-color: #cccccc; border-left: none; border-right: none; width: 100%; }
#policy-generator .table tr.namespace { border-top: 1px solid #cccccc; }
#policy-generator .table tr.namespace td { font-size: 1rem; }
#policy-generator .table th.allow, #policy-generator .table th.deny { text-transform: uppercase; width: 40px; }
#policy-generator .table td { font-size: 0.9rem; line-height: 1rem; }
#policy-generator .table td.allow, #policy-generator .table td.deny { text-align: center; }
#policy-generator .table td i.tick { color: #cccccc; font-size: 1.2rem; }
#policy-generator .table td i.tick.fi-check.selected { color: #76b800; }
#policy-generator .table td i.tick.fi-x.selected { color: red; }

.CodeMirror { border: 1px solid #cccccc; min-height: 24rem; }
