/* @fileOverview Launch more like this instance page styles */
form input.name { margin-right: 6px; }

#controls_userdata_file { position: relative; top: -0.5rem; }
#controls_userdata_file #userdata_file { width: 80%; display: inline-block; }

#bdmapping-editor .storage-label { display: none; }
