/* @fileOverview single Instance page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* @section Landing pages styles */
.columns.datagrid { padding-left: 0; padding-right: 1rem; padding-bottom: 2rem; }

.large-12.columns.datagrid { padding-left: 1rem; }

.clear-link { color: #777777; }
.clear-link:hover { color: #8dc943; }

#breadcrumbs .icon-block { display: inline-block; }

#primary-buttons .button { padding: 8px 3rem; }

#pagetitle { padding-left: 0; }

.gridwrapper .dropdown.button.tiny { z-index: 99999; background: none; box-shadow: none; position: absolute; width: 30px; height: 24px; top: 0; right: 0; color: #8dc943; font-size: 1.1rem; padding: 0 0 0 0; border-top: none; border-right: none; }
.gridwrapper .dropdown.button.tiny:hover { color: #8dc943; }
.gridwrapper .dropdown.button.tiny::before { border: none; }
.gridwrapper .dropdown.button.tiny .fi-widget { position: relative; top: 4px; background-image: url(../../img/gear.svg); display: inline-block; width: 20px; height: 20px; }
.gridwrapper .dropdown.button.tiny .fi-widget::before { content: " "; }
.gridwrapper .button.dropdown:hover + .f-dropdown, .gridwrapper .f-dropdown:hover { z-index: 9999; width: auto; display: block; border-color: #8dc640; box-shadow: 2px 2px 5px #777777; top: -1px; left: auto; right: -1px; padding-top: 24px; }
.gridwrapper .button.dropdown:hover + .f-dropdown::before, .gridwrapper .button.dropdown:hover + .f-dropdown::after, .gridwrapper .f-dropdown:hover::before, .gridwrapper .f-dropdown:hover::after { border-color: transparent; }
.gridwrapper .button.dropdown:hover + .f-dropdown li a, .gridwrapper .f-dropdown:hover li a { color: #333; }
.gridwrapper .button.dropdown:hover + .f-dropdown li a:hover, .gridwrapper .f-dropdown:hover li a:hover { text-decoration: none; }

.tile { font-size: 0.8125rem; position: relative; display: inline-block; vertical-align: top; width: 200px; height: 220px; max-height: 220px; background-color: white; margin-right: 10px; margin-bottom: 10px; padding-bottom: 24px; word-wrap: break-word; }
.tile.add { text-align: center; text-transform: uppercase; position: relative; }
.tile.add a { display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.tile.add a:hover { background-color: #d3e9b6; }
.tile.add .plus { font-size: 5rem; margin-bottom: 0.5rem; }
.tile .header { position: relative; height: 24px; }
.tile .header a { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; padding: 6px 30px 4px 10px; color: #00415e; font-weight: bold; }
.tile .header a:hover { color: #8dc943; }
.tile .header strong { font-weight: normal; }
.tile .header .f-dropdown a { white-space: pre-wrap; overflow: visible; font-weight: normal; }
.tile .content { padding: 8px; font-size: 0.9em; }
.tile .content a { color: #468400; }
.tile .content a:hover { text-decoration: underline; }
.tile .content div { margin-bottom: 2px; margin-left: 28px; word-break: break-all; }
.tile .content .label { padding: 1px 3px; margin-left: -28px; background-color: #e6e7e8; color: #555; margin-right: 0.2rem; font-family: Verdana, sans-serif; min-width: 22px; text-align: center; }
.tile .content .label.ellipsis { margin-left: 0; }
.tile .link { color: #8dc943; text-transform: uppercase; padding: 1px 3px; margin-bottom: 2px; font-size: 0.9em; }
.tile .footer { position: absolute; bottom: 0; left: 0; right: 0; padding: 5px; color: white; background-color: #777777; text-align: center; line-height: 1.4rem; text-transform: capitalize; }
.tile .footer.has-progress { padding: 0 0 0 0; text-align: left; }
.tile .footer .completed { padding: 4px 0 4px 10px; text-align: center; }
.tile .footer .progress { position: relative; margin: 0 0 0 0; height: 24px; border: none; }
.tile .footer .progress .meter { position: relative; top: -2px; left: -2px; padding: 4px 0 4px 8px; height: 24px; display: inline-block; white-space: nowrap; font-weight: bold; }
.tile .footer .dots { position: absolute; width: 32px; height: 10px; top: 8px; right: 8px; }
.tile .f-dropdown::before, .tile .f-dropdown::after { left: 138px; }

.gridwrapper .table { border: none; width: 100%; }
.gridwrapper .table thead tr { background-color: #8dc943; }
.gridwrapper .table thead tr th { padding-top: 0.5rem; padding-bottom: 0.5rem; text-transform: uppercase; white-space: nowrap; }
.gridwrapper .table thead tr th.actions { text-align: right; }
.gridwrapper .table tr { position: relative; width: 100%; border-bottom: 1px solid #ddd; }
.gridwrapper .table tr td { position: relative; padding: 8px 4px 8px 6px; vertical-align: top; }
.gridwrapper .table tr td.status { text-transform: capitalize; }
.gridwrapper .table tr td.status .label { color: black; }
.gridwrapper .table tr td a { color: #468400; }
.gridwrapper .table tr td a:hover { text-decoration: underline; }
.gridwrapper .table tr td.id { max-width: 120px; }
.gridwrapper .table tr td span.actions { position: relative; float: right; top: -10px; }
.gridwrapper .table tr td.tags { max-width: 20rem; word-break: break-all; }
.gridwrapper .table .dropdown.button.tiny { z-index: 0; top: 8px; right: 20px; padding-left: 10px; padding-right: 24px; }
.gridwrapper .table .dropdown.button.tiny i { font-size: 1.2rem; top: 0; }
.gridwrapper .table .f-dropdown::before, .gridwrapper .table .f-dropdown::after { left: 138px; }
.gridwrapper .table .button.dropdown:hover + .f-dropdown, .gridwrapper .table .f-dropdown:hover { top: 28px; left: auto; right: 22px; min-width: 10rem; padding-top: 0; }
.gridwrapper .table .button.dropdown:hover + .f-dropdown::before, .gridwrapper .table .f-dropdown:hover::before { border-color: transparent transparent white transparent; }
.gridwrapper .table .button.dropdown:hover + .f-dropdown::after, .gridwrapper .table .f-dropdown:hover::after { border-color: transparent transparent #cccccc transparent; }

.sort-search { font-size: 0.9rem; }
.sort-search form { margin-bottom: 0; position: relative; }
.sort-search form input { background-color: transparent; border-color: #777777; }
.sort-search .go { font-size: 1.2rem; position: absolute; top: 8px; right: 10px; color: #999; }

.match-condition { font-size: 0.8125rem; margin-bottom: 4px; }

.displayicons { font-size: 2rem; }
.displayicons a { float: right; border-bottom: none; color: #777777; }
.displayicons a:hover { border-bottom: none; color: #8dc943; }
.displayicons label { float: right; line-height: 2.5rem; margin-right: 5px; }
.displayicons .selected { background-color: white; color: #8dc943; }
.displayicons .selected :hover { cursor: default; }
.displayicons i { display: inline-block; padding: 2px 8px; }

#filters { background-color: white; padding: 8px; margin-top: 108px; font-size: 0.8rem; }
#filters form label { font-weight: bold; position: relative; top: 2px; margin-top: 0.5rem; font-size: 0.8rem; }
#filters form input { height: 1.8rem; margin-bottom: 0; font-size: 0.8rem; }
#filters form button { box-shadow: none; }

#sorting-controls { padding-top: 22px; }

#results-count { padding-top: 1rem; }
#results-count .items-found { position: relative; top: -6px; }
#results-count em { color: #555; font-style: normal; }

#refresh-btn { background-image: url(../../img/icon_reload.svg); background-color: transparent; width: 24px; height: 24px; }

/* ----------------------------------------- Media Queries
----------------------------------------- */
@media screen and (max-width: 1024px) { #filters { margin-top: 1rem; } }
/* Small screen */
@media screen and (max-width: 920px) { .columns.datagrid { padding-left: 1rem; } }
.row .status.running { background-color: #73a930; }

.row .status.pending { background-color: #777777; }

.row .status.stopped { background-color: #990000; }

.row .status.stopping { background-color: #ff6666; }

.row .status.terminated { background-color: #444444; }

.row .status.terminating { background-color: lightgrey; }

select { width: 50%; }

form .row.controls-wrapper { margin-bottom: 0; }

#instance_type { width: 100%; }

.dots { margin-left: 1rem; }

#breadcrumbs .icon-block { display: none; }

#change-instance-state { display: inline-block; margin-left: 1rem; }

#current-status { position: relative; top: 2px; }

.connect-center { text-align: center; }

.tile { background-color: white; border: 1px solid #cccccc; width: 190px; height: 160px; }
.tile .footer { height: 24px; padding-top: 2px; }
.tile .footer.attached { background-color: #8dc943; }
.tile .footer.attaching { background-color: #a5d46b; }
.tile .footer.detaching { background-color: #777777; }

#attach-volume-modal [data-abide] .inline .error small.error { display: block !important; margin-bottom: 0; }
#attach-volume-modal #device { width: 10rem; }

/* ----------------------------------------- Media Queries
----------------------------------------- */
/* Small screen */
@media screen and (max-width: 480px) { select { width: 80%; } }
