/* @fileOverview Instances landing page CSS */
/* @section Landing pages styles */
.tile { font-size: 0.8125rem; position: relative; display: inline-block; width: 200px; height: 200px; background-color: #eeeeee; margin-right: 10px; margin-bottom: 10px; padding-bottom: 24px; }

.tile .header { position: relative; padding: 4px 30px 4px 4px; border-bottom: 1px solid #999999; height: 24px; color: white; background-color: #444444; }

.tile .header strong { font-weight: normal; }

.tile .header .button.dropdown { position: absolute; width: 30px; height: 24px; top: 0; right: 0; font-size: 1rem; padding: 0 0 0 0; border: 1px solid #999999; border-top: none; border-right: none; }

.tile .header .button.dropdown i { position: relative; top: 2px; }

.tile .header .button.dropdown::before { border: none; }

.tile .header .f-dropdown { width: 120px; }

.tile .content { padding: 8px; font-size: 0.9em; line-height: 1.3rem; }

.tile .footer { position: absolute; bottom: 0; left: 0; right: 0; height: 24px; padding: 4px; color: white; }

.tile.instance .status.running { background-color: green; }

.tile.instance .status.pending { background-color: lightgreen; }

.tile.instance .status.stopped { background-color: red; }

.tile.instance .status.stopping { background-color: lightpink; }

.tile.instance .status.terminated { background-color: gray; }

.tile.instance .status.terminating { background-color: lightgrey; }
