/* @fileOverview Login page CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
#logobar-wrapper { border-bottom: 1px solid black; }

#notifications-wrapper { padding-top: 2rem; }

#login-wrapper { position: relative; padding: 10px; }
#login-wrapper label { font-weight: bold; white-space: nowrap; vertical-align: middle; position: relative; top: 0px; left: 0px; bottom: 10px; }
#login-wrapper input { background-color: #eeeeee; }
#login-wrapper .hide-aws { max-width: 480px; margin: 0 auto; }
#login-wrapper .tabs dd:first-child a { box-shadow: none; }
#login-wrapper .tabs dd a { box-shadow: inset 6px 0px 4px 0px rgba(50, 50, 50, 0.2); padding: 10px 32px 6px 24px; font-weight: bold; }
#login-wrapper .tabs dd.active a { box-shadow: none; }
#login-wrapper .tabs-content { padding: 1rem; padding-bottom: 2rem; background-color: white; box-shadow: 3px 3px 5px 0px #999999; }
#login-wrapper .button { margin-top: 12px; margin-bottom: 12px; background-color: #f18f30; }

/* Medium/large screen */
@media screen and (min-width: 920px) { #login-panel-wrapper { margin-top: 4rem; }
  #login-panel h6 { padding-left: 1rem; } }
/* Small screen */
@media screen and (max-width: 920px) { #login-panel-wrapper { margin-top: 1rem; }
  #login-panel { border-radius: 0; box-shadow: none; padding: 10px; }
  #login-panel .header { border-radius: 0; box-shadow: none; top: 0; left: 0; right: 0; } }
