/* @fileOverview Login page CSS */
#notifications-wrapper { margin-top: 2rem; }

#login-wrapper { position: relative; margin-top: 3rem; background-color: #eeeeee; padding: 10px; box-shadow: 0 3px 6px #999999; }
#login-wrapper label { font-weight: bold; white-space: nowrap; vertical-align: middle; position: relative; top: 0px; left: 0px; bottom: 10px; }
#login-wrapper input { background-color: #eeeeee; }
#login-wrapper .hide-aws { max-width: 480px; margin: 0 auto; }
#login-wrapper .tabs a { padding: 16px 32px; font-weight: bold; }
#login-wrapper .tabs #euca-tab a { color: #468400; }
#login-wrapper .tabs #aws-tab a { color: darkorange; }
#login-wrapper .tabs-content { padding: 1rem; padding-bottom: 2rem; background-color: white; }

#euca-login-button.button { background-color: #76b800; border-color: #355200; margin-top: 10px; margin-bottom: 10px; }

#aws-login-button.button { background-color: #ff9900; border-color: #995c00; margin-top: 10px; margin-bottom: 10px; }

/* Medium/large screen */
@media screen and (min-width: 768px) { #login-panel-wrapper { margin-top: 4rem; }
  #login-panel h6 { padding-left: 1rem; } }
/* Small screen */
@media screen and (max-width: 768px) { #login-panel-wrapper { margin-top: 1rem; }
  #login-panel { border-radius: 0; box-shadow: none; padding: 10px; }
  #login-panel .header { border-radius: 0; box-shadow: none; top: 0; left: 0; right: 0; } }
