/* @section Wizard styles */
.wizard { position: relative; background-color: #eeeeee; padding-top: 16px; }
.wizard.has-title { position: relative; padding-top: 42px; }
.wizard.has-title h6.title { position: absolute; text-transform: uppercase; letter-spacing: 1px; top: 0; left: 0; right: 0; line-height: 2.5rem; padding-left: 12px; background-color: #00415e; color: white; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.wizard .row.controls-wrapper.readonly { margin-bottom: 0.5rem; }
.wizard .tabs { margin-left: 16px; }
.wizard .tabs dd.active .cir { background-color: #00415e; color: white; }
.wizard .tabs dd.disabled { padding: 1rem 16px; }
.wizard .tabs dd a { white-space: nowrap; padding: 1rem 16px; }
.wizard .tabs dd .cir { position: relative; top: -2px; font-size: 0.825rem; display: inline-block; border-radius: 60px; width: 20px; height: 20px; padding: 0 0 0 0; text-align: center; vertical-align: middle; background-color: #999999; color: white; }
.wizard .tabs-content { min-height: 400px; margin: 0 0 0 0; padding: 1rem; background-color: white; border-right: 16px solid #eeeeee; border-left: 16px solid #eeeeee; }
.wizard .tabs-content .content { width: 100%; }

.summary { position: relative; top: 2px; padding-top: 8px; padding-bottom: 2rem; background-color: #eeeeee; }
.summary label { position: relative; right: -1rem; color: #00415e; font-weight: bold; }
.summary .value { word-break: break-all; }
.summary .row { margin-bottom: 5px; }
.summary .title { font-weight: bold; border-bottom: 1px solid #00415e; margin-top: 7px; margin-bottom: 1rem; }
.summary .section { padding: 0.5rem 0; border-bottom: 1px solid #cccccc; }
.summary #tag-preview { word-break: break-all; }

#bdmapping-editor .storage-label { text-align: left; }
#bdmapping-editor .table { width: 100%; }
#bdmapping-editor .table th { font-size: 0.825rem; }
#bdmapping-editor .table td { line-height: 1rem; padding: 4px 8px; vertical-align: middle; }
#bdmapping-editor #new-blockdevice-entry label { text-align: left; }
#bdmapping-editor input.number { width: 2rem; }

/* ----------------------------------------- Media Queries
----------------------------------------- */
/* Extra small screen (< 481px) */
@media screen and (max-width: 560px) { dl.tabs a b { display: none; } }
form .row input[type="number"] { width: 3rem; }

#controls_min_size, #controls_desired_capacity, #controls_max_size { display: inline-block; margin-left: 1rem; }

#controls_max_size { margin-left: -1rem; }

#health_check_period { width: 4rem; }

[data-abide] #capacity-section .error small.error { position: absolute; width: 15rem; left: 8px; bottom: -1.5rem; }
