@charset "UTF-8";

/* @fileOverview Image picker widget Sass CSS styles */

@import "../includes/eucavariables";

#image-picker {
    .table {
        width: 100%;
        tbody {
            display: block;
            overflow-y: scroll;
        }
        .icon {
            width: 80px;
            height: 80px;
        }
        .name a {
            line-height: 1rem;
            font-size: 1.1rem;
        }
        .label {
            padding: 3px 4px;
            &.i386 {
                background-color: lighten($euca-darkgrey, 15%);
            }
            &.x86_64 {
                background-color: $euca-notificationblue;
            }
        }
    }
}
