/* @fileOverview ELB Listener Editor Widget CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
#elb-listener-editor .controls-wrapper { display: inline-block; margin-right: 1.5rem; }
#elb-listener-editor .controls-wrapper label { margin-right: 0.5rem; }
#elb-listener-editor .controls-wrapper input, #elb-listener-editor .controls-wrapper select { display: inline-block; }
#elb-listener-editor .controls-wrapper select.ip-protocol { width: 8rem; }
#elb-listener-editor .controls-wrapper .elb-port-tooltip { position: relative; left: -8px; }
#elb-listener-editor .controls-wrapper #from-port-error { margin-left: 1rem; }
#elb-listener-editor .security-row label.inline { width: 7rem; text-align: right; line-height: 1.1rem; margin: 0 0.5rem 0 0; padding: 0 0 0 0; }
#elb-listener-editor .security-section { margin-bottom: 1.5rem; }
#elb-listener-editor .label.radius { color: #5a5a5a; }
#elb-listener-editor .label.radius.cert { background-color: #cccccc; }
#elb-listener-editor .label.radius.bcert { background-color: #b3b3b3; margin-right: 6px; }

#select-certificate-modal .item-list { margin-bottom: 6px; }
#select-certificate-modal .item-list .item { color: #333; background-color: #e6e7e8; margin-right: 8px; }
#select-certificate-modal .item-list .item a { color: white; }
#select-certificate-modal .section-label { margin-top: 1.5rem; margin-bottom: 1rem; color: #5a5a5a; }
#select-certificate-modal #backend-certificates-display { margin-bottom: 1rem; }
#select-certificate-modal #new-certificate-wrapper { padding-left: 1rem; }
