/* @fileOverview Instance Selector CSS */
/* ----------------------------------------- Item list
----------------------------------------- */
.status.running { background-color: green; }

.status.pending { background-color: #00cd00; }

.status.stopped, .status.Error { background-color: darkred; }

.status.stopping { background-color: red; }

.status.terminated { background-color: #666666; }

.status.shutting-down { background-color: #d9d9d9; }

.status.InService { background-color: green; }

.status.OutOfService { background-color: darkred; }

#instance-selector table.table { width: 100%; }

.fi-alert { color: darkred; }
