/* @fileOverview Instance Selector CSS */
/* ----------------------------------------- Item list
----------------------------------------- */
.status.running { background-color: #425563; }

.status.pending { background-color: #6d899e; }

.status.stopped, .status.Error { background-color: darkred; }

.status.stopping { background-color: #ff6666; }

.status.terminated { background-color: #666666; }

.status.shutting-down { background-color: #cccccc; }

.status.InService { background-color: #425563; }

.status.OutOfService { background-color: darkred; }

#instance-selector table.table { width: 100%; }

.fi-alert { color: darkred; }
