/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
.search-bar { border: 1px solid black; background-color: white; padding: 4px; height: 2.0rem; }
.search-bar .item-list { margin-bottom: 6px; }
.search-bar .item-list .item { color: #333; background-color: #e6e7e8; margin-right: 8px; }
.search-bar .item-list .item a { color: white; }
.search-bar .item-list { position: relative; float: left; }
.search-bar #search-input { border: 0px; width: 300px; height: 1.5rem; position: relative; float: left; padding: 3px; margin: 0px; }
.search-bar i.cancel { margin-right: 1.25rem; padding: 3px; color: #444444; vertical-align: middle; position: relative; float: right; }
.search-bar i.cancel:hover { color: darkred; }
.search-bar i.fi-magnifying-glass { right: 1.0rem; padding: 3px; margin-right: 3px; color: #444444; vertical-align: middle; position: absolute; }
