/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
.search-bar { position: relative; border: 1px solid black; background-color: white; margin-bottom: 0.5rem; padding: 4px; height: auto; }
.search-bar i.fi-filter { color: #444; position: absolute; top: 0.5rem; left: 0.65rem; }
.search-bar #search-main-area { position: relative; margin-left: 1.65rem; margin-right: 1.65rem; cursor: text; }
.search-bar .item-list { margin-bottom: 6px; }
.search-bar .item-list .item { color: #333; background-color: #e6e7e8; margin-right: 8px; }
.search-bar .item-list .item a { color: white; }
.search-bar .item-list { margin-bottom: 2px; }
.search-bar #search-selected { background-color: white; color: #444; }
.search-bar #search-entry { display: inline-block; height: 1.5rem; }
.search-bar #search-input { width: 220px; border: 0; box-shadow: none; height: 1.5rem; padding: 3px; background-color: white; }
.search-bar .match { font-weight: bold; }
.search-bar i.cancel { color: #444; position: absolute; top: 0.5rem; right: 0.65rem; }
.search-bar i.cancel:hover { color: darkred; }
