/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
.route-table-editor .state.active { background-color: #01a982; }
.route-table-editor .state.blackhole { background-color: #333333; }
.route-table-editor #routes { display: none; }
.route-table-editor .route-entry label { display: inline-block; margin-right: 1rem; }
.route-table-editor .route-entry input, .route-table-editor .route-entry select { display: inline-block; width: 50%; }
.route-table-editor table.table { width: 67%; }
@media only screen and (max-width: 40em) { .route-table-editor table.table { width: 100%; } }
