/* @fileOverview S3 Sharing panel widget Sass CSS styles */
/* ----------------------------------------- Item list
----------------------------------------- */
#s3-metadata-editor .items { margin-bottom: 6px; }
#s3-metadata-editor .items .metadataentry { color: #666666; font-family: Metric-Semibold, Helvetica, Arial, sans-serif; font-size: 12px; background-color: white; border: 2px solid #d9d9d9; margin-right: 8px; }
#s3-metadata-editor .items .metadataentry a { color: #666666; }
#s3-metadata-editor .items .metadataentry a:hover { color: #01a982; }
#s3-metadata-editor #metadata_key, #s3-metadata-editor #metadata_value, #s3-metadata-editor #metadata_content_type { width: 50%; }
#s3-metadata-editor #controls_metadata_key, #s3-metadata-editor #controls_metadata_value, #s3-metadata-editor #controls_metadata_content_type { margin-bottom: 0.5rem; }
