@charset "UTF-8";
/* @fileOverview S3 Sharing panel widget Sass CSS styles */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
#s3-sharing-panel .items { margin-bottom: 6px; }
#s3-sharing-panel .items .grantentry { color: #333; background-color: #e6e7e8; margin-right: 8px; }
#s3-sharing-panel .items .grantentry a { color: white; }
#s3-sharing-panel #share_type { list-style-type: none; margin-bottom: 0; }
#s3-sharing-panel #share_type li { display: inline-block; }
#s3-sharing-panel #share_account, #s3-sharing-panel #share_permissions, #s3-sharing-panel #canned_acl { width: 50%; }
#s3-sharing-panel #canned_acl { margin-left: 1.6rem; }
#s3-sharing-panel #controls_share_account label { white-space: nowrap; }
#s3-sharing-panel #manual-acl-wrapper .manual-controls { margin-left: 1.6rem; }
