/* @fileOverview S3 Sharing panel widget Sass CSS styles */
/* ----------------------------------------- Item list
----------------------------------------- */
#s3-sharing-panel .items { margin: 0.7rem 0 0.5rem 0; }
#s3-sharing-panel .items .grantentry { color: #666666; font-family: Metric-Semibold, Helvetica, Arial, sans-serif; font-size: 12px; background-color: white; border: 2px solid #cccccc; margin-right: 8px; }
#s3-sharing-panel .items .grantentry a.remove i { color: #666666; }
#s3-sharing-panel .items .grantentry a.remove i:hover { color: #01a982; }
#s3-sharing-panel #share_type { list-style-type: none; margin-bottom: 0; margin-left: 1px; }
#s3-sharing-panel #share_type li { display: inline-block; }
#s3-sharing-panel #share_account, #s3-sharing-panel #share_permissions, #s3-sharing-panel #canned_acl { width: 60%; }
#s3-sharing-panel #canned_acl { margin-left: 1.6rem; }
#s3-sharing-panel #manual-acl-wrapper .manual-controls { margin-left: 1.6rem; }
#s3-sharing-panel #add-s3acl-btn { margin-top: 0.5rem; }

@media screen and (min-width: 1020px) { #controls_share_account label { white-space: nowrap; } }
