@charset "UTF-8";
/* @fileOverview S3 Sharing panel widget Sass CSS styles */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
#s3-sharing-panel .items { margin-bottom: 6px; }
#s3-sharing-panel .items .grantentry { color: #333; background-color: #e6e7e8; margin-right: 8px; }
#s3-sharing-panel .items .grantentry a.remove i { color: white; }
#s3-sharing-panel #share_type { list-style-type: none; margin-bottom: 0; margin-left: 1px; }
#s3-sharing-panel #share_type li { display: inline-block; }
#s3-sharing-panel #share_account, #s3-sharing-panel #share_permissions, #s3-sharing-panel #canned_acl { width: 60%; }
#s3-sharing-panel #canned_acl { margin-left: 1.6rem; }
#s3-sharing-panel #manual-acl-wrapper .manual-controls { margin-left: 1.6rem; }
#s3-sharing-panel #add-s3acl-btn { margin-top: 0.5rem; }

@media screen and (min-width: 1020px) { #controls_share_account label { white-space: nowrap; } }
