/* @fileOverview Security Group Rules editor CSS */
/* Dropdown elements */
/* Set the link colors and styles for top-level nav */
/* ----------------------------------------- Item list
----------------------------------------- */
form input.port { width: 3.8rem; }
form .row.trafficfrom { margin-top: 1rem; }
form .ip-label, form .sg-label { margin-right: 1rem; }
form .ipaddress, form .securitygroupname { text-align: left !important; }
form .cidr-block { display: inline-block; vertical-align: top; margin-bottom: 0.5rem; }
form .cidr-block .link { margin-bottom: 0.5rem; }
form .cidr-ip { display: inline; width: 100%; }
form .groupname { display: inline; width: 50%; }
form label.protocol { margin-bottom: 1.5rem; }

#rules-editor .item-list { margin-bottom: 6px; }
#rules-editor .item-list .item { color: #333; background-color: #e6e7e8; margin-right: 8px; }
#rules-editor .item-list .item a { color: white; }
#rules-editor .add-label { margin-bottom: 6px; }
#rules-editor .tabs-content { margin-top: 0.5rem; }

.duplicated-rule-error { color: red; padding: 10px 10px; }

div small.error-msg { color: darkred; font-weight: bold; font-size: 0.75rem; }
