/* @fileOverview Security Group Rules editor CSS */
/* ----------------------------------------- Item list
----------------------------------------- */
form input.port { width: 3.8rem; }
form .row.trafficfrom { margin-top: 1rem; }
form .ip-label { margin-right: 26px; }
form .ipaddress, form .securitygroupname { text-align: left !important; }
form .cidr-block { display: inline-block; vertical-align: top; margin-bottom: 0.5rem; }
form .cidr-block .link { margin-bottom: 0.5rem; }
form .cidr-ip { display: inline; width: 100%; }
form .groupname { display: inline; width: 50%; }
form label.protocol { margin-bottom: 1.5rem; }

#rules-editor .item-list { margin-bottom: 6px; }
#rules-editor .item-list .item { color: #666666; font-family: Metric-Regular, Helvetica, Arial, sans-serif; border: 2px solid #d9d9d9; background-color: #fff; margin-right: 8px; }
#rules-editor .item-list .item a { color: #666666; }
#rules-editor .item-list .item a:hover { color: #01a982; text-decoration: none; }
#rules-editor .add-label { margin-bottom: 6px; color: #666666; }
#rules-editor .tabs-content { margin-top: 0.75rem; }
#rules-editor .ipaddress a:hover { color: #01a982; border-bottom: 1px solid #01a982; }

.duplicated-rule-error { color: red; padding: 10px 10px; }

.add-button { padding-top: 2rem; }

div small.error-msg { color: darkred; font-weight: bold; font-size: 0.75rem; }
