<div id="elb-listener-editor">
    <div ng-cloak="true">
	<label>Listeners</label>
	<span class="label radius secondary item" ng-repeat="listener in listenerArray">
	    <span>
		{{ listener.fromProtocol.toUpperCase() }} ({{ listener.fromPort }}) - 
		{{ listener.toProtocol.toUpperCase() }} ({{ listener.toPort }})
	    </span>
            <span ng-show="listener.fromProtocol.toUpperCase() === 'HTTPS' || listener.fromProtocol.toUpperCase() === 'SSL'">
	        <a ng-click="openCertificateModal()"
		    title="Change certficate">{{ serverCertificateName }}</a>
            </span>
	    <a class="remove" ng-click="removeListener($event, $index)"
		title="Remove rule"><i class="fi-x"></i></a>
	</span>
	<label>Add a listener</label>
	<div class="row controls-wrapper">
	    <div class="small-1 columns"></div>
	    <div class="small-11 columns"><label class="left">Load balancer side</label></div>
	</div>
	<div class="row">
	    <div class="small-3 columns">
		<label class="right protocol" i18n:translate="">Protocol</label>
	    </div>
	    <div class="small-9 columns">
		<select id="from-protocol-select" name="from_protocol" class="ip-protocol"
		    ng-model="fromProtocol" data-placeholder="select..." >
		    <option ng-repeat="protocol in protocolList" 
			value="{{ protocol.name }}">{{ protocol.name }}</option>
		</select>
	    </div>
	</div>
	<div class="row">
	    <div class="small-3 columns">
		<label class="right" i18n:translate="">Port</label>
	    </div>
	    <div class="small-9 columns">
		<div>
		    <input class="port from" name="from_port" ng-model="fromPort" pattern="{{ portRangePattern }}" />
		    <small class="error" i18n:translate="">Port range value must be whole numbers between 1-65535</small>
		</div>
	    </div>
	</div>
	<div class="row controls-wrapper">
	    <div class="small-1 columns"></div>
	    <div class="small-11 columns"><label class="left">Instance side</label></div>
	</div>
	<div class="row">
	    <div class="small-3 columns">
		<label class="right protocol" i18n:translate="">Protocol</label>
	    </div>
	    <div class="small-9 columns">
		<select id="to-protocol-select" name="to_protocol" class="ip-protocol"
		    ng-model="toProtocol" data-placeholder="select..." >
		    <option ng-repeat="protocol in protocolList" 
			value="{{ protocol.name }}">{{ protocol.name }}</option>
		</select>
	    </div>
	</div>
	<div class="row">
	    <div class="small-3 columns">
		<label class="right" i18n:translate="">Port</label>
	    </div>
	    <div class="small-9 columns">
		<div>
		    <input class="port to" name="to_port" ng-model="toPort" pattern="{{ portRangePattern }}" />
		    <small class="error" i18n:translate="">Port range value must be whole numbers between 1-65535</small>
		</div>
	    </div>
	</div>
        <div>&nbsp;</div>
	<div class="row" id="add-listener-button-div">
	    <div class="small-3 columns">&nbsp;</div>
	    <div class="small-9 columns">
		<span id="button-add-listener" class="button round small" i18n:translate="" ng-class="addListenerButtonClass"
		    ng-click="addListener($event)">Add Listener</span>
	    </div>
	</div>
        <div>
            <textarea id="elb-listener" name="elb_listener" class="hidden" style="height: 8rem;"></textarea>
        </div>
    </div>
</div>
