<div id="elb-listener-editor">
    <div ng-cloak="true">
        <label>Listeners</label>
        <div ng-cloak="true">
            <table class="table" ng-cloak="true" ng-show="listenerArray.length !== 0">
                <thead>
                    <tr>
                        <th colspan="2" i18n:translate="">CLIENT SIDE</th>
                        <th colspan="2" i18n:translate="">INSTANCE SIDE</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th i18n:translate="">PROTOCOL</th>
                        <th i18n:translate="">PORT</th>
                        <th i18n:translate="">PROTOCOL</th>
                        <th i18n:translate="">PORT</th>
                        <th i18n:translate="">CIPHER</th>
                        <th i18n:translate="">CERTIFICATES</th>
                        <th i18n:translate=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-cloak="true" ng-repeat="listener in listenerArray">
                        <td>{{ listener.fromProtocol }}</td>
                        <td>{{ listener.fromPort }}</td>
                        <td>{{ listener.toProtocol }}</td>
                        <td>{{ listener.toPort }}</td>
                        <td>
                            <a ng-click="openCertificateModal(listener.fromProtocol, listener.toProtocol, 'SSL')"
                                title="Change certficate">
                                <span ng-show="showServerCertificateNameLink(listener.fromProtocol)">
                                    Cipher
                                 </span>
                            </a>
                        </td>
                        <td>
                            <span ng-show="showServerCertificateNameLink(listener.fromProtocol)">
                                <a ng-click="openCertificateModal(listener.fromProtocol, listener.toProtocol, 'SSL')"
                                    title="Change certficate">
                                    {{ serverCertificateName }}
                                </a>
                            </span>
                            <span ng-show="showBackendCertificateLink(listener.fromProtocol, listener.toProtocol)">
                                <a ng-click="openCertificateModal(listener.fromProtocol, listener.toProtocol, 'BACKEND')"
                                    title="Change certficate">
                                    Backend Certificate 
                                </a>
                            </span>
                        </td>
                        <td>
                            <a class="remove" ng-click="removeListener($index)" title="Remove rule"><i class="fi-x"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="row controls-wrapper">
                <div class="small-12 columns field">
                    <div ng-class="classNoListenerWarningDiv">
                        <small class="error" i18n:translate="">You must define at least one listener.</small>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div ng-show="listenerArray.length === 0">
                <label i18n:translate="">Add a listener</label>
            </div>
            <div ng-show="listenerArray.length > 0">
                <label i18n:translate="">Add another listener</label>
            </div>
        </div>
        <div>
            <div class="row controls-wrapper">
                <div class="small-1 columns"></div>
                <div class="small-11 columns"><label class="left">Client side</label></div>
            </div>
            <div class="row controls-wrapper">
                <div class="small-3 columns">
                    <label class="right protocol" i18n:translate="">Protocol</label>
                </div>
                <div class="small-9 columns">
                    <select id="from-protocol-select" name="from_protocol" class="ip-protocol"
                        ng-options="protocol.name for protocol in protocolList track by protocol.value"
                        ng-model="fromProtocol" data-placeholder="select..." >
                    </select>
                </div>
            </div>
            <div class="row controls-wrapper">
                <div class="small-3 columns">
                    <label class="right" i18n:translate="">Port</label>
                </div>
                <div class="small-9 columns field">
                    <div ng-class="classFromPortDiv">
                        <input type="number" class="port from" id="from-port-input" name="from_port"
                            ng-model="fromPort" pattern="{{ portRangePattern }}"/>
                        <small class="error" i18n:translate="">Port range value must be whole numbers between 1-65535</small>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="isFromProtocolValid">
            <div class="row controls-wrapper">
                <div class="small-1 columns"></div>
                <div class="small-11 columns"><label class="left">Instance side</label></div>
            </div>
            <div class="row controls-wrapper">
                <div class="small-3 columns">
                    <label class="right protocol" i18n:translate="">Protocol</label>
                </div>
                <div class="small-9 columns">
                    <select id="to-protocol-select" name="to_protocol" class="ip-protocol"
                        ng-options="protocol.name for protocol in toProtocolList track by protocol.value"
                        ng-model="toProtocol" data-placeholder="select..." >
                    </select>
                </div>
            </div>
            <div class="row controls-wrapper">
                <div class="small-3 columns">
                    <label class="right" i18n:translate="">Port</label>
                </div>
                <div class="small-9 columns field">
                    <div ng-class="classToPortDiv">
                        <input type="number" class="port to" id="to-port-input" name="to_port"
                            ng-model="toPort" pattern="{{ portRangePattern }}"/>
                        <small class="error" i18n:translate="">
                            Port range value must be whole numbers between 1-65535
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="showSelectCertificateModalLink()">
            <div class="row controls-wrapper">
                <div class="small-1 columns"></div>
                <div class="small-11 columns"><label class="left">Security</label></div>
            </div>
            <div class="row controls-wrapper">
                <div class="small-3 columns">
                    <label class="right protocol" i18n:translate="">Cipher</label>
                </div>
                <div class="small-9 columns">
                    <a ng-click="openCertificateModal(fromProtocol.value, toProtocol.value, 'SSL')"
                        title="Change certficate">
                        Select
                    </a>
                </div>
            </div>
            <div class="row controls-wrapper">
                <div class="small-3 columns">
                    <label class="right protocol" i18n:translate="">Certificates</label>
                </div>
                <div class="small-9 columns">
                    <a ng-click="openCertificateModal(fromProtocol.value, toProtocol.value, 'SSL')"
                        title="Change certficate">
                        Select
                    </a>
                </div>
            </div>
        </div>
        <div id="listener-error-div">
            <div class="row controls-wrapper">
                <div class="small-3 columns"></div>
                <div class="small-9 columns field">
                    <div ng-class="classDuplicatedListenerDiv">
                        <small class="error" i18n:translate="">
                            You may not have duplicate load balancer ports defined.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row controls-wrapper" id="add-listener-button-div">
            <div class="small-3 columns"></div>
            <div class="small-9 columns field">
                <span id="button-add-listener" class="button round small" i18n:translate=""
                    ng-class="addListenerButtonClass" ng-click="addListener($event)">
                    Add Listener
                </span>
            </div>
        </div>
        <div>
            <textarea id="elb-listener" name="elb_listener" class="hidden" style="height: 8rem;"></textarea>
        </div>
    </div>
</div>
