// Eucalyptus Sass variables

// Copyright 2013-2015 Hewlett Packard Enterprise Development LP
//
// Redistribution and use of this software in source and binary forms,
// with or without modification, are permitted provided that the following
// conditions are met:
//
// Redistributions of source code must retain the above copyright notice,
// this list of conditions and the following disclaimer.
//
// Redistributions in binary form must reproduce the above copyright
// notice, this list of conditions and the following disclaimer in the
// documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
// "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
// LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
// A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
// OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
// SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
// LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
// DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
// THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

@import "../foundation/settings";


$experimental: false;

// Layout
$euca-extrasmall-breakpoint: 480px;

// Colors
$euca-validation-input-bgcolor: lighten(lightpink, 10%);

$dxc-black: #000000;
$dxc-white: #ffffff;
$dxc-yellow: #ffed00;
$dxc-blue: #00c9ff;
$dxc-green: #64ff00;
$dxc-darkgray: #666666;
$dxc-lightgray: #d9d9d9;


// Text
$euca-text-font-family: 'Lato', Helvetica, Arial, sans-serif;
$euca-header-font-family: 'PT Sans', Verdana, Geneva, Lucida, sans-serif;
$euca-xs-font-size: 12px;
$euca-s-font-size: 14px;
$euca-font-size: 16px;
$euca-l-font-size: 18px;
$euca-xl-font-size: 24px;


// ####################
// Foundation overrides

// Layout
$row-width: rem-calc(1040);

// Colors
$primary-color: $dxc-black;

// Dropdown menus
$f-dropdown-bg: white;
$f-dropdown-triangle-color: $dxc-lightgray;

// Navigation bar settings ============
// Breakpoint handling
$topbar-breakpoint: 1020px !default; // Change to 9999px for always mobile layout


// Breadcrumbs
$crumb-bg: transparent;
$crumb-padding: 0 0 0 0;
$crumb-side-padding: rem-calc(6);
$crumb-function-factor: -10%;
$crumb-border-size: 0;
$crumb-border-style: solid;
$crumb-border-color: transparent;
$crumb-radius: 0;
$crumb-font-size: 1.1rem;
$crumb-font-color: $dxc-darkgray;
$crumb-font-family-current: $euca-text-font-family;
$crumb-font-color-unavailable: #999;
$crumb-font-transform: normal;
$crumb-link-decor: underline;
$crumb-slash-color: $dxc-darkgray;
$crumb-slash: "/";

// Buttons
$button-tny: rem-calc(6);
$button-sml: rem-calc(8);
$button-med: rem-calc(10);
$button-lrg: rem-calc(12);
$button-border-width: 2px;
$button-border-style: solid;

// Tables
$table-even-row-bg: white;

// Tabs
$tabs-navigation-padding: rem-calc(4) !default;
$tabs-navigation-bg-color: transparent;
$tabs-content-margin-bottom: rem-calc(1) !default;


// Tooltips
$tooltip-bg: white;
$tooltip-font-color: $dxc-darkgray;
$tooltip-padding: rem-calc(5);

// Alarm status colors
$alarm-status-color-alarm: darkred;
$alarm-status-color-insufficient-data: $dxc-darkgray;
$alarm-status-color-ok: green;

// Mixins
// Text overflow (e.g. for handling long resource names)
@mixin ellipsis-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// Tiles within panels (e.g. instance_volumes.pt and volume_snapshots.pt page)
@mixin panel-tile-mixin {
    background-color: white;
    border: 1px solid $dxc-lightgray;
    width: 190px; height: 160px;
    .footer {
        height: 24px;
        padding-top: 2px;
    }
}

@mixin button-shadow-mixin {
    box-shadow: 1px 1px 5px 0 $dxc-lightgray;
}

@mixin disabled-button-mixin {
    background-color: $dxc-lightgray;
    color: $dxc-darkgray;
    cursor: default;
    &:hover {
        cursor: default;
        pointer-events: none;
        background-color: $dxc-lightgray;
        text-decoration: none;
        border: none;
        outline: none;
        box-shadow: none;
        color: $dxc-darkgray;
    }
}


@mixin primary-disabled-button-mixin {
    @include disabled-button-mixin;
    border-color: $dxc-lightgray;
    &:hover {
        border: none;
    }
}

@mixin disabled-list-item-mixin {
    cursor: default;
    a {
        color: $dxc-lightgray;
        pointer-events: none;
    }
    &:hover {
        background-color: #fff;
    }
}

@mixin dropdown-shadow-mixin {
    border-color: $dxc-lightgray;
    box-shadow: 2px 2px 5px $dxc-lightgray;
}

@mixin helptext-icon-position-mixin {
    .helptext-icon {
        position: relative;
        left: -1rem;
        color: $dxc-darkgray;
    }
}

@mixin validation-error-mixin {
    margin-bottom: 6px;
    background-color: transparent;
    color: darkred;
    font-weight: bold;
    padding-left: 0;
    font-style: normal;
    padding-bottom: 4px;
    line-height: 1rem;
}

@mixin table-styles-mixin {
    border: none;
    border-top: 1px solid $dxc-black;
    border-bottom: 1px solid $dxc-black;
    thead tr {
        background-color: $dxc-black;
        th {
            // Note: Do not use shorthand padding rules here since we need to override Foundation styles
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 6px;
            padding-right: 6px;
            border-bottom: 1px solid $dxc-lightgray;
            vertical-align: top;
            color: $dxc-white;
            text-transform: uppercase;
            &.actions {
                text-align: right;
            }
            &.count {
                text-align: center;
            }
            &.checkbox-header {
                width: 1.5rem;
            }
        }
    }
    tr {
        border-bottom: 1px solid $dxc-lightgray;
        &:last-child {
            border-bottom: none;
        }
        td.count {
            text-align: center;
        }
    }
}


// Flexbox mixins //
@mixin flexbox-mixin {
    display: -ms-flexbox; // IE10
    display: -webkit-flex; // Safari 7+
    display: flex;
}
@mixin flexgrow-mixin($amount:1) {
    -webkit-flex-grow: $amount;  // Safari 7+ and IE10
    flex-grow: $amount;
}

/* -----------------------------------------
   Item list
----------------------------------------- */
@mixin item-list {
    .item-list {
        margin-bottom: 6px;
        .item {
            color: $dxc-darkgray;
            font-family: $euca-text-font-family;
            border: 1px solid $dxc-darkgray;
            background-color: $dxc-lightgray;
            margin-right: 8px;
            padding-right: 12px;
            a {
                color: $dxc-darkgray;
                position: relative;
                top: 1px; left: 4px;
                &:hover {
                    color: $dxc-black;
                    text-decoration: none;
                }
            }
        }
    }
}

// Tab mixins (wizards, etc.)
@mixin standard-tabs-mixin {
    max-height: 2.6rem !important;
    border-bottom: 1px solid #ccc;
    dd {
        position: relative;
        top: 1px;
        z-index: 999;
        padding-right: 2rem;
        padding-left: 0;
        a {
            padding: 10px 0 4px 0;
            color: $dxc-darkgray;
            background-color: transparent;
            font-family: $euca-header-font-family;
            font-weight: bold;
            text-transform: uppercase;
            &:hover {
                border-bottom: 2px solid $dxc-darkgray;
                background-color: transparent;
                text-decoration: none;
            }
        }
        &.active {
            a {
                color: $dxc-black;
                font-family: $euca-header-font-family;
                background-color: transparent;
                border-bottom: 2px solid $dxc-black;
            }
        }
    }
    &.switcher {
        display: inline-block;
        dd:last-child {
            padding-right: 0;
        }
    }
}

@mixin wizard-tabs-mixin {
    padding-right: 1rem;
    padding-left: 1rem;
    a {  // Visited tabs
        color: $dxc-darkgray;
        font-family: $euca-header-font-family;
        text-transform: uppercase;
        background-color: transparent;
        &:hover {
            color: $dxc-darkgray;
            border-bottom: 2px solid $dxc-darkgray;
        }
        box-shadow: none;
        white-space: nowrap;
        padding: 8px 0 6px 0;
        .cir {
            background-color: $dxc-darkgray;
        }
    }
    &.active {  // Active tab
        a {
            color: $dxc-black;
            font-family: $euca-header-font-family;
            background-color: transparent;
            border-bottom: 2px solid $dxc-black;
        }
        .cir {
            background-color: $dxc-black;
        }
    }
    &.disabled {  // Unvisited tabs
        color: $dxc-lightgray;
        font-family: $euca-header-font-family;
        text-transform: uppercase;
        padding: 8px 1rem;
        .cir {
            margin-right: 8px;
            background-color: $dxc-lightgray;
        }
    }
    .cir {
        position: relative;
        top: -2px;
        font-size: 0.825rem;
        display: inline-block;
        border-radius: 60px;
        width: 20px; height: 20px;
        padding: 0 0 0 0;
        text-align: center;
        vertical-align: middle;
        background-color: $dxc-lightgray;
        color: white;
        margin-right: 4px;
    }
}

@mixin hide-alarm-threshold-legend-mixin {
    .nvd3.nv-legend {
        .nv-series {
            &:last-child {
                display: none;
            }
        }
    }
}

@mixin hide-alarm-threshold-tooltip-mixin {
    .nvtooltip {
        table {
            tbody {
                tr.nv-pointer-events-none:last-child {
                    display: none;
                }
            }
        }
    }
}

