// Eucalyptus Sass variables

// Copyright 2013-2014 Eucalyptus Systems, Inc.
//
// Redistribution and use of this software in source and binary forms,
// with or without modification, are permitted provided that the following
// conditions are met:
//
// Redistributions of source code must retain the above copyright notice,
// this list of conditions and the following disclaimer.
//
// Redistributions in binary form must reproduce the above copyright
// notice, this list of conditions and the following disclaimer in the
// documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
// "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
// LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
// A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
// OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
// SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
// LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
// DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
// THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

@import "../foundation/functions";


// Layout
$euca-extrasmall-breakpoint: 480px;
$euca-contentwrap-width: 1040px;

// Colors
$euca-darkblue: #00415e;
$euca-extralightblue: #ecf4f7;
$euca-notificationblue: #40a8c6;
$euca-orange: #f18f30;

$euca-green: #8dc943;
$euca-lightgreen: #8dc640;
$euca-extralightgreen: #eef7e3;
$euca-darkgreen: #468400;

$euca-grey: #777777;
$euca-darkgrey: #444;
$euca-lightgrey: #ccc;
$euca-extralightgrey: #e6e7e8;

$aws-orange: #ff9900;

$euca-validation-error-color: darkred;
$euca-validation-input-bgcolor: lighten(lightpink, 10%);

// Forms
$euca-input-field-height: 2rem;

// Text
$body-font-family: Verdana, Geneva, Lucida, "Lucida Grande", Helvetica, Arial, sans-serif;
$euca-header-font: "Trebuchet MS", "Droid Sans", "Helvetica Nueue", Helvetica, sans-serif;
$euca-font-size: 0.8125rem;
$euca-text-color: #333;
$euca-link-color: darken($euca-darkgreen, 10%);

// Prevent Google Fonts API call
$include-open-sans: false;

// Dimensions
$euca-footer-height: 80px;

// Misc decorations
$euca-box-shadow: 0 2px 2px 0 $euca-grey;


// ####################
// Foundation overrides

// Layout
$row-width: rem-calc(1040);

// Colors
$primary-color: $euca-green;
$secondary-color: $euca-grey;
$success-color: $euca-lightgreen;
$code-color: darkred;

// Dropdown menus
$f-dropdown-bg: #fff;
$f-dropdown-triangle-color: #fff;

// Navigation bar settings ============
// Breakpoint handling
$topbar-transition-speed: 300ms;
$topbar-breakpoint: 920px !default; // Change to 9999px for always mobile layout
// Colors
$topbar-bg-color: white;
$topbar-bg: $topbar-bg-color;
$topbar-dropdown-bg: $euca-orange;
$topbar-dropdown-link-bg: $euca-green;
$topbar-link-bg-hover: $euca-darkgreen;
/* Dropdown elements */
$topbar-dropdown-bg: white;
$topbar-dropdown-link-color: #000;
$topbar-dropdown-link-bg: white;
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: black;
$topbar-dropdown-toggle-alpha: 1.0;
/* Set the link colors and styles for top-level nav */
$topbar-link-color: #000;
$topbar-link-color-hover: #000;
$topbar-link-color-active: #fff;
$topbar-link-color-active-hover: #fff;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(13);
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg-hover: $euca-orange;
$topbar-link-bg-active: $euca-orange;
$topbar-link-bg-active-hover: $primary-color;
$topbar-link-font-family: $body-font-family;

// Sub-nav
$sub-nav-active-bg: $euca-darkblue;

// Breadcrumbs
$crumb-bg: transparent;
$crumb-padding: 0 0 0 0;
$crumb-side-padding: rem-calc(6);
$crumb-function-factor: -10%;
$crumb-border-size: 0;
$crumb-border-style: solid;
$crumb-border-color: transparent;
$crumb-radius: 0;
$crumb-font-size: 1.1rem;
$crumb-font-color: $primary-color;
$crumb-font-color-current: #333;
$crumb-font-color-unavailable: #999;
$crumb-font-transform: normal;
$crumb-link-decor: underline;
$crumb-slash-color: #333;
$crumb-slash: ">";

// Buttons
$button-tny: rem-calc(6);
$button-sml: rem-calc(8);
$button-med: rem-calc(10);
$button-lrg: rem-calc(12);
$button-border-width: 1px;
$button-border-style: solid;

// Tables
$table-even-row-bg: #ebebec;

// Tabs
$tabs-navigation-padding: rem-calc(4) !default;
$tabs-navigation-bg-color: $euca-green;
$tabs-content-margin-bottom: rem-calc(1) !default;
$tabs-navigation-hover-bg-color: lighten($tabs-navigation-bg-color, 5%);

// Tooltips
$tooltip-padding: rem-calc(5);

// Mixins
// Text overflow (e.g. for handling long resource names)
@mixin ellipsis-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// Tiles within panels (e.g. instance_volumes.pt and volume_snapshots.pt page)
@mixin panel-tile-mixin {
    background-color: white;
    border: 1px solid $euca-lightgrey;
    width: 190px; height: 160px;
    .footer {
        height: 24px;
        padding-top: 2px;
    }
}

@mixin button-shadow-mixin {
    box-shadow: 1px 1px 5px 0px lighten($euca-grey, 10%);
}

@mixin dropdown-shadow-mixin {
    border-color: $euca-lightgreen;
    box-shadow: 2px 2px 5px $euca-grey;
}

@mixin validation-error-mixin {
    margin-bottom: 6px;
    background-color: transparent;
    color: $euca-validation-error-color;
    font-weight: bold;
    padding-left: 0;
    font-style: normal;
    padding-bottom: 4px;
}

@mixin table-styles-mixin {
    border: none;
    thead tr {
        background-color: $euca-green;
        th {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            vertical-align: top;
            text-transform: uppercase;
            &.actions {
                text-align: right;
            }
        }
    }
    tr {
        border-bottom: 1px solid #ddd;
    }
}

