// Eucalyptus Sass variables

// Copyright 2013-2015 Hewlett Packard Enterprise Development LP
//
// Redistribution and use of this software in source and binary forms,
// with or without modification, are permitted provided that the following
// conditions are met:
//
// Redistributions of source code must retain the above copyright notice,
// this list of conditions and the following disclaimer.
//
// Redistributions in binary form must reproduce the above copyright
// notice, this list of conditions and the following disclaimer in the
// documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
// "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
// LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
// A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
// OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
// SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
// LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
// DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
// THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

@import "../foundation/settings";


$experimental: false;

// Layout
$euca-extrasmall-breakpoint: 480px;
$euca-contentwrap-width: 1040px;

// Colors
$euca-darkblue: #03405f;
$euca-extralightblue: #ecf4f7;
$euca-notificationblue: #40a8c6;
$euca-orange: #f3901d;

$euca-green: #8cc63e;
$euca-lightgreen: #8dc640;
$euca-extralightgreen: #eef7e3;
$euca-darkgreen: #468400;

$euca-grey: #6a737b;
$euca-darkgrey: #444;
$euca-lightgrey: #ccc;
$euca-extralightgrey: #e6e7e8;

$euca-turquoise: #009e93;
$euca-olive: #7a853b;

$aws-orange: #ff9900;

$euca-validation-error-color: darkred;
$euca-validation-input-bgcolor: lighten(lightpink, 10%);

// HP accessible palette styles
$hp-accessible-blue: #007dba;
$hp-hover-blue: #006699;
$hp-hover-orange: #c1401a;
$hp-gray-65: #5a5a5a;
$hp-gray-40: #b3b3b3;
$hp-gray-20: #cccccc;
$hp-gray-5: #f2f2f2;
$hp-red: #ff0000;
$hp-light-red: #f7d7d7;
$hp-border-radius: 8px;

// HP secondary styles 
$hp-orange: #d7410b;
$hp-green: #008424;
$hp-purple: #822980;

// Additional colors used with HP palette
$hp-gold: #e6a818;

// Forms
$euca-input-field-height: 2rem;

// Text
$euca-text-font-family: Lato, Helvetica, Arial, sans-serif;
$euca-header-font-family: Lato, Helvetica, Arial, sans-serif;
$euca-font-size: 0.8125rem;
$euca-text-color: #333;
$euca-link-color: $hp-accessible-blue;

// Prevent Google Fonts API call
$include-open-sans: false;

// Dimensions
$euca-footer-height: 80px;

// Misc decorations
$euca-box-shadow: 0 2px 2px 0 $euca-grey;

// Wizards
$wizard-tab-padding: 8px 1rem;


// ####################
// Foundation overrides

// Layout
$row-width: rem-calc(1040);

// Colors
$primary-color: $hp-accessible-blue;
$secondary-color: $hp-gray-65;
$success-color: $hp-green;
$code-color: darkred;

// Dropdown menus
$f-dropdown-bg: #fff;
$f-dropdown-triangle-color: #fff;

// Navigation bar settings ============
// Breakpoint handling
$topbar-transition-speed: 300ms;
$topbar-breakpoint: 1020px !default; // Change to 9999px for always mobile layout
// Colors
$topbar-bg-color: white;
$topbar-bg: $topbar-bg-color;
$topbar-dropdown-link-bg: $hp-accessible-blue;
$topbar-link-bg-hover: $hp-hover-blue;
/* Dropdown elements */
$topbar-dropdown-bg: white;
$topbar-dropdown-link-color: #000;
$topbar-dropdown-link-bg: white;
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: black;
$topbar-dropdown-toggle-alpha: 1.0;
/* Set the link colors and styles for top-level nav */
$topbar-link-color: #000;
$topbar-link-color-hover: #000;
$topbar-link-color-active: #fff;
$topbar-link-color-active-hover: #fff;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(13);
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg-active-hover: $primary-color;


// Breadcrumbs
$crumb-bg: transparent;
$crumb-padding: 0 0 0 0;
$crumb-side-padding: rem-calc(6);
$crumb-function-factor: -10%;
$crumb-border-size: 0;
$crumb-border-style: solid;
$crumb-border-color: transparent;
$crumb-radius: 0;
$crumb-font-size: 1.1rem;
$crumb-font-color: $primary-color;
$crumb-font-color-current: #333;
$crumb-font-color-unavailable: #999;
$crumb-font-transform: normal;
$crumb-link-decor: underline;
$crumb-slash-color: $hp-gray-40;
$crumb-slash: "/";

// Buttons
$button-tny: rem-calc(6);
$button-sml: rem-calc(8);
$button-med: rem-calc(10);
$button-lrg: rem-calc(12);
$button-border-width: 1px;
$button-border-style: solid;

// Tables
$table-even-row-bg: #f5f5f5;

// Tabs
$tabs-navigation-padding: rem-calc(4) !default;
$tabs-navigation-bg-color: $hp-accessible-blue;
$tabs-content-margin-bottom: rem-calc(1) !default;
$tabs-navigation-hover-bg-color: lighten($tabs-navigation-bg-color, 5%);

// Tooltips
$tooltip-padding: rem-calc(5);

// Mixins
// Text overflow (e.g. for handling long resource names)
@mixin ellipsis-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// Tiles within panels (e.g. instance_volumes.pt and volume_snapshots.pt page)
@mixin panel-tile-mixin {
    background-color: white;
    border: 1px solid $hp-gray-20;
    width: 190px; height: 160px;
    .footer {
        height: 24px;
        padding-top: 2px;
    }
}

@mixin button-shadow-mixin {
    box-shadow: 1px 1px 5px 0 lighten($euca-grey, 10%);
}

@mixin dropdown-shadow-mixin {
    border-color: $hp-gray-20;
    box-shadow: 2px 2px 5px $euca-grey;
}

@mixin helptext-icon-position-mixin {
    .helptext-icon {
        position: relative;
        left: -1rem;
        color: $euca-grey;
    }
}

@mixin validation-error-mixin {
    margin-bottom: 6px;
    background-color: transparent;
    color: $euca-validation-error-color;
    font-weight: bold;
    padding-left: 0;
    font-style: normal;
    padding-bottom: 4px;
}

@mixin table-styles-mixin {
    border: none;
    thead tr {
        background-color: $hp-gray-5;
        th {
            // Note: Do not use shorthand padding rules here since we need to override Foundation styles
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 6px;
            padding-right: 6px;
            vertical-align: top;
            color: $euca-darkgrey;
            text-transform: uppercase;
            &.actions {
                text-align: right;
            }
            &.count {
                text-align: center;
            }
        }
    }
    tr {
        td.count {
            text-align: center;
        }
    }
}


// Flexbox mixins //
@mixin flexbox-mixin {
    display: -ms-flexbox; // IE10
    display: -webkit-flex; // Safari 7+
    display: flex;
}
@mixin flexgrow-mixin($amount:1) {
    -webkit-flex-grow: $amount;  // Safari 7+ and IE10
    flex-grow: $amount;
}

/* -----------------------------------------
   Item list
----------------------------------------- */
@mixin item-list {
    .item-list {
        margin-bottom: 6px;
        .item {
            color: #333;
            background-color: $euca-extralightgrey;
            margin-right: 8px;
            a {
                color: white;
            }
        }
    }
}

// Tab mixins (wizards, etc.)
@mixin standard-tabs-mixin {
    max-height: 2.6rem !important;
    dd {
        position: relative;
        top: 1px;
        z-index: 999;
        a {
            padding: 10px 32px 6px 24px;
            color: $hp-gray-65;
            background-color: transparent;
            font-weight: bold;
            &:hover {
                color: $hp-accessible-blue;
                background-color: transparent;
            }
        }
        &.active {
            a {
                color: $hp-accessible-blue;
                background-color: white;
                border: 1px solid $hp-gray-20;
                border-bottom-color: white;
                padding: 9px 31px 5px 23px;
            }
        }
    }
}

@mixin wizard-tabs-mixin {
    a {  // Visited tabs
        color: $hp-gray-65;
        background-color: transparent;
        &:hover {
            color: $hp-accessible-blue;
        }
        box-shadow: none;
        white-space: nowrap;
        padding: $wizard-tab-padding;
    }
    &.active {  // Active tab
        a {
            color: $hp-accessible-blue;
            background-color: white;
            border: 1px solid $hp-gray-20;
            border-bottom: none;
        }
    }
    &.disabled {  // Unvisited tabs
        color: darken($hp-gray-20, 30%);
        padding: $wizard-tab-padding;
        .cir {
            background-color: $hp-gray-65;
            margin-right: 8px;
        }
    }
    .cir {
        position: relative;
        top: -2px;
        font-size: 0.825rem;
        display: inline-block;
        border-radius: 60px;
        width: 20px; height: 20px;
        padding: 0 0 0 0;
        text-align: center;
        vertical-align: middle;
        background-color: $hp-accessible-blue;
        color: white;
        margin-right: 4px;
    }
}

