// Copyright 2013-2015 Hewlett Packard Enterprise Development LP
//
// Redistribution and use of this software in source and binary forms,
// with or without modification, are permitted provided that the following
// conditions are met:
//
// Redistributions of source code must retain the above copyright notice,
// this list of conditions and the following disclaimer.
//
// Redistributions in binary form must reproduce the above copyright
// notice, this list of conditions and the following disclaimer in the
// documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
// "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
// LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
// A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
// OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
// SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
// LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
// DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
// THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

// Import common Foundation variables

@import "../includes/eucavariables";

/* @section Landing pages styles */

// Sass variables
$tile-width: 202px;
$tile-height: 220px;
$tile-row-height: 24px;
$tile-bg-color: white;
$tile-label-padding: 28px;

$grid-dropdown-width: 160px;
$gridwrapper-table-width: 100%;

$dropdown-border-color: $hpe-lightgray;

$alarm-status-color-alarm: $hp-red;
$alarm-status-color-insufficient: $hpe-gray;
$alarm-status-color-ok: $hpe-green;

.columns.datagrid {
    padding-left: 0;
    padding-right: 1rem;
    padding-bottom: 2rem;
    // Hide sorting drop-down if smart table on table view
    &.has-smart-table.tableview {
        #sorting-controls {
            display: none;
        }
    }
}

.large-12.columns.datagrid {
    padding-left: 1rem;
}

.clear-link {
    color: $hpe-gray;
    &:hover {
        color: $hpe-green;
    }
}

#breadcrumbs {
    .icon-block {
        display: none;
    }
}

// Primary buttons
#primary-buttons {
    .button {
        padding: 8px 1rem;
        &.more-actions {
            margin-left: 1rem;
            padding-right: 3rem;
            &[disabled] {
                border: 2px solid $hpe-lightgray;
                &:hover {
                    outline: none;
                }
                &:after {
                    border-color: $hpe-lightgray transparent transparent transparent;
                }
            }
        }
    }
}

#more-actions-dropdown {
    &.f-dropdown {
        @include dropdown-shadow-mixin;
        li.disabled {
            @include disabled-list-item-mixin;
        }
    }
    hr {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#refresh-btn {
    color: $hpe-gray;
    &:hover {
        color: $hpe-green;
    }
}

.gridwrapper {
    margin-top: 0.5rem;
    // Dropdown buttons on landing page tile/table view
    .dropdown.button.tiny {
        z-index: 99999;
        background: none;
        box-shadow: none;
        position: absolute;
        width: 30px; height: $tile-row-height;
        top: 0; right: 0;
        color: $hpe-gray;
        font-size: 1.1rem;
        padding: 0 0 0 0;
        border: none;
        &:hover {
            color: $hpe-green;
            outline: none;
        }
        &::before, &::after {
            border: none;
        }
    }
    .f-dropdown {
        @include dropdown-shadow-mixin;
        &.open {
            top: 34px;
            min-width: 10rem;
            padding-top: 0;
        }
    }
    .alert-box {
        &.secondary {
            color: $hpe-gray;
            background-color: white;
            border: 1px solid $hpe-gray;
        }
    }
}

// Tile/grid view
.tile {
    box-shadow: 0 2px 2px 0 $hpe-hovergray;
    font-size: $euca-font-size;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: $tile-width;
    height: $tile-height;
    max-height: $tile-height;
    background-color: $tile-bg-color;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: $tile-row-height;
    word-wrap: break-word;
    // Add tile on instance-volumes page and volume-snapshots page
    &.add {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        a {
            display: block;
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            &:hover {
                background-color: $hpe-hovergray;
                text-decoration: none;
            }
        }
        .plus {
            font-size: 5rem;
            margin-bottom: -1rem;
        }
    }
    .header {
        position: relative;
        height: $tile-row-height;
        a {
            @include ellipsis-overflow;
            display: block;
            padding: 6px 30px 4px 10px;
            color: $hp-gray-65;
            font-family: $euca-header-font-family;
            &:hover {
                color: $hpe-green;
            }
            &.has-checkbox {
                padding-left: 24px;
            }
        }
        strong {
            font-weight: normal;
        }
        .item-checkbox {
            position: absolute;
            top: 10px;
            left: 7px;
        }
        .f-dropdown a {
            color: $hpe-gray;
            font-family: $euca-text-font-family;
            text-decoration: none;
            font-weight: normal;
            overflow: visible;
            white-space: normal;
            text-overflow: inherit;
        }
    }
    .content {
        padding: 8px;
        font-family: $euca-text-font-family;
        font-size: $euca-font-size;
        line-height: 1.1rem;
        a { color: $hpe-green; }
        a:hover { text-decoration: underline; }
        div {
            margin-bottom: 2px;
            margin-left: $tile-label-padding;
            word-break: break-all;
        }
        .label {
            padding: 1px 3px;
            margin-left: -$tile-label-padding;
            font-family: $euca-text-font-family;
            font-size: $euca-font-size;
            background-color: #FFFFFF;
            color: $hpe-gray;
            margin-right: 0.2rem;
            min-width: 22px;
            text-align: center;
            &.ellipsis {
                margin-left: 0;
            }
        }
        // Alert icon for missing security group rules
        .fi-alert {
            color: darkred;
        }
        a.alarm-status {
            padding: 2px 6px;
            color: white;
            border-radius: 3px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .link {
        text-transform: uppercase;
        color: $hpe-green;
        padding: 1px 3px;
        margin-bottom: 2px;
        font-size: 0.9em;
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        padding: 5px;
        color: white;
        background-color: $hpe-gray;
        text-align: center;
        line-height: 1.4rem;
        text-transform: capitalize;
        &.has-progress {
            padding: 0 0 0 0;
            text-align: left;
        }
        .completed {
            padding: 4px 0 4px 10px;
            text-align: center;
        }
        .progress {
            position: relative;
            margin: 0 0 0 0;
            height: 24px;
            border: none;
            .meter {
                position: relative;
                top: -2px; left: -2px;
                padding: 4px 0 4px 8px;
                height: 24px;
                display: inline-block;
                white-space: nowrap;
                font-weight: bold;
                text-align: center;
            }
        }
        .busy {
            // Avoid wobble in loading indicator
            font-size: 0.9rem;
            width: 0.9rem;
            height: 0.9rem;
            margin-left: 0.2rem;
        }
    }
}

// Table view
.gridwrapper .table {
    @include table-styles-mixin;
    width: $gridwrapper-table-width;

    th {
        white-space: nowrap;
    }
    tr {
        position: relative;
        width: $gridwrapper-table-width;
        input[type="checkbox"] {
            margin-bottom: 0;
        }
        td {
            position: relative;
            padding: 8px 4px 8px 6px;
            vertical-align: top;
            a {
                color: $hpe-green;
                &:hover {
                    text-decoration: underline;
                }
            }
            &.id {
                max-width: 120px;
            }
            span.actions {
                position: relative;
                float: right;
                top: -10px;
            }
            &.tags {
                max-width: 20rem;
                word-break: break-all;
            }
            .f-dropdown a {
                color: $euca-darkgrey;
                &:hover {
                    text-decoration: none;
                }
            }
            .busy {
                // Avoid wobble in loading indicator
                font-size: 0.9rem;
                width: 0.9rem;
                height: 0.9rem;
                margin-left: 0.2rem;
            }
            a.alarm-status {
                color: white;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .dropdown.button.tiny {
        z-index: 0;
        top: 8px; right: 20px;
        padding-left: 10px;
        padding-right: 24px;
        // background-color: $euca-extralightgrey;
        // border: 1px solid $euca-lightgrey;
        i {
            font-size: 1.2rem;
            top: 0;
        }
    }
    // Alert icon for missing security group rules
    .fi-alert {
        color: darkred;
    }
}

.sort-search {
    font-size: 0.9rem;
    form {
        margin-bottom: 0;
        position: relative;
        input {
            background-color: transparent;
            border-color: $hpe-lightgray;
        }
    }
    .go {
        font-size: 1.2rem;
        position: absolute;
        top: 8px; right: 10px;
        color: #999;
    }
}

.match-condition {
    font-size: $euca-font-size;
    margin-bottom: 4px;
}

// landingpage header
.lp-header {
    display: -webkit-box;
    display: -webkit-box-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    flex-flow: row wrap;
    @media screen and (max-width: 600px) {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        align-items: center;
    }
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.lp-action-buttons {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1 1 60%;
    -webkit-flex: 1 1 60%;
    flex: 1 1 60%;
}

.lp-sort {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0.3;
    -webkit-flex: 1 1 30%;
    flex: 1 1 30%;
}

.lp-view-buttons {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 0.1;
    -webkit-flex: 0 0 10%;
    flex: 0 0 10%;
}

.lp-search {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0.9;
    -webkit-flex: 0 0 90%;
    flex: 0 0 90%;
}

.lp-reload {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0.1;
    -webkit-flex: 0 0 10%;
    flex: 0 0 10%;
}

// Select all checkbox wrapper for tile/grid view
.select-all-wrapper {
    margin-left: 1rem;
}

// tableview/gridview icon switcher
.displayicons {
    font-size: 2rem;
    padding-left: 0;
    a {
        float: right;
        border-bottom: none;
        color: $hp-gray-65;
        &:hover {
            border-bottom: none;
            color: $hpe-green;
        }
    }
    label {
        float: right;
        line-height: 2.5rem;
        margin-right: 5px;
    }
    .selected {
        background-color: white;
        color: $hpe-green;
        &:hover {
            color: $hpe-green;
            cursor: inherit;
        }
    }
    i {
        display: inline-block;
        padding: 2px 12px;
    }
}

// Filters at left
#filters {
    position: relative;
    background-color: white;
    padding: 8px;
    margin-top: 108px;
    font-size: 0.8rem;
    form {
        label {
            font-weight: bold;
            position: relative;
            top: 2px;
            margin-top: 0.5rem;
            font-size: 0.8rem;
        }
        input {
            height: 1.8rem;
            margin-bottom: 0;
            font-size: 0.8rem;
        }
        button {
            box-shadow: none;
        }
    }
}

#sorting-controls {
    padding-top: 10px;
    text-align: right;
    font-size: 14px;
    .f-dropdown {
        @include dropdown-shadow-mixin;
    }
    #sorting-dropdown {
        text-align: left;
    }
}

#results-count {
    padding-top: 0.25rem;
    text-align: right;
    .items-found {
        vertical-align: baseline;
    }
}

.euca-split {
    border-color: $hpe-hovergray !important;
    width: 2.0rem !important;
}

.secondary {
    .euca-split {
        border-color: $hpe-gray !important;
        &:hover {
            border-color: $hpe-green !important;
        }
    }
}

.split.button {
    padding-right: 3.0rem !important;
    .euca-split {
        &:after {
            border-color: $hpe-black transparent transparent transparent;
        }
    }
}

/* -----------------------------------------
   Media Queries
----------------------------------------- */

@media screen and (max-width: 1024px) {
    #filters {
        margin-top: 1rem;
    }
}

/* Small screen */
@media screen and (max-width: $topbar-breakpoint) {
    .columns.datagrid {
        padding-left: 1rem;
    }
}

/* expando stuff */

.expando-tr-even {
    background: $table-even-row-bg !important;
}

// override for scaling group history table
table.expando {
  tr {
    &.even,
    &.alt,
    &:nth-of-type(even) { background: white; }
  }
}

.expando-tiles {
    li {
        font-size: 0.875rem;
        div:nth-of-type(1) {
            float: left;
        }
        div:nth-of-type(2) {
            clear: both;
        }
    }
}
