// Import common Foundation variables
@import "../includes/eucavariables";


/* @section Landing pages styles */

// Sass variables
$tile-width: 202px;
$tile-height: 220px;
$tile-row-height: 24px;
$tile-bg-color: white;
$tile-label-padding: 28px;

$grid-dropdown-width: 160px;
$gridwrapper-table-width: 100%;

$dropdown-border-color: $euca-green;


.columns.datagrid {
    padding-left: 0;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.large-12.columns.datagrid {
    padding-left: 1rem;
}

.clear-link {
    color: $euca-grey;
    &:hover {
        color: $euca-green;
    }
}

#breadcrumbs {
    .icon-block {
        display: inline-block;
    }
}

// Primary buttons
#primary-buttons {
    .button {
        padding: 8px 3rem;
    }
}

// Dropdown buttons on landing page tile/table view
.gridwrapper {
    .dropdown.button.tiny {
        z-index: 99999;
        background: none;
        box-shadow: none;
        position: absolute;
        width: 30px; height: $tile-row-height;
        top: 0; right: 0;
        color: $euca-green;
        font-size: 1.1rem;
        padding: 0 0 0 0;
        border-top: none;
        border-right: none;
        &:hover {
            color: $euca-green;
        }
        &::before {
            border: none;
        }
        .fi-widget {
            position: relative;
            top: 4px;
            background-image: url(../../img/svg/gear.svg);
            display: inline-block;
            width: 20px; height: 20px;
            &::before {
                content: " "
            }
        }
    }
    .f-dropdown {
        @include dropdown-shadow-mixin;
        &.open {
            top: 34px;
            min-width: 10rem;
            padding-top: 0;
        }
    }
}

// Tile/grid view
.tile {
    font-size: $euca-font-size;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: $tile-width;
    height: $tile-height;
    max-height: $tile-height;
    background-color: $tile-bg-color;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: $tile-row-height;
    word-wrap: break-word;
    // Add tile on instance-volumes page and volume-snapshots page
    &.add {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        a {
            display: block;
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            &:hover {
                background-color: lighten($euca-lightgreen, 30%);
            }
        }
        .plus {
            font-size: 5rem;
            margin-bottom: 0.5rem;
        }
    }
    .header {
        position: relative;
        height: $tile-row-height;
        a {
            @include ellipsis-overflow;
            display: block;
            padding: 6px 30px 4px 10px;
            color: $euca-darkblue;
            font-weight: bold;
            &:hover {
                color: $euca-green;
            }
        }
        strong {
            font-weight: normal;
        }
        .f-dropdown a {
            color: $euca-darkgrey;
            font-weight: normal;
            overflow: visible;
            white-space: normal;
            text-overflow: inherit;
        }
    }
    .content {
        padding: 8px;
        font-size: 0.9em;
        a { color: $euca-darkgreen; }
        a:hover { text-decoration: underline; }
        div {
            margin-bottom: 2px;
            margin-left: $tile-label-padding;
            word-break: break-all;
        }
        .label {
            padding: 1px 3px;
            margin-left: -$tile-label-padding;
            background-color: #e6e7e8;
            color: #555;
            margin-right: 0.2rem;
            font-family: Verdana, sans-serif;
            min-width: 22px;
            text-align: center;
            &.ellipsis {
                margin-left: 0;
            }
        }
    }
    .link {
        color: $euca-green;
        text-transform: uppercase;
        padding: 1px 3px;
        margin-bottom: 2px;
        font-size: 0.9em;
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        padding: 5px;
        color: white;
        background-color: $euca-grey;
        text-align: center;
        line-height: 1.4rem;
        text-transform: capitalize;
        &.has-progress {
            padding: 0 0 0 0;
            text-align: left;
        }
        .completed {
            padding: 4px 0 4px 10px;
            text-align: center;
        }
        .progress {
            position: relative;
            margin: 0 0 0 0;
            height: 24px;
            border: none;
            .meter {
                position: relative;
                top: -2px; left: -2px;
                padding: 4px 0 4px 8px;
                height: 24px;
                display: inline-block;
                white-space: nowrap;
                font-weight: bold;
                text-align: center;
            }
        }
        .dots {
            position: absolute;
            width: 16px; height: 11px;
            top: 8px; right: 8px;
        }
    }
}

// Table view
.gridwrapper .table {
    @include table-styles-mixin;
    width: $gridwrapper-table-width;
    th {
        white-space: nowrap;
    }
    tr {
        position: relative;
        width: $gridwrapper-table-width;
        td {
            position: relative;
            padding: 8px 4px 8px 6px;
            vertical-align: top;
            &.status {
                text-transform: capitalize;
                .label {
                    color: black;
                }
            }
            a {
                color: $euca-darkgreen;
                &:hover {
                    text-decoration: underline;
                }
            }
            &.id {
                max-width: 120px;
            }
            span.actions {
                position: relative;
                float: right;
                top: -10px;
            }
            &.tags {
                max-width: 20rem;
                word-break: break-all;
            }
            .f-dropdown a {
                color: $euca-darkgrey;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .dropdown.button.tiny {
        z-index: 0;
        top: 8px; right: 20px;
        padding-left: 10px;
        padding-right: 24px;
        // background-color: $euca-extralightgrey;
        // border: 1px solid $euca-lightgrey;
        i {
            font-size: 1.2rem;
            top: 0;
        }
    }
}

.sort-search {
    font-size: 0.9rem;
    form {
        margin-bottom: 0;
        position: relative;
        input {
            background-color: transparent;
            border-color: $euca-grey;
        }
    }
    .go {
        font-size: 1.2rem;
        position: absolute;
        top: 8px; right: 10px;
        color: #999;
    }
}

.match-condition {
    font-size: $euca-font-size;
    margin-bottom: 4px;
}

// tableview/gridview icon switcher
.displayicons {
    font-size: 2rem;
    a {
        float: right;
        border-bottom: none;
        color: $euca-green;
        &:hover {
            border-bottom: none;
            color: $euca-green;
        }
    }
    label {
        float: right;
        line-height: 2.5rem;
        margin-right: 5px;
    }
    .selected {
        background-color: white;
        color: black;
        &:hover {
            color: black;
            cursor: default;
        }
    }
    i {
        display: inline-block;
        padding: 2px 8px;
    }
}

// Filters at left
#filters {
    position: relative;
    background-color: white;
    padding: 8px;
    margin-top: 108px;
    font-size: 0.8rem;
    form {
        label {
            font-weight: bold;
            position: relative;
            top: 2px;
            margin-top: 0.5rem;
            font-size: 0.8rem;
        }
        input {
            height: 1.8rem;
            margin-bottom: 0;
            font-size: 0.8rem;
        }
        button {
            box-shadow: none;
        }
    }
}

#sorting-controls {
    padding-top: 22px;
    .f-dropdown {
        @include dropdown-shadow-mixin;
    }
}

#results-count {
    padding-top: 1rem;
    .items-found {
        position: relative;
        top: -6px;
    }
    em {
        color: #555;
        font-style: normal;
    }
}

#refresh-btn {
    background-image: url(../../img/svg/icon_reload.svg);
    background-color: transparent;
    width: 24px;
    height: 24px;
}



/* -----------------------------------------
   Media Queries
----------------------------------------- */

@media screen and (max-width: 1024px) {
    #filters {
        margin-top: 1rem;
    }
}

/* Small screen */
@media screen and (max-width: $topbar-breakpoint) {
    .columns.datagrid {
        padding-left: 1rem;
    }
}

