// Copyright 2013-2014 Eucalyptus Systems, Inc.
//
// Redistribution and use of this software in source and binary forms,
// with or without modification, are permitted provided that the following
// conditions are met:
//
// Redistributions of source code must retain the above copyright notice,
// this list of conditions and the following disclaimer.
//
// Redistributions in binary form must reproduce the above copyright
// notice, this list of conditions and the following disclaimer in the
// documentation and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
// "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
// LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
// A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
// OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
// SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
// LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
// DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
// THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
// OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

// Import common Foundation variables
@import "../includes/eucavariables";


$wizard-border-width: 16px;
$wizard-tab-padding: 8px 1rem;


/* @section Wizard styles */
.wizard {
    position: relative;
    background-color: transparent;
    &.has-title {
        position: relative;
        padding-top: 42px;
        h6.title {
            position: absolute;
            text-transform: uppercase;
            letter-spacing: 1px;
            top: 0; left: 0; right: 0;
            line-height: 2.5rem;
            padding-left: 12px;
            background-color: $euca-darkblue;
            color: white;
            @include ellipsis-overflow;
        }
    }
    .row.controls-wrapper.readonly {
        margin-bottom: 0.5rem;
    }
    .tabs {
        dd {
            &.active {
                a {
                    background-color: white;
                    &:hover {
                        background-color: white;
                    }
                }
            }
            &.disabled {
                padding: $wizard-tab-padding;
                background-color: $euca-extralightgrey;
            }
            a {
                box-shadow: none;
                white-space: nowrap;
                padding: $wizard-tab-padding;
            }
            .cir {
                position: relative;
                top: -2px;
                font-size: 0.825rem;
                display: inline-block;
                border-radius: 60px;
                width: 20px; height: 20px;
                padding: 0 0 0 0;
                text-align: center;
                vertical-align: middle;
                background-color: $euca-darkblue;
                color: white;
            }
        }
    }
    .tabs-content {
        min-height: 400px;
        margin: 0 0 0 0;
        padding: 1rem;
        background-color: white;
        .content {
            width: 100%;
            .description {
                font-weight: bold;
                color: $euca-darkblue;
            }
            .rule-description-label {
                color: $euca-darkblue;
            }
        }
    }
}

.summary {
    background-color: white;
    position: relative;
    top: 2px;
    padding: 8px;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    label {
        position: relative;
        right: -1rem;
        color: $euca-grey;
        font-weight: bold;
        margin-bottom: 2px;
        margin-top: 4px;
    }
    .value {
        word-break: break-all;
    }
    .row {
        margin-bottom: 5px;
    }
    .title {
        font-weight: bold;
        border-bottom: 1px solid $euca-darkblue;
        margin-top: 7px;
        margin-bottom: 1rem;
    }
    .section {
        padding: 0.5rem 0;
        border-bottom: 1px solid $euca-lightgrey;
        &:last-child {
            border-bottom: none;
        }
    }
    #tag-preview {
        word-break: break-all;
    }
}

// Block device mapping editor styles, used in Launch Instance and Launch Config wizards
#bdmapping-editor {
    .storage-label {
        text-align: left;
    }
    .table {
        width: 100%;
        th {
            font-size: 0.825rem;
            background-color: $euca-green;
            text-transform: uppercase;
        }
        td {
            line-height: 1rem;
            padding: 4px 8px;
            vertical-align: middle;
        }
    }
    #new-blockdevice-entry {
        label {
            text-align: left;
        }
    }
    input.number {
        width: 2rem;
    }
}


/* -----------------------------------------
   Media Queries
----------------------------------------- */

/* Extra small screen (< 481px) */
@media screen and (max-width: 560px) {
    dl.tabs {
        a {
            b { display: none; }
        }
    }
}

