// Eucalyptus Sass variables

// Colors
$euca-darkblue: #00415e;
$euca-extralightblue: #ecf4f7;

$euca-green: #76b800;
$euca-lightgreen: #8dc640;
$euca-darkgreen: #468400;

$euca-grey: #999;
$euca-darkgrey: #444;
$euca-lightgrey: #ccc;
$euca-extralightgrey: #eee;

$aws-orange: #ff9900;


// Text
$euca-header-font: 'Trebuchet MS', 'Droid Sans', 'OpenSans', 'Helvetica Nueue', Helvetica, sans-serif;
$euca-font-size: 0.8125rem;
$euca-text-color: #333;
$euca-link-color: $euca-green;

// Dimensions
$euca-footer-height: 80px;
