// Eucalyptus Sass variables
@import "../foundation/functions";


// Layout
$euca-extrasmall-breakpoint: 480px;
$euca-contentwrap-width: 1040px;

// Colors
$euca-darkblue: #00415e;
$euca-extralightblue: #ecf4f7;
$euca-notificationblue: #40a8c6;

$euca-green: #76b800;
$euca-lightgreen: #8dc640;
$euca-darkgreen: #468400;

$euca-grey: #999;
$euca-darkgrey: #444;
$euca-lightgrey: #ccc;
$euca-extralightgrey: #eee;

$aws-orange: #ff9900;


// Text
$euca-header-font: 'Trebuchet MS', 'Droid Sans', 'OpenSans', 'Helvetica Nueue', Helvetica, sans-serif;
$euca-font-size: 0.8125rem;
$euca-text-color: #333;
$euca-link-color: $euca-green;

// Dimensions
$euca-footer-height: 80px;

// Misc decorations
$euca-box-shadow: 0 2px 2px 0 $euca-grey;


// ####################
// Foundation overrides

// Layout
$row-width: rem-calc(1040);

// Colors
$primary-color: $euca-green;
$success-color: $euca-lightgreen;
$code-color: darkred;


// Navigation bar settings
$topbar-bg-color: $euca-green;
$topbar-bg: $topbar-bg-color;
$topbar-dropdown-bg: $euca-green;
$topbar-dropdown-link-bg: $euca-green;
$topbar-link-bg-hover: $euca-darkgreen;
$topbar-menu-link-color-toggled: white;
$topbar-menu-icon-color-toggled: white;
$topbar-breakpoint: 768px !default; // Change to 9999px for always mobile layout

// Buttons
$button-tny: rem-calc(6);
$button-sml: rem-calc(8);
$button-med: rem-calc(10);
$button-lrg: rem-calc(12);
$button-border-width: 1px;
$button-border-style: solid;

// Tooltips
$tooltip-padding: rem-calc(8);

