// Import common Foundation variables
@import "../includes/eucavariables";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "../foundation/variables";

/* @section Landing pages styles */

// Sass variables
$tile-width: 200px;
$tile-height: 200px;
$tile-row-height: 24px;
$tile-border-color: $euca-grey;
$tile-bg-color: $euca-extralightgrey;
$gridwrapper-table-width: 98%;


.columns.datagrid {
    padding-left: 0;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.large-12.columns.datagrid {
    padding-left: 1rem;
}

.tile {
    font-size: $euca-font-size;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: $tile-width;
    height: $tile-height;
    max-height: $tile-height;
    background-color: $tile-bg-color;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: $tile-row-height;
    word-wrap: break-word;
}

.tile .header {
    position: relative;
    padding: 4px 30px 4px 4px;
    border-bottom: 1px solid $tile-border-color;
    height: $tile-row-height;
    color: white;
    background-color: $euca-darkgrey;
    a {
        color: white;
        &:hover {
            color: $euca-green;
        }
    }
}

.tile .header strong {
    font-weight: normal;
}

.tile .header .button.dropdown {
    position: absolute;
    width: 30px; height: $tile-row-height;
    top: 0; right: 0;
    font-size: 1rem;
    padding: 0 0 0 0;
    border: 1px solid $tile-border-color;
    border-top: none;
    border-right: none;
}

.tile .header .button.dropdown i {
    position: relative;
    top: 2px;
}

.tile .header .button.dropdown::before {
    border: none;
}

.tile .header .f-dropdown {
    width: 120px;
}

.tile .content {
    padding: 8px;
    font-size: 0.9em;
}

.tile .content div {
    margin-bottom: 0.5rem;
}

.tile .footer {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    height: $tile-row-height;
    padding: 4px;
    color: white;
}

.sort-search {
    font-size: 0.9rem;
}

.sort-search form {
    margin-bottom: 0;
}

.sort-search .go {
    position: relative;
    left: -2px;
}

.match-condition {
    font-size: $euca-font-size;
    margin-bottom: 4px;
}

.displayicons {
    font-size: 2rem;
}

.displayicons a {
    float: right;
    border-bottom: none;
    color: black;
}
.displayicons a:hover {
    border-bottom: none;
    color: $euca-green;
}

.displayicons .selected {
    background-color: $euca-extralightgrey;
    :hover {
        color: black;
        cursor: default;
    }
}

.displayicons i {
    display: inline-block;
    padding: 4px 12px;
}

.gridwrapper .table {
    border: none;
    width: $gridwrapper-table-width;
    thead tr {
        border-top: 2px solid $euca-darkgrey;
        border-bottom: 2px solid $euca-darkgrey;
        th {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            text-transform: uppercase;
        }
    }
    tr {
        width: $gridwrapper-table-width;
        border-bottom: 1px solid #ddd;
        td {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            vertical-align: top;
        }
    }
}

#filters {
    margin-top: 46px;
}

#properties-filter-form {
    font-size: 0.9rem;
}

#sorting-controls, #results-count {
    padding-top: 1rem;
}


/* -----------------------------------------
   Media Queries
----------------------------------------- */

/* Small screen */
@media screen and (max-width: $topbar-breakpoint) {
    .columns.datagrid {
        padding-left: 1rem;
    }
    .sort-search .go {
        min-width: 32px;
    }
}

