// Import common Foundation variables
@import "../includes/eucavariables";


/* @section Landing pages styles */

// Sass variables
$tile-width: 200px;
$tile-height: 200px;
$tile-row-height: 24px;
$tile-border-color: $euca-grey;
$tile-bg-color: $euca-extralightgrey;
$tile-label-padding: 28px;
$grid-dropdown-width: 160px;
$gridwrapper-table-width: 100%;


.columns.datagrid {
    padding-left: 0;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.large-12.columns.datagrid {
    padding-left: 1rem;
}

.tile {
    font-size: $euca-font-size;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: $tile-width;
    height: $tile-height;
    max-height: $tile-height;
    background-color: $tile-bg-color;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: $tile-row-height;
    word-wrap: break-word;
    // Add tile on instance-volumes page and volume-snapshots page
    &.add {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        a {
            display: block;
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            &:hover {
                background-color: lighten($euca-lightgreen, 30%);
            }
        }
        .plus {
            font-size: 5rem;
            margin-bottom: 0.5rem;
        }
    }
    .header {
        position: relative;
        border-bottom: 1px solid $tile-border-color;
        height: $tile-row-height;
        color: white;
        background-color: $euca-darkgrey;
        a {
            @include ellipsis-overflow;
            display: block;
            padding: 6px 30px 4px 10px;
            color: white;
            &:hover {
                color: $euca-green;
            }
        }
        strong {
            font-weight: normal;
        }
        .f-dropdown a {
            white-space: pre-wrap;
            overflow: visible;
        }
    }
    .content {
        padding: 8px;
        font-size: 0.9em;
        a { color: $euca-darkgreen; }
        a:hover { text-decoration: underline; }
        div {
            margin-bottom: 2px;
            margin-left: $tile-label-padding;
            word-break: break-all;
        }
        .label {
            padding: 1px 3px;
            margin-left: -$tile-label-padding;
            background-color: $euca-grey;
            margin-right: 0.2rem;
            font-family: Verdana, sans-serif;
            min-width: 22px;
            text-align: center;
            &.ellipsis {
                margin-left: 0;
            }
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        height: $tile-row-height;
        padding: 4px 4px 4px 10px;
        color: white;
        background-color: $euca-grey;
        &.has-progress {
            padding: 0 0 0 0;
        }
        .completed {
            padding: 4px 0 4px 10px;
        }
        .progress {
            position: relative;
            margin: 0 0 0 0;
            height: 24px;
            border: none;
            .meter {
                position: relative;
                top: -2px; left: -2px;
                padding: 4px 0 4px 8px;
                height: 24px;
                display: inline-block;
                white-space: nowrap;
                font-weight: bold;
            }
        }
        .dots {
            position: absolute;
            width: 32px; height: 10px;
            top: 8px; right: 8px;
        }
    }
    .f-dropdown::before, .f-dropdown::after {
        left: $grid-dropdown-width - 22px;
    }
}

// Dropdown buttons on landing page tile/table view
.gridwrapper {
    .dropdown.button.tiny {
        position: absolute;
        width: 30px; height: $tile-row-height;
        top: 0; right: 0;
        color: black;
        font-size: 1rem;
        padding: 0 0 0 0;
        border: 1px solid $tile-border-color;
        border-top: none;
        border-right: none;
        &:hover {
            color: $euca-green;
        }
        &::before {
            border: none;
        }
        i {
            position: relative;
            top: 2px;
            &.fi-minus-circle {
                top: -2px;
            }
        }
    }
    .button.dropdown:hover + .f-dropdown, .f-dropdown:hover {
        width: $grid-dropdown-width;
        display: block;
        box-shadow: 3px 3px 5px $euca-grey;
        top: 20px; left: auto; right: 0;
        li {
            a {
                color: #333;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}


.sort-search {
    font-size: 0.9rem;
    form {
        margin-bottom: 0;
    }
    .go {
        position: relative;
        left: -2px;
        font-size: 1.2rem;
        color: darken($euca-grey, 20%);
    }
}

.match-condition {
    font-size: $euca-font-size;
    margin-bottom: 4px;
}

// tableview/gridview icon switcher
.displayicons {
    font-size: 2rem;
    a {
        float: right;
        border-bottom: none;
        color: black;
        &:hover {
            border-bottom: none;
            color: $euca-green;
        }
    }
    .selected {
        background-color: $euca-extralightgrey;
        :hover {
            color: black;
            cursor: default;
        }
    }
    i {
        display: inline-block;
        padding: 4px 12px;
    }
}

// Table view
.gridwrapper .table {
    border: none;
    width: $gridwrapper-table-width;
    thead tr {
        border-top: 2px solid $euca-darkgrey;
        border-bottom: 2px solid $euca-darkgrey;
        th {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            text-transform: uppercase;
            white-space: nowrap;
            &.actions {
                text-align: right;
            }
        }
    }
    tr {
        position: relative;
        width: $gridwrapper-table-width;
        border-bottom: 1px solid #ddd;
        td {
            a {
                color: $euca-darkgreen;
                &:hover {
                    text-decoration: underline;
                }
            }
            position: relative;
            padding-top: 12px;
            padding-bottom: 12px;
            vertical-align: top;
            &.id {
                max-width: 120px;
            }
            span.actions {
                position: relative;
                float: right;
                top: -10px;
            }
            &.tags {
                max-width: 20rem;
                word-break: break-all;
            }
        }
    }
    .dropdown.button.tiny {
        top: 8px; right: 20px;
        padding-left: 10px;
        padding-right: 24px;
    }
    .f-dropdown::before, .f-dropdown::after {
        left: $grid-dropdown-width - 22px;
    }
    .button.dropdown:hover + .f-dropdown, .f-dropdown:hover {
        left: auto; right: 22px;
    }
}


#filters {
    margin-top: 70px;
    label {
        font-weight: bold;
        position: relative;
        top: 2px;
        margin-top: 0.5rem;
    }
    form {
        font-size: 0.9rem;
        input {
            height: 2rem;
            margin-bottom: 0;
        }
    }
}

#sorting-controls {
    padding-top: 1rem;
}

#results-count {
    padding-top: 1rem;
    em {
        color: #555;
        font-style: normal;
    }
}

#show-more-btn {
    display: block;
    width: 98%;
    margin: 0 auto;
}

.refresh-icon {
    position: relative;
    padding: 8px 10px 8px 18px;
    border-left: 1px solid darken($euca-extralightblue, 30%);
    .dots {
        width: 20px;
        position: relative;
    }
}


/* -----------------------------------------
   Media Queries
----------------------------------------- */

@media screen and (max-width: 1024px) {
    #filters {
        margin-top: 1rem;
    }
}

/* Small screen */
@media screen and (max-width: $topbar-breakpoint) {
    .columns.datagrid {
        padding-left: 1rem;
    }
    .sort-search .go {
        min-width: 32px;
    }
}

