// Import common Foundation variables
@import "../includes/eucavariables";

/* @section Landing pages styles */

// Sass variables
$tile-width: 198px;
$tile-height: 200px;
$tile-row-height: 24px;
$tile-border-color: $euca-grey;
$tile-bg-color: $euca-extralightgrey;


.columns.datagrid {
    padding-left: 0;
    padding-right: 0;
}

.tile {
    font-size: $euca-font-size;
    position: relative;
    display: inline-block;
    width: $tile-width; height: $tile-height;
    background-color: $tile-bg-color;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: $tile-row-height;
}

.tile .header {
    position: relative;
    padding: 4px 30px 4px 4px;
    border-bottom: 1px solid $tile-border-color;
    height: $tile-row-height;
    color: white;
    background-color: $euca-darkgrey;
}

.tile .header strong {
    font-weight: normal;
}

.tile .header .button.dropdown {
    position: absolute;
    width: 30px; height: $tile-row-height;
    top: 0; right: 0;
    font-size: 1rem;
    padding: 0 0 0 0;
    border: 1px solid $tile-border-color;
    border-top: none;
    border-right: none;
}

.tile .header .button.dropdown i {
    position: relative;
    top: 2px;
}

.tile .header .button.dropdown::before {
    border: none;
}

.tile .header .f-dropdown {
    width: 120px;
}

.tile .content {
    padding: 8px;
    font-size: 0.9em;
    line-height: 1.3rem;
}

.tile .footer {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    height: $tile-row-height;
    padding: 4px;
    color: white;
}

.sort-search {
    font-size: $euca-font-size;
}

.sort-search form {
    margin-bottom: 0;
}
