// Import common Foundation variables
@import "../includes/eucavariables";


$wizard-border-width: 16px;

/* @section Wizard styles */
.wizard {
    position: relative;
    background-color: transparent;
    &.has-title {
        position: relative;
        padding-top: 42px;
        h6.title {
            position: absolute;
            text-transform: uppercase;
            letter-spacing: 1px;
            top: 0; left: 0; right: 0;
            line-height: 2.5rem;
            padding-left: 12px;
            background-color: $euca-darkblue;
            color: white;
            @include ellipsis-overflow;
        }
    }
    .row.controls-wrapper.readonly {
        margin-bottom: 0.5rem;
    }
    .tabs {
        margin-left: $wizard-border-width;
        dd {
            &.active {
                a {
                    background-color: white;
                }
                .cir {
                    background-color: $euca-darkblue;
                    color: white;
                }
            }
            &.disabled {
                padding: 1rem 16px;
            }
            a {
                white-space: nowrap;
                padding: 1rem 16px;
                background-color: $euca-extralightgrey;
            }
            .cir {
                position: relative;
                top: -2px;
                font-size: 0.825rem;
                display: inline-block;
                border-radius: 60px;
                width: 20px; height: 20px;
                padding: 0 0 0 0;
                text-align: center;
                vertical-align: middle;
                background-color: $euca-grey;
                color: white;
            }
        }
    }
    .tabs-content {
        min-height: 400px;
        margin: 0 0 0 0;
        padding: 1rem;
        background-color: white;
        .content {
            width: 100%;
        }
    }
}

.summary {
    background-color: white;
    position: relative;
    top: 2px;
    padding: 8px;
    padding-bottom: 2rem;
    margin-top: 54px;
    margin-bottom: 1rem;
    label {
        position: relative;
        right: -1rem;
        color: $euca-darkblue;
        font-weight: bold;
        margin-bottom: 4px;
    }
    .value {
        word-break: break-all;
    }
    .row {
        margin-bottom: 5px;
    }
    .title {
        font-weight: bold;
        border-bottom: 1px solid $euca-darkblue;
        margin-top: 7px;
        margin-bottom: 1rem;
    }
    .section {
        padding: 0.5rem 0;
        border-bottom: 1px solid $euca-lightgrey;
        &:last-child {
            border-bottom: none;
        }
    }
    #tag-preview {
        word-break: break-all;
    }
}

// Block device mapping editor styles, used in Launch Instance and Launch Config wizards
#bdmapping-editor {
    .storage-label {
        text-align: left;
    }
    .table {
        width: 100%;
        th {
            font-size: 0.825rem;
        }
        td {
            line-height: 1rem;
            padding: 4px 8px;
            vertical-align: middle;
        }
    }
    #new-blockdevice-entry {
        label {
            text-align: left;
        }
    }
    input.number {
        width: 2rem;
    }
}


/* -----------------------------------------
   Media Queries
----------------------------------------- */

/* Extra small screen (< 481px) */
@media screen and (max-width: 560px) {
    dl.tabs {
        a {
            b { display: none; }
        }
    }
}

