// Import common Foundation variables
@import "../includes/eucavariables";


/* @section Wizard styles */
.wizard {
    position: relative;
    background-color: $euca-extralightgrey;
    &.has-title {
        position: relative;
        padding-top: 2.5rem;
        h6.title {
            position: absolute;
            text-transform: uppercase;
            letter-spacing: 1px;
            top: 0; left: 0; right: 0;
            line-height: 2.5rem;
            padding-left: 12px;
            background-color: $euca-darkblue;
            color: white;
            @include ellipsis-overflow;
        }
    }
    .tabs.vertical {
        dd {
            &.active {
                .cir {
                    background-color: $euca-darkblue;
                    color: white;
                }
                a {
                    border-top: 1px solid $euca-grey;
                    border-bottom: 1px solid $euca-grey;
                }
            }
            a {
                white-space: nowrap;
                padding: 1rem 4px 1rem 16px;
            }
            .cir {
                position: relative;
                top: -2px;
                font-size: 0.825rem;
                display: inline-block;
                border-radius: 60px;
                width: 20px; height: 20px;
                padding: 0 0 0 0;
                text-align: center;
                vertical-align: middle;
                background-color: $euca-grey;
                color: white;
            }
        }
    }
    .tabs-content {
        min-height: 400px;
        margin: 0 0 0 0;
        padding: 1rem;
        background-color: white;
        border-right: 16px solid $euca-extralightgrey;
        .content {
            width: 100%;
        }
    }
}

