/* Sass Imports */

// Normalize/reset CSS styles
@import "normalize";


// Import EUCA SCSS variables
@import "eucavariables";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  // "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  // "foundation/components/orbit",
  "foundation/components/reveal",
  // "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  // "foundation/components/breadcrumbs",
  "foundation/components/custom-forms",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  // "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/dropdown";

/* Eucalyptus Management Console main styles */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Variables
:: Fonts
:: Master Layout
:: Header
*/



/* -----------------------------------------
   Fonts
----------------------------------------- */
/* ======= Settings for PlayRegular and PlayBold fonts ======= */
@font-face {
  font-family: 'PlayRegular';
  src: url('../fonts/play/Play-Regular-webfont.eot');
  src: url('../fonts/play/Play-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/play/Play-Regular-webfont.woff') format('woff'),
       url('../fonts/play/Play-Regular-webfont.ttf') format('truetype'),
       url('../fonts/play/Play-Regular-webfont.svg#PlayRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayBold';
  src: url('../fonts/play/Play-Bold-webfont.eot');
  src: url('../fonts/play/Play-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/play/Play-Bold-webfont.woff') format('woff'),
       url('../fonts/play/Play-Bold-webfont.ttf') format('truetype'),
       url('../fonts/play/Play-Bold-webfont.svg#PlayBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* -----------------------------------------
   Master Layout
----------------------------------------- */
html {
    border-top: 10px solid #00415e;
}

body {
    margin: 0 auto;
}

.row {
    max-width: $euca_max_page_width;
    margin: 0 auto;
}


/* -----------------------------------------
   Header
----------------------------------------- */
#logobar {
    height: 44px;
    padding: 10px 0 10px 10px;
}

#logobar #logo {
    display: inline-block;
    width: 199px; height: 22px;
    background: url(../img/eucalogo-199x22.png) no-repeat;
}
