/* Sass Imports */

// Normalize/reset CSS styles
@import "includes/normalize";


// Import EUCA SCSS variables
@import "includes/eucavariables";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  // "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  // "foundation/components/orbit",
  "foundation/components/reveal",
  // "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  // "foundation/components/breadcrumbs",
  "foundation/components/custom-forms",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  // "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/dropdown";

/* =========================================================== */
/* Eucalyptus Management Console main styles */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Fonts
:: Master Layout
:: Header
*/


/* -----------------------------------------
   Fonts
----------------------------------------- */
/* ======= Settings for PlayRegular and PlayBold fonts ======= */
@font-face {
  font-family: 'PlayRegular';
  src: url('../fonts/play/Play-Regular-webfont.eot');
  src: url('../fonts/play/Play-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/play/Play-Regular-webfont.woff') format('woff'),
       url('../fonts/play/Play-Regular-webfont.ttf') format('truetype'),
       url('../fonts/play/Play-Regular-webfont.svg#PlayRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayBold';
  src: url('../fonts/play/Play-Bold-webfont.eot');
  src: url('../fonts/play/Play-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/play/Play-Bold-webfont.woff') format('woff'),
       url('../fonts/play/Play-Bold-webfont.ttf') format('truetype'),
       url('../fonts/play/Play-Bold-webfont.svg#PlayBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* -----------------------------------------
   Master Layout
----------------------------------------- */
html {
    border-top: 10px solid #00415e;
}

html, body {
    height: 100%;
}

body {
    min-height: 100%;
}

#main-content {
    min-height: 12rem;
}

/* -----------------------------------------
   Header
----------------------------------------- */
#logobar {
    height: 44px;
    padding: 10px 0 10px 15px;
    background-color: #fff;
}

#logobar #logo {
    display: inline-block;
    width: 199px; height: 22px;
    background: url(../img/eucalogo-199x22.png) no-repeat;
}

/* -----------------------------------------
   Footer
----------------------------------------- */
footer {
    width: 100%;
    height: 80px;
    padding: 15px;
    background-color: rgb(51, 51, 51);
    color: rgb(121, 121, 121);
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
}

.copyright {
    font-size: 0.8em;
}