@import "../includes/eucavariables";
@import "../includes/landingpage";
@import "../widgets/modal";

table {
    &.table {
        width: 100%;
    }
}

.alarm-history-details-modal {
    pre {
        margin: 1rem 0 0;
        font-size: 0.9rem;
        height: 75vh;
        overflow: scroll;
    }

    .button {
        margin: 2rem 0 0;
    }
}
