/* @fileOverview CloudWatch Alarms landing page CSS */
@import "../includes/eucavariables";
@import "../includes/landingpage";
@import "../widgets/create-alarm-dialog";
@import "../widgets/delete_alarm_dialog";

#threshold {
    width: 100%;
}
#period,
#evaluation_periods {
    display: inline-block;
    width: 4rem;
}
#unit {
    position: relative;
    left: -9999rem;
}
.unit-label {
    position: relative;
    top: 6px;
}

.gridwrapper {
    .table {
        tr {
            th {
                &.alarm-actions {
                    text-align: center;
                }
            }
            td {
                &.id {
                    max-width: none;
                }
                &.dimensions {
                    font-size: 0.6875rem;
                    dt {
                        font-weight: bold;
                    }
                }
                &.alarm-actions {
                    text-align: center;
                }
            }
        }
    }
}

.tile {
    &.item {
        dl {
            font-size: $euca-font-size;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 0;
        }
    }
    
    .footer {
        &.ok,
        &.alarm,
        &.insufficient-data {
            text-transform: none;
            background-color: $hpe-gray;
        }

        &.ok {
            background-color: $hpe-green;
            text-transform: uppercase;
        }
        &.alarm {
            background-color: darkred;
        }
    }
}

