/* @fileOverview CloudWatch Alarms landing page CSS */
@import "../includes/eucavariables";
@import "../includes/landingpage";

.gridwrapper {
    .table {
        tr {
            td {
                &.id {
                    max-width: none;
                }
                &.dimensions {
                    font-size: 0.6875rem;
                    dt {
                        font-weight: bold;
                    }
                }
                &.alarm-actions {
                    text-align: center;
                }
            }
        }
    }
}

.tile {
    &.item {
        dl {
            font-size: 0.9em;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 0;
        }
    }
    
    .footer {
        text-transform: capitalize;
        &.alarm {
            background-color: #F04124;
        }
        &.ok {
            background-color: #008424;
        }
    }
}
