@import "../includes/eucavariables";
@import "../widgets/alarm-actions";
@import "../widgets/modal";
@import "../widgets/alarm-actions";
@import "../widgets/create-alarm-dialog";

.metric-chart {
    svg {
        border: 1px solid #CCC;
        border-width: 0 1px 1px;
        width: 100%;
        height: 350px;
        margin: 0 auto 15px;
    }
}

form.alarm-update {
    input[type="number"] {
        width: 100%;
    }

    &.alarm-update {
        .trigger-conditions {
            margin: 1.5rem 0 0;

            select {
                margin: 0 0 0.5rem;
            }
        }
    }

    select.dimensions-select {
        &.ng-invalid + div.chosen-container {
            border: 1px solid darkred;
            background-color: $euca-validation-input-bgcolor;
        }
    }

    &.ng-invalid,
    &.ng-pristine {
        .button {
            &.submit {
                @include disabled-button-mixin;
            }
        }
    }
}

#delete-alarm-modal {
    p {
        margin: 0 0 7px;
    }
    .header {
        color: #444;
        text-transform: uppercase;
        font-size: $euca-font-size;
        font-weight: bold;
        .columns {
            padding: 0;
        }
    }
    .alarm-dimensions {
        margin: 0 0 20px;
        .columns {
            padding: 0;
        }
    }
    .row.control {
        margin: 0 0 15px;
    }
}
