/* @fileOverview Bucket details page CSS */

@import "../includes/eucavariables";

#bucket-section-title {
    position: relative;
    top: -1rem;
}

#cors-configuration-modal {
    textarea {
        height: 10rem;
    }
}

#sample-link-wrapper {
    text-align: right;
}

#existing-cors-config-wrapper{
    .icon {
        margin-right: 0.5rem;
        position: relative;
        top: 2px;
        &.edit {
            font-size: 1.1rem;
        }
        &.remove {
            top: 3px;
        }
    }
}

