/* @fileOverview Buckets contents page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";

.icon {
    display: inline-block;
    width: 20px;
    color: $euca-darkgreen;
}

#primary-buttons {
    .button {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.progress {
    text-align: left;
    position: relative;
    border: none;
    .meter {
        background-color: lighten($euca-darkblue, 20%);
        color: black;
        position: relative;
        top: -2px; left: -2px;
        padding: 1px 0 1px 8px;
        display: inline-block;
        white-space: nowrap;
        font-weight: bold;
    }
}

