/* @fileOverview Bucket item (folder/object) details page CSS */

@import "../includes/eucavariables";


#friendly_name {
    width: 50%;
}

.fa-lock, .fa-unlock {
    margin-right: 3px;
    color: $dxc-black;
}

#shared-url-modal {
    textarea {
        height: 8rem;
    }
}
