/* @fileOverview Buckets contents page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";

.icon {
    display: inline-block;
    width: 20px;
    color: $euca-darkgreen;
}

#primary-buttons {
    .button {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.button.cancel {
    background-color: darken(red, 20%);
}

.bucket-progress {
    border: 1px solid black;
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    .meter {  // barbershop progress indicator
        position: absolute;
        background-color: lighten($euca-darkblue, 20%);
        padding-left: 3px;
        height: 30px;
        margin: 0px;
    }
    .status {
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 1.0rem;
        font-weight: bold;
        text-align: center;
    }
}

