/* @fileOverview Bucket details page CSS */

@import "../includes/eucavariables";
@import "../widgets/modal";


#bucket-section-title {
    position: relative;
    top: -1rem;
}


#sample-link-wrapper {
    text-align: right;
}

#existing-cors-config-wrapper{
    .icon {
        margin-right: 0.5rem;
        position: relative;
        top: 2px;
        &.edit {
            font-size: 1.1rem;
        }
        &.remove {
            top: 3px;
        }
    }
}

// CORS Configuration modal dialog
.cors-config-modal {
    textarea {
        height: 10rem;
    }
}
.cors-error-wrapper {
    color: darkred;
}


// Modal overrides for top position (TODO: Devise a better way to handle this)
$modal-open-top-position: 50px;

@keyframes slidedown {
  from {
      opacity: 0;
      top: -1000px;
  }
  to {
      opacity: 1;
      top: $modal-open-top-position;
  }
}

.modal {
    .modal-content {
        top: $modal-open-top-position;
    }
}
