/* @fileOverview single Instance page CSS */

@import "../includes/eucavariables";

@mixin line-dots-mixin {
    .nv-lineChart path.nv-point {
        // show points on line charts
        stroke-opacity: 1 !important;
        fill-opacity: 1 !important;
    }
}

.cloudwatch-charts {
    .toprow {
        @include flexbox-mixin;
        .blurb {
            @include flexgrow-mixin(1);
        }
        .actions {
            display: inline-block;
        }
        label {
            font-weight: bold;
            line-height: 2.2rem;
            margin-right: 1rem;
        }
        .duration-input {
            width: 200px;
        }
        .field-wrapper {
            display: inline-block;
            margin-right: 2rem;
            select {
                width: 150px;
                margin-left: 0;
            }
        }
    }
    .alert-box {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
}

.chart-wrapper {
    h6 {
        color: $hp-gray-65;
        margin-bottom: 0;
        padding: 8px 0 4px 8px;
        border: 1px solid $hp-gray-20;
        border-bottom: none;
        .busy {
            margin-left: 1rem;
            color: $euca-grey;
            max-width: 1rem;
            max-height: 1rem;
        }
    }
    .empty-message-wrapper {
        height: 300px;
        border: 1px solid $euca-lightgrey;
        border-top: none;
        position: relative;
    }
    .empty-message {
        position: absolute;
        margin-top: 6rem;
        padding: 1rem;
        line-height: 1.2rem;
    }
    svg {
        width: 100%;
        height: 300px;
        border: 1px solid $euca-lightgrey;
        border-top: none;
        @include line-dots-mixin;
    }
    &:hover {
        cursor: pointer;
    }
}

.large-chart-wrapper {
    svg {
        width: 100%;
        height: 500px;
        @include line-dots-mixin;
    }
    .busy.loading {
        position: absolute;
        top: 50%;
        left: 48%;
        width: 3rem;
        height: 3rem;
        font-size: 3rem;
        color: $euca-grey;
    }
}

