/* @fileOverview Dashboard CSS */
@import "../includes/eucavariables";

$dashboard-panel-tile-height: 240px;
$dashboard-panel-padding: 4px;
$dashboard-panel-border-width: 4px;
$dashboard-panel-border-color: $euca-lightgrey;
$dashboard-panel-icon-size: 100px;


#maincontent {
    padding-top: 1rem;
    background: #eef7e3;
    #pagetitle {
        margin-bottom: 0.5rem;
        margin-left: 0;
        margin-top: 1rem;
        h3 {
            font-weight: bold;
            margin-top: 0;
            display: inline-block;
        }
        #zone-selector {
            display: inline-block;
            margin-left: 1rem;
        }
    }
}

.panel {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    box-sizing: border-box;
    position: relative;
    font-size: 0.825rem;
    .tile {
        background-color: white;
        position: relative;
        height: $dashboard-panel-tile-height;
        padding: 4px 8px;
        .subheader {
            font-size: 1rem;
            font-weight: 500;
            margin: 0 0 0 0;
        }
        .icon {  // Font icons
            position: absolute;
            top: 20%; left: 50%; margin-left: -($dashboard-panel-icon-size/2);
            display: inline-block;
            width: $dashboard-panel-icon-size;
            height: $dashboard-panel-icon-size;
            text-align: center;
            color: white;
            font-size: 3rem;
            em {  // Item counts
                font-size: 1.3rem;
                font-weight: bold;
                position: absolute;
                bottom: -40%; left: 0; right: 0;
                text-align: center;
                color: black;
                font-style: normal;
            }
        }
        .footer {
            position: absolute;
            height: 30px;
            left: 1rem; right: 1rem; bottom: 8px;
            text-align: center;
            a {
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }
            .button {
                display: inline-block;
                font-weight: bold;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

// SVG icons
#instances-running .icon { background-image: url(../../img/svg/icon_running_instances.svg); }
#instances-stopped .icon { background-image: url(../../img/svg/icon_stopped_instances.svg); }
#scaling-groups .icon { background-image: url(../../img/svg/icon_instances_scaling_groups.svg); }
#elastic-ips .icon { background-image: url(../../img/svg/icon_elastic_IP.svg); }
#volumes .icon { background-image: url(../../img/svg/icon_volumes.svg); }
#snapshots .icon { background-image: url(../../img/svg/icon_snapshot.svg); }
#buckets .icon { background-image: url(../../img/svg/icon_buckets.svg); }
#security-groups .icon { background-image: url(../../img/svg/icon_security_groups.svg); }
#key-pairs .icon { background-image: url(../../img/svg/icon_key-pair.svg); }
#accounts .icon { background-image: url(../../img/svg/icon_IAM_accounts.svg); }
#users .icon { background-image: url(../../img/svg/icon_IAM_users.svg); }
#groups .icon { background-image: url(../../img/svg/IAM_group.svg); }
#roles .icon { background-image: url(../../img/svg/icon_IAM_roles.svg); }

// --- Media queries
// --------------------
//


/* Small screen */
@media screen and (max-width: 480px) {

}

#service-up i {
    color:$euca-darkblue;
    font-size: 16pt;
    text-align: left;
}

#service-down i {
    color:red;
    font-size: 16pt;
    text-align: left;
}

#status {
    font-size: 11pt;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    color: $euca-grey;
    margin-top: 9px;
    margin-bottom: 0;
}
