/* @fileOverview single Load Balancer page CSS */

@import "../includes/eucavariables";

@import "../includes/landingpage";


h6.section-label {
    margin-top: 1.5rem;
}


// General tab ==================
#elb-form {
    @include item-list;
    input.text-input {
        width: 300px;
    }
    input.timeout-field {
        width: 60px;
    }
    input[type="number"] {
        width: 80px;
    }
    .stack-label {
        margin-bottom: 0.5rem;
    }
    .sub-section-label {
        color: black;
    }
    .helptext-icon {
        color: $euca-grey;
        font-size: 1.3rem;
    }
    .section-label-with-helptext-icon {
        margin-bottom: 0.5rem;
    }
    .checkbox-with-helptext-icon label {
        margin-right: 0;
    }
    .cancel-link {
        margin-right: 1.5rem;
    }
    .description {
        margin-bottom: 1.0rem;
    }
    .enable-button {
        height: 37px;
        padding-top: 0.5rem;
    }
}



#advanced-section {
    margin-top: 1.5rem;
}


// Instances tab ===================
a.nolink {
    color: $hp-gray-65;
    &:hover {
        color: $hp-gray-65 !important;
        cursor: inherit;
    }
}

p.error {
    color: darkred;
}

table.table {
    width: 100%;

    .status-descr {
        width: 20%;
    }
}

#controls_cross_zone_enabled {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.magic-search {
    margin-top: 0.5rem;
}

.tile {
    @include panel-tile-mixin;
    .footer {
        &.has-progress {
            .progress {
                padding-right: 0;
                .meter {
                    color: black;
                    text-align: left;
                }
            }
            .completed {
                position: relative;
                top: -3px;
            }
        }
        &.status {
            text-transform: none;
            &.allhealthy { background-color: $euca-darkblue; }
            &.unhealthy { background-color: darkred; }
        }
    }
}

#instance-section {
    .actions {
        text-align: right;
    }
}

// Health Checks tab ================
select[name="ping_protocol"] {
    width: 100px;
}
select[name="response_timeout"] {
    width: 120px;
}
select[name="time_between_pings"] {
    width: 100px;
}
#ping-path {
    min-width: 12rem;
    max-width: 50%;
}
#ping_port, #response_timeout, #failures_until_unhealthy, #passes_until_healthy {
    width: 4rem;
}

#access-logs-wrapper {
    margin-left: 1.5rem;
    #bucket_name, #bucket_prefix, #collection_interval {
        width: 12rem;
    }
    p {
        margin-bottom: 0.5rem;
    }
    #controls_bucket_name.stacked.controls-wrapper {
        margin-bottom: 0;
        small.error {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}
