/* @fileOverview single Load Balancer page CSS */

@import "../includes/eucavariables";

@import "../includes/landingpage";


h6.section-label {
    margin-top: 1.5rem;
}

table.table {
    width: 100%;
    tr.top-header {
        border-bottom: 0;
    }
    th.vertical-border-header {
        border-collapse: collapse;
        border-right: 1px solid #ddd;
    }
    th.center {
        text-align: center;
    }
}


// General tab ==================
#elb-view-form {
    input.text-input {
        width: 300px;
    }
    input.timeout-field {
        width: 60px;
    }
    input[type="number"] {
        width: 80px;
    }
    .stack-label {
        margin-bottom: 0.5rem;
    }
    .sub-section-label {
        color: black;
    }
    .helptext-icon {
        color: $euca-grey;
        font-size: 1.3rem;
    }
    .section-label-with-helptext-icon {
        margin-bottom: 0.5rem;
    }
    .checkbox-with-helptext-icon label {
        margin-right: 0;
    }
    .cancel-link {
        margin-right: 1.5rem;
    }
    .description {
        margin-bottom: 1.0rem;
    }
    .enable-button {
        height: 37px;
        padding-top: 0.5rem;
    }
}

#from-protocol-select, #to-protocol-select {
    width: 12rem;
}

#elb-listener-security-field {
    margin-bottom: 1.5rem;
}

#advanced-section {
    margin-top: 1.5rem;
}


// Instances tab ===================
a.nolink {
    color: $hp-gray-65;
    &:hover {
        color: $hp-gray-65 !important;
        cursor: inherit;
    }
}

table.instance-selector-table {
    width: 100%;
}

.tile {
    @include panel-tile-mixin;
    .footer {
        &.has-progress {
            .progress {
                padding-right: 0;
                .meter {
                    color: black;
                    text-align: left;
                }
            }
            .completed {
                position: relative;
                top: -3px;
            }
        }
        &.status {
            &.allhealthy { background-color: $euca-darkblue; }
            &.unhealthy { background-color: darkred; }
        }
    }
}


// Health Checks tab ================
select[name="ping_protocol"] {
    width: 100px;
}
select[name="response_timeout"] {
    width: 120px;
}
select[name="time_between_pings"] {
    width: 100px;
}
#ping-path {
    min-width: 12rem;
    max-width: 50%;
}
#ping_port, #response_timeout, #failures_until_unhealthy, #passes_until_healthy {
    width: 4rem;
}