/* @fileOverview single Load Balancer page CSS */

@import "../includes/eucavariables";

@import "../includes/landingpage";


h6.section-label {
    margin-top: 1.5rem;
}


.magic-search {
    margin-top: 0.5rem;
}

.tile {
    @include panel-tile-mixin;
    .footer {
        &.has-progress {
            .progress {
                padding-right: 0;
                .meter {
                    color: black;
                    text-align: left;
                }
            }
            .completed {
                position: relative;
                top: -3px;
            }
        }
        &.status {
            text-transform: none;
            &.allhealthy { background-color: green; }
            &.unhealthy { background-color: darkred; }
        }
    }
}

#instance-section {
    #refresh-instances-icon {
        display: none;
    }
}

// Health Checks tab ================
select[name="ping_protocol"] {
    width: 100px;
}
select[name="response_timeout"] {
    width: 120px;
}
select[name="time_between_pings"] {
    width: 100px;
}
#ping-path {
    min-width: 12rem;
    max-width: 50%;
}
#ping_port, #response_timeout, #failures_until_unhealthy, #passes_until_healthy {
    width: 4rem;
}

#access-logs-wrapper {
    margin-left: 1.5rem;
    #bucket_name, #bucket_prefix, #collection_interval {
        width: 12rem;
    }
    p {
        margin-bottom: 0.5rem;
    }
    #controls_bucket_name.stacked.controls-wrapper {
        margin-bottom: 0;
        small.error {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}
