// Import common Foundation variables
@import "../includes/eucavariables";

// Import common wizard styles
@import "../includes/wizard";


/* @section Elasitc Load Balancer Wizard styles */

#wizard-tabs {
    dd {
        a b {
            font-size: 0.85rem;
        }
        span b {
            font-size: 0.85rem;
        }
    }
}

#elb-form {
    input.text-input {
        width: 300px;
    }
    input[type="number"] {
        width: 100px;
    }
    select.ip-protocol {
        width: 100px;
    }
    select.ping-delay {
        width: 120px;
    }
    select.ping-threshold {
        width: 100px;
    }
    table {
        &.table {
            width: 100%;
        }
        margin-left: auto;
        margin-right: auto;
    }
    .section-label {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        color: $hp-gray-65;
    }
    .sub-section-label {
        color: black;
    }
    .section-label-with-helptext-icon {
        margin-bottom: 0.5rem;
    }
    .checkbox-with-helptext-icon label {
        margin-right: 0;
    }
}

// Summary area
.summary {
    .multi-row div {
        padding-bottom: 0.25rem;
    }
    .row.logging-summary {
        margin-top: 1rem;
    }
}

// Health checks tab
#access-logs-wrapper {
    margin-left: 1.5rem;
    #bucket_name, #bucket_prefix, #collection_interval {
        width: 12rem;
    }
    p {
        margin-bottom: 0.5rem;
    }
    #controls_bucket_name.stacked.controls-wrapper {
        margin-bottom: 0;
        small.error {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}
