// Import common Foundation variables
@import "../includes/eucavariables";

// Import common wizard styles
@import "../includes/wizard";


/* @section Elasitc Load Balancer Wizard styles */

form {
    .section-label {
        margin-top: 4px;
        margin-bottom: 6px;
    }
    .sub-section-label {
        color: black;
    }
}

#elb-form {
    input.text-input {
        width: 300px;
    }
    input[type="number"] {
        width: 100px;
    }
    select.ip-protocol {
        width: 100px;
    }
    select.ping-delay {
        width: 120px;
    }
    select.ping-threshold {
        width: 100px;
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }
}

#backend-certificate-form {
    @include item-list;
    .description {
        font-weight: bold;
        color: $euca-darkblue;
    }
}
