/* @fileOverview IAM Group detail view page CSS */
@import "../includes/eucavariables";

/* -----------------------------------------
   Chosen Widget Modification
----------------------------------------- */

.chosen-container-multi .chosen-choices li.search-choice { display: none; }

/* -----------------------------------------
   IAM User Icons
----------------------------------------- */
.iam-user-icon {
    color: #333;
    background-color: #cccccc;
    margin-right: 3px;
    a {
        color: white;
        margin-left: 2px;
    }
}

/* -----------------------------------------
   Extra Element Padding
----------------------------------------- */
.padded-element { padding: 5px 5px; }
.top-bottom-padding { padding-top: 10px; padding-bottom: 15px; }



