/* @fileOverview Images landing page CSS */
@import "../includes/eucavariables";

$table-width: 100%;

// Table view
.table {
    border: none;
    width: $table-width;
    thead tr {
        background-color: $euca-green;
        th {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            text-transform: uppercase;
        }
    }
    tr {
        position: relative;
        width: $table-width;
        border-bottom: 1px solid #ddd;
        td {
            position: relative;
            padding: 8px 4px 8px 6px;
            vertical-align: top;
            a {
                color: $euca-darkgreen;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

