/* @fileOverview IMage detail view page CSS */
@import "../includes/eucavariables";

/* -----------------------------------------
   Extra Element Padding
----------------------------------------- */
.padded-element { padding: 5px 5px; }
.top-padding { padding-top: 10px; }
.top-bottom-padding { padding-top: 10px; padding-bottom: 10px; }



