/* @fileOverview IMage detail view page CSS */
@import "../includes/eucavariables";

// Image state choices are: available, pending, waiting-for-shutdown, cancellng, failed, bundling, storing, registering

// State colors
$image-state-color-available: $euca-darkblue;
$image-state-color-cancelling: $euca-lightgrey;
$image-state-color-failed: darkred;
$image-state-color-pending: lighten($euca-darkblue, 20%);
$image-state-color-waiting-for-shutdown: lighten($euca-darkblue, 20%);
$image-state-color-bundling: lighten($euca-darkblue, 20%);
$image-state-color-storing: lighten($euca-darkblue, 20%);
$image-state-color-registering: lighten($euca-darkblue, 20%);

// Image states
.state { background-color: transparent; text-transform: capitalize; }
.state.available { background-color: $image-state-color-available; }
.state.cancelling { background-color: $image-state-color-cancelling; }
.state.faied { background-color: $image-state-color-failed; }
.state.pending { background-color: $image-state-color-pending; }
.state.waiting-for-shutdown { background-color: $image-state-color-waiting-for-shutdown; }
.state.bundling { background-color: $image-state-color-bundling; }
.state.storing { background-color: $image-state-color-storing; }
.state.registering { background-color: $image-state-color-registering; }

/* -----------------------------------------
   Extra Element Padding
----------------------------------------- */
.padded-element { padding: 5px 5px; }
.top-padding { padding-top: 10px; }
.top-bottom-padding { padding-top: 10px; padding-bottom: 10px; }



