/* @fileOverview Images landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";


#primary-buttons #more-actions-btn {
    margin-left: 0;
}

#delete-snapshot-wrapper {
    position: relative;
    input#delete_snapshot {
        float: left;
        margin-top: 3px;
    }
    label[for="delete_snapshot"] {
        float: left;
        width: 90%;
        margin-right: 0;
        strong {
            color: #000;
        }
    }
}


// Tile/grid view
.tile {
    .header a {
        padding-right: 4px;
    }
    .label.has-tip {
        background: white;
        color: $dxc-darkgray;
        font-weight: bold;
        border-bottom: 1px solid $dxc-darkgray;
    }
    .footer .action {
        display: block;
        position: absolute;
        left: 0; right: 0; bottom: 0;
        line-height: 1.5rem;
        text-align: center;
        background-color: $dxc-darkgray;
        color: white;
        &:hover {
            background-color: $dxc-lightgray;
        }
    }
}


// Table view
.table {
    .description {
        word-break: break-all;
    }
    .label {
        padding: 4px 6px;
        &.i386 { background-color: $dxc-darkgray; }
        &.x86_64 { background-color: $dxc-black; }
        &.ebs { background-color: $dxc-blue; text-transform: uppercase; }
        &.instance-store { background-color: $dxc-darkgray; }
    }
    .emi-name {
        display: inline-block;
        width: 12rem;
        word-break: break-all;
     }
}

// Status colors
$snapshot-status-color-pending: lighten($hpe-purple, 20%);
$snapshot-status-color-available: $hpe-purple;
$snapshot-status-color-failed: darkred;


.status.pending { background-color: $snapshot-status-color-pending; }
.status.available { background-color: $snapshot-status-color-available; }
.status.failed { background-color: $snapshot-status-color-failed; }


// Table view
.table {
    td.status {
        position: relative;
        .progress {
            position: relative;
            font-size: 0.825rem;
            margin-bottom: 0;
            .meter {
                background-color: $dxc-blue;
                padding-left: 4px;
                color: $dxc-black;
                font-weight: bold;
            }
        }
    }
    td.description {
        word-break: break-all;
    }
}

// Progress indicator of images in tile view
.tile {
    .footer {
        .completed {
            padding: 0 0 0 0;
        }
        .progress {
            text-align: left;
            position: relative;
            border: none;
            .meter {
                background-color: $dxc-blue;
                color: $dxc-black;
                position: relative;
                top: -2px; left: -2px;
                padding: 1px 0 1px 8px;
                display: inline-block;
                white-space: nowrap;
                font-weight: bold;
            }
        }
    }
}
