/* @fileOverview Instances landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";


// Table view
.table {
    th, td {
        padding: 4px 7px;
    }
    .label {
        margin: 0 0 0 0;
    }
    #div-column-name {
        width: 9rem;
    }
    #div-column-cpu {
        width: 6rem;
    }
    #div-column-memory {
        width: 8rem;
    }
    #div-column-disk {
        width: 9rem;
    }
    .type-updated {
       color: $euca-green;
    }
    a.chosen-single span {
       color: $euca-darkgrey;
    }
    .error {
       margin-top: 0.3rem;
       color: $euca-validation-error-color;
    }
}

