/* @fileOverview Instances landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";


// Status colors
$instance-status-color-running: $euca-darkblue;
$instance-status-color-pending: lighten($euca-darkblue, 20%);
$instance-status-color-stopped: darken(red, 20%);
$instance-status-color-stopping: lighten(red, 20%);
$instance-status-color-terminated: $euca-darkgrey;
$instance-status-color-terminating: lightgrey;



// Tile/table view
.status.running { background-color: $instance-status-color-running; }
.status.pending { background-color: $instance-status-color-pending; }
.status.stopped { background-color: $instance-status-color-stopped; }
.status.stopping { background-color: $instance-status-color-stopping; }
.status.terminated { background-color: $instance-status-color-terminated; }
.status.shutting-down { background-color: $instance-status-color-terminating; }


$instance-tile-height-adjustment: 24px;

// Table view
.table {
    th, td {
        padding: 4px 7px;
    }
    .label {
        margin: 0 0 0 0;
    }
}

// tile view
.tile {
    height: $tile-height + $instance-tile-height-adjustment;
    max-height: $tile-height + $instance-tile-height-adjustment;
}


#terminate-instances-btn {
    margin-left: 1rem;
    border: none;
}

.connect-center {
    text-align: center;
}

