/* @fileOverview Launch more like this instance page styles */

@import "../includes/eucavariables";

form input.name {
    margin-right: 6px;
}

#userdatalabel {
    right: 0px;
}

#controls_userdata_file {
    position: relative;
    top: -0.5rem;
    #userdata_file {
        width: 80%;
        display: inline-block;
    }
}

#controls_monitoring_enabled {
    @include helptext-icon-position-mixin;
}

.userdatalabel {
    right: 0 !important;
}

#bdmapping-editor {
    .storage-label {
        display: none;
    }
}

// big hack to give this label a little more space and avoid wrapping
@media screen and (min-width: $topbar-breakpoint) {
    #controls_ramdisk_id div label {
        width: 145px;
        left: 8px;
    }
}
