/* @fileOverview Internet Gateway details page CSS */

@import "../includes/eucavariables";

// Status colors
.status.attached { background-color: $dxc-black; }
.status.available { background-color: green; }

#name {
  width: 40%;
}

@media only screen and (max-width: 40em) {
  #name {
    width: 100%;
  }
}

