/* @fileOverview IP Addresses landing page CSS */
@import "../includes/landingpage";

form #ipcount {
    width: 3rem;
}

.reveal-modal {
    .button[type=submit] {
        display: block;
        margin: 0 auto 0 auto;
    }
}

