@import "../includes/eucavariables";

.account-details label {
    font-weight: bold;
    padding-top: 0.1rem;
    color: #6a737b;
}

.password-strength {
    span.strength {
        width: 100%;
        display: inline-block;
    }

    &.password-none {
        span.strength {
            display: none;
        }
    }

    &.password-weak {
        span.strength {
            color: $euca-validation-error-color;
            border-top: 4px solid $euca-validation-error-color;
            &:after {
                content: "weak";
            }
        }
    }

    &.password-medium {
        span.strength {
            color: $hp-gold;
            border-top: 4px solid $hp-gold;
            &:after {
                content: "medium";
            }
        }
    }

    &.password-strong {
        span.strength {
            color: $euca-darkgreen;
            border-top: 4px solid $euca-darkgreen;
            &:after {
                content: "strong";
            }
        }
    }
}