@import "../includes/eucavariables";

.account-details label {
    font-weight: bold;
    padding-top: 0.1rem;
    color: #6a737b;
}

form[name="eucaChangePassword"] {
    .error {
        display: none;
        margin-bottom: 6px;
        background-color: transparent;
        color: $euca-validation-error-color;
        font-style: normal;
        font-weight: bold;
        padding: 0 0 4px 0;
    }

    &.ng-invalid {
        &.ng-invalid-nomatch {
            .error.passwords-match {
                display: none !important;
            }
            .error.password-different {
                display: block;
            }
        }

        &.ng-invalid-match {
            .error.passwords-match {
                display: block;
            }
        }

        &.ng-invalid-pattern {
            .error.passwords-match {
                display: none !important;
            }
            .error.bad-pattern {
                display: block;
            }
            .strength {
                display: none;
            }
        }
    }
}

.password-strength {
    span.strength {
        width: 100%;
        display: inline-block;
    }

    &.password-none {
        span.strength {
            display: none;
        }
    }

    &.password-weak {
        span.strength {
            color: $euca-validation-error-color;
            border-top: 4px solid $euca-validation-error-color;
            &:after {
                content: "weak";
            }
        }
    }

    &.password-medium {
        span.strength {
            color: $hp-gold;
            border-top: 4px solid $hp-gold;
            &:after {
                content: "medium";
            }
        }
    }

    &.password-strong {
        span.strength {
            color: $euca-darkgreen;
            border-top: 4px solid $euca-darkgreen;
            &:after {
                content: "strong";
            }
        }
    }
}