/* @fileOverview NAT Gateway details page CSS */

@import "../includes/eucavariables";

// Status colors
.status.available { background-color: green; }
.status.pending { background-color: lighten(green, 15%); }
.status.deleting { background-color: $dxc-lightgray; }
.status.deleted { background-color: $dxc-darkgray; }
.status.failed { background-color: darkred; }

.warning .fi-alert {
  color: darkred;
}
