/* @fileOverview NAT Gateway details page CSS */

@import "../includes/eucavariables";

// Status colors
.status.available { background-color: $hpe-slate; }
.status.pending { background-color: lighten($hpe-slate, 20%); }
.status.deleting { background-color: $hpe-lightgray; }
.status.deleted { background-color: $hpe-gray; }
.status.failed { background-color: darkred; }

.warning .fi-alert {
  color: darkred;
}
