@import "../includes/eucavariables";
@import "../includes/landingpage";

@import "../widgets/modal";

select {
    width: 12rem;
}

.active-tags {
    select {
        width: 40rem;
    }
}

.cancel-link {
    margin-left: 2rem;
    color: $euca-grey;
    &:hover {
        color: $hpe-green;
    }
}

form {
    .error {
        font-size: small;
        display: none;
    }
}

.policy-text-area {
    height: 15rem;
    overflow-y: scroll;
}

.totals {
    text-align: right;
}

.usage-service {
    color: $hpe-black;
    font-weight: bold;
}
