@import "../includes/eucavariables";

@import "../widgets/modal";

select {
    width: 12rem;
}

.active-tags {
    select {
        width: 40rem;
    }
}

.cancel-link {
    margin-left: 2rem;
    color: $dxc-black;
    &:hover {
        color: $dxc-darkgray;
    }
}

form {
    .error {
        font-size: small;
        display: none;
    }
}

.policy-text-area {
    height: 15rem;
    overflow-y: scroll;
}

.totals {
    text-align: right;
}

.usage-service {
    color: $dxc-black;
    font-weight: bold;
}

.table {
    @include table-styles-mixin;
    width: 100%
}

#usage-reports-modal {
    .row {
        padding-left: 1rem;
        .columns {
            padding-left: 0;
        }
    }
}

svg {
    height: 300px;
    width: 100%;
}
