/* @fileOverview Snapshot detail page CSS */
@import "../includes/eucavariables";



.invalid-rule-type {
    padding-top: 8px;
    padding-bottom: 14px;
}

.invalid-rule-type-label {
    color: $dxc-darkgray;
}

.invalid-rule {
    padding-bottom: 8px;
}

