/* @fileOverview Snapshot detail page CSS */
@import "../includes/eucavariables";

.progress {
    display: inline-block;
    width: 50%;
    .meter {  // barbershop progress indicator
        background-color: lighten($euca-darkblue, 20%);
        padding-left: 6px;
        padding-top: 4px;
        font-size: 0.825rem;
        font-weight: bold;
    }
}

.label.status {
    text-transform: capitalize;
    &.failed {
        background-color: darken(red, 20%);
    }
    &.completed { 
        background-color: $euca-darkblue;
    }
    &.pending { 
        background-color: lighten($euca-darkblue, 20%); 
    }
}

