/* @fileOverview Snapshots landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";


// Status colors
$snapshot-status-color-pending: lighten($euca-darkblue, 20%);
$snapshot-status-color-completed: $euca-darkblue;
$snapshot-status-color-failed: darken(red, 20%);

// Mixin for the "in-progress" dots indicator
@mixin progress-dots {
    position: absolute;
    width: 16px; height: 11px;
    top: 8px; right: 8px;
}


.status.pending { background-color: $snapshot-status-color-pending; }
.status.completed { background-color: $snapshot-status-color-completed; }
.status.failed { background-color: $snapshot-status-color-failed; }


// Table view
.table {
    td.status {
        position: relative;
        .progress {
            position: relative;
            font-size: 0.825rem;
            margin-bottom: 0;
            .meter {
                padding-left: 4px;
                color: black;
                font-weight: bold;
            }
            .dots {
                @include progress-dots;
                width: 20px;
                top: 6px; right: 4px;
            }
        }
    }
    td.description {
        word-break: break-all;
    }
}

// Progress indicator of snapshots in tile view
.tile {
    .footer {
        .completed {
            padding: 0 0 0 0;
        }
        .progress {
            text-align: left;
            position: relative;
            border: none;
            .meter {
                color: black;
                position: relative;
                top: -2px; left: -2px;
                padding: 1px 0 1px 8px;
                display: inline-block;
                white-space: nowrap;
                font-weight: bold;
            }
            .dots {
                @include progress-dots;
            }
        }
    }
}
