/* @fileOverview Cloud Formations landing page CSS */
@import "../includes/landingpage";

// Status colors
$stack-status-color-create-in-progress: lighten(green, 15%);
$stack-status-color-create-complete: green;
$stack-status-color-create-failed: darkred;
$stack-status-color-rollback-in-progress: $dxc-lightgray;
$stack-status-color-rollback-complete: $dxc-darkgray;
$stack-status-color-rollback-failed: darkred;
$stack-status-color-delete-in-progress: $dxc-lightgray;
$stack-status-color-delete-complete: $dxc-darkgray;
$stack-status-color-delete-failed: darkred;
$stack-status-update-in-progress: lighten(green, 15%);
$stack-status-update-complete-cleanup-in-progress: lighten(green, 15%);
$stack-status-update-complete: green;
$stack-status-update-rollback-in-progress: $dxc-lightgray;
$stack-status-update-rollback-failed: darkred;
$stack-status-update-rollback-complete-cleanup-in-progress: $dxc-lightgray;
$stack-status-update-rollback-complete: $dxc-darkgray;

// Stack status
.status.create-in-progress { background-color: $stack-status-color-create-in-progress; }
.status.create-complete { background-color: $stack-status-color-create-complete; }
.status.create-failed { background-color: $stack-status-color-create-failed; }
.status.rollback-in-progress { background-color: $stack-status-color-rollback-in-progress; }
.status.rollback-complete { background-color: $stack-status-color-rollback-complete; }
.status.rollback-failed { background-color: $stack-status-color-rollback-failed; }
.status.delete-in-progress { background-color: $stack-status-color-delete-in-progress; }
.status.delete-complete { background-color: $stack-status-color-delete-complete; }
.status.delete-failed { background-color: $stack-status-color-delete-failed; }
.status.update-in-progress { background-color: $stack-status-update-in-progress; }
.status.update-complete-cleanup-in-progress { background-color: $stack-status-update-complete-cleanup-in-progress; }
.status.update-complete { background-color: $stack-status-update-complete; }
.status.update-rollback-in-progress { background-color: $stack-status-update-rollback-in-progress; }
.status.update-rollback-failed { background-color: $stack-status-update-rollback-failed; }
.status.update-rollback-complete-cleanup-in-progress { background-color: $stack-status-update-rollback-complete-cleanup-in-progress; }
.status.update-rollback-complete { background-color: $stack-status-update-rollback-complete; }
