/* @fileOverview VPC details page CSS */

@import "../includes/eucavariables";

// Subnet State colors
.state.available { background-color: $hpe-slate; }
.state.pending { background-color: lighten($hpe-slate, 20%); }


#name {
  width: 40%;
}

@media only screen and (max-width: 40em) {
  #name {
    width: 100%;
  }
}
