/* @fileOverview Subnet details page CSS */

@import "../includes/eucavariables";

// Subnet State colors
.state.available { background-color: $hpe-slate; }
.state.pending { background-color: lighten($hpe-slate, 20%); }

// Instance state colors
.status.running { background-color: $hpe-slate; }
.status.pending { background-color: lighten($hpe-slate, 20%); }
.status.stopped { background-color: darkred; }
.status.stopping { background-color: lighten(red, 20%); }
.status.terminated { background-color: $hpe-gray; }
.status.shutting-down { background-color: $hpe-lightgray; }


#name, #route_table, #public_ip_auto_assignment {
  width: 40%;
}

#subnet-instances-link {
  text-align: right;
}

@media only screen and (max-width: 40em) {
  #name, #route_table, #public_ip_auto_assignment {
    width: 100%;
  }
}

// Instances table
table.instances {
  width: 100%;
  margin-bottom: 1rem;
}
