/* @fileOverview IAM Users landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";

.status.active { background-color: green; }
.status.disabled { background-color: $dxc-darkgray;}
.status.undefined { background-color: transparent; }
