/* @fileOverview IAM Users landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";

.status.active { background-color: $euca-darkblue; }
.status.disabled { background-color: $euca-grey;}
