/* @fileOverview Volumes landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";

// Volume status choices are: creating, available, in-use, deleting, deleted, error
// Attach status choices (volume.attach_data.status) are: attaching, attached, detaching, detached

// Status colors
$volume-status-color-creating: lighten(green, 20%);
$volume-status-color-available: green;
$volume-status-color-detached: green;
$volume-status-color-detaching: lighten(green, 20%);
$volume-status-color-deleting: $dxc-lightgray;
$volume-status-color-deleted: $dxc-darkgray;
$volume-status-color-error: darkred;
$volume-status-color-attached: $dxc-black;
$volume-status-color-attaching: lighten($dxc-black, 20%);

.alarm-status.alarm { background-color: $alarm-status-color-alarm; }
.alarm-status.insufficient_data { background-color: $alarm-status-color-insufficient-data; }
.alarm-status.ok { background-color: $alarm-status-color-ok; }

// Volume status
.status.creating { background-color: $volume-status-color-creating; }
.status.available { background-color: $volume-status-color-available; }
.status.in-use { background-color: $volume-status-color-attached; }
.status.deleting { background-color: $volume-status-color-deleting; }
.status.deleted { background-color: $volume-status-color-deleted; }
.status.failed { background-color: $volume-status-color-error; }

// Volume attach_data status styles
.status.attaching { background-color: $volume-status-color-attaching; }
.status.attached { background-color: $volume-status-color-attached; }
.status.detached { background-color: $volume-status-color-detached;  }
.status.detaching { background-color: $volume-status-color-detaching;  }


.table td.instance {
    white-space: nowrap;
}