/* @fileOverview Volumes landing page CSS */
@import "../includes/eucavariables";

@import "../includes/landingpage";

// Volume status choices are: creating, available, in-use, deleting, deleted, error
// Attach status choices (volume.attach_data.status) are: attaching, attached, detaching, detached

// Status colors
$volume-status-color-attached: $euca-darkblue;
$volume-status-color-attaching: lighten($euca-darkblue, 20%);
$volume-status-color-detached: $euca-olive;
$volume-status-color-detaching: lighten($euca-olive, 20%);
$volume-status-color-deleting: lighten($euca-grey, 10%);
$volume-status-color-deleted: darken($euca-grey, 10%);
$volume-status-color-error: darkred;
$volume-status-color-creating: lighten($euca-olive, 20%);
$volume-status-color-available: $euca-olive;


// Volume status
.status.creating { background-color: $volume-status-color-creating; }
.status.available { background-color: $volume-status-color-available; }
.status.in-use { background-color: $volume-status-color-attached; }
.status.deleting { background-color: $volume-status-color-deleting; }
.status.deleted { background-color: $volume-status-color-deleted; }

// Volume attach_data status styles
.status.attaching { background-color: $volume-status-color-attaching; }
.status.attached { background-color: $volume-status-color-attached; }
.status.detached { background-color: $volume-status-color-detached;  }
.status.detaching { background-color: $volume-status-color-detaching;  }


.table td.instance {
    white-space: nowrap;
}