/* @fileOverview VPC details page CSS */

@import "../includes/eucavariables";

// VPC State colors
.state.available { background-color: $hpe-slate; }
.state.pending { background-color: lighten($hpe-slate, 20%); }

.table.subnets {
  width: 100%;
}

// Set main route table dialog
#controls_route_table {
  select {
    width: 30%;
  }
}

