/* @fileOverview VPC details page CSS */

@import "../includes/eucavariables";

// VPC State colors
.state.available { background-color: $hpe-slate; }
.state.pending { background-color: lighten($hpe-slate, 20%); }

.table.subnets {
  width: 100%;
}

#name, #internet_gateway, #subnet_name, #subnet_cidr_block, #availability_zone {
  width: 40%;
}

@media only screen and (max-width: 40em) {
  #name, #internet_gateway, #subnet_name, #subnet_cidr_block, #availability_zone {
    width: 100%;
  }
}


// Set main route table dialog
#controls_route_table {
  select {
    width: 30%;
  }
}

// Delete vpc dialog
#delete-vpc-modal {
  a:hover {
    text-decoration: underline;
  }
  .default-vpc-warning {
    color: red;
  }
  button.button.warning {
    background-color: red;
    &:hover {
      outline-color: red;
    }
  }
  .resources-list {
    margin-bottom: 1rem;
    .small-3 {
      text-align: right;
      font-weight: bold;
    }
  }
}

// Add subnet dialog
#add-subnet-modal {
  hr {
    margin-bottom: 0;
  }
  .required-fields-indicator {
    margin-bottom: 1rem;
  }
}
