/* @fileOverview VPCs landing page CSS */
@import "../includes/landingpage";

// VPC State colors
.state.available { background-color: green; }
.state.pending { background-color: lighten(green, 20%); }


// Table view
.table {
    .subnet-item {
        min-width: 10rem;
    }
}

// tile view
$tile-height-adjustment: 36px;
.tile {
    height: $tile-height + $tile-height-adjustment;
    max-height: $tile-height + $tile-height-adjustment;
}
