// Delete alarm dialog styles
@import "../includes/eucavariables";

#delete-alarm-modal {
    p {
        margin: 0 0 7px;
    }
    .header {
        color: #444;
        text-transform: uppercase;
        font-size: $euca-font-size;
        font-weight: bold;
        .columns {
            padding: 0;
        }
    }
    .alarm-dimensions {
        margin: 0 0 20px;
        .columns {
            padding: 0;
        }
    }
    .row.control {
        margin: 0 0 15px;
    }
}
