@import "includes/eucavariables";

.create-alarm-modal {
    .dimensions {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .error {
        display: none;
    }

    .ng-invalid {
        .button {
            &.submit {
                @include disabled-button-mixin;
            }
        }
    }

    .ng-invalid {
        &.ng-submitted {
            .error {
                display: block;
            }
        }
    }
}
