@import "../includes/eucavariables";
@import "../widgets/modal";

.wizard {
    .error {
        font-size: small;
        display: none;
    }

    input.ng-invalid.ng-touched ~ .error {
        display: block;
        @include validation-error-mixin;
    }
}
