/* @fileOverview ELB Listener Editor Widget CSS */

@import "../includes/eucavariables";


#elb-listener-editor {
    .controls-wrapper {
        display: inline-block;
        margin-right: 1.5rem;
        label {
            margin-right: 0.5rem;
        }
        input, select {
            display: inline-block;
        }
        select.ip-protocol {
            width: 8rem;
        }
        .elb-port-tooltip {
            position: relative;
            left: -8px;
        }
        #from-port-error {
            margin-left: 1rem;
        }
    }
    .security-row {
        label.inline {
            width: 7rem;
            text-align: right;
            line-height: 1.1rem;
            margin: 0 0.5rem 0 0;
            padding: 0 0 0 0;
        }
    }
    .security-section {
        margin-bottom: 1.5rem;
    }
    .label.radius {
        color: $hp-gray-65;
        &.cert {
            background-color: $hp-gray-20;
        }
        &.bcert {
            background-color: $hp-gray-40;
            margin-right: 6px;
        }
    }
    #listeners-table-security-header {
        // Adjust alignment of SECURITY table header based on certificates in table
        padding-left: 3.5rem;
        &.has-certificate {
            padding-left: 0;
            text-align: center;
        }
    }
}

#select-certificate-modal {
    @include item-list;
    .section-label {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        color: $hp-gray-65;
    }
    #backend-certificates-display {
        margin-bottom: 1rem;
    }
    #new-certificate-wrapper {
        padding-left: 1rem;
    }
}

