/* @fileOverview ELB Security Policy Editor Widget CSS */

@import "../includes/eucavariables";


#elb-security-policy-modal {
    #new-policy-wrapper {
        padding-left: 1rem;
        h6, label {
            text-transform: uppercase;
            font-family: $euca-header-font-family;
            font-size: 0.9rem;
            font-weight: bold;
        }
        h6 {
            position: relative;
            left: 14px;
        }
    }
}