// Import common Foundation variables
@import "../includes/eucavariables";

// Pull in third-party Magic Search Bar styles
@import "../../js/thirdparty/magic-search/magic_search";

.search-bar {
    border-color: $dxc-black;
    .item-list {
        .item {
            position: relative;
            top: -1px;
            background-color: white;
            border: 2px solid $dxc-darkgray;
            height: 1.5rem;
            a {
                color: $dxc-darkgray;
            }
            i.fi-x {
                padding-left: 4px;
            }
        }
    }
}

