@import "../includes/eucavariables";


.route-table-editor {
  #routes {
    visibility: hidden;
  }
  table.table {
    width: 67%;
  }
  @media only screen and (max-width: 40em) {
    table.table {
      width: 100%;
    }
  }
}
