@charset "UTF-8";

/* @fileOverview S3 Sharing panel widget Sass CSS styles */

@import "../includes/eucavariables";


#s3-sharing-panel {
    .items {
        margin-bottom: 6px;
        .grantentry {
            color: #333;
            background-color: $euca-extralightgrey;
            margin-right: 8px;
            a {
                color: white;
            }
        }
    }
    #share_type {
        list-style-type: none;
        margin-bottom: 0;
        li {
            display: inline-block;
        }
    }
    #share_account, #share_permissions {
        width: 50%;
    }
    #controls_share_account label {
        white-space: nowrap;
    }
}

