@import "../includes/eucavariables";

.tag-editor {
  @include item-list;

  .add-label {
    color: $dxc-darkgray;
    font-size: $euca-font-size;
    margin-bottom: 6px;
  }

  .tag-entry-result {
    display: none;
  }

  &.ng-pristine,
  &.ng-invalid {
    .button {
        @include primary-disabled-button-mixin;
        &:hover {
            box-shadow: none;
        }
    }
  }

  input.ng-invalid.ng-touched ~ .error {
    display: block;
    @include validation-error-mixin;
  }

  #propagate-wrapper {
    white-space: nowrap;
    .helptext-icon {
      position: relative;
      left: -10px;
    }
  }
}
