@import "../includes/eucavariables";

.tag-editor {
  .item-list {
    margin-bottom: 6px;

    .item {
      color: $dxc-darkgray;
      font-family: $euca-header-font-family;
      font-size: $euca-xs-font-size;
      background-color: white;
      border: 2px solid $dxc-lightgray;
      padding: 0.25rem 0.5rem;
      border-radius: 3px;
      white-space: nowrap;
      line-height: 1;
      display: inline-block;
      margin: 5px 8px 0 0;

      .propagates {
        color: #777;
      }

      a.remove {
        color: $dxc-black;
        &:hover {
            color: $dxc-darkgray;
        }
        margin-left: 5px;
      }
    }
  }

  .add-label {
    color: $dxc-darkgray;
    font-size: $euca-l-font-size; 
    margin-bottom: 6px;
  }

  .tag-entry-result {
    display: none;
  }

  &.ng-pristine,
  &.ng-invalid {
    .button {
        @include primary-disabled-button-mixin;
        &:hover {
            box-shadow: none;
        }
    }
  }

  input.ng-invalid.ng-touched ~ .error {
    display: block;
    @include validation-error-mixin;
  }
}
